<div class="full-width" layout="column">

	<div class="center" ng-if="isLoading">
		<md-progress-circular md-mode="indeterminate" class="primary center" md-diameter="50"></md-progress-circular>
	</div>

	<!--Wallet summary-->
	<div class="wallet-jumbotron" ng-if="!isLoading">

		<div layout-gt-sm="row" class="container">
			<div class="summary" flex>
				<div class="earned">
					<p class="label">Total Earned</p>
					<h4 class="amount"> {{ wallet.balance.earned | currency }} </h4>
				</div>
			</div>
			<div class="summary" flex>
				<div class="earned">
					<p class="label">Total Spent</p>
					<h4 class="amount"> {{ wallet.balance.spent | currency }}</h4>
				</div>
			</div>
			<div class="summary" flex>
				<div class="withdrawn">
					<p class="label">Total Withdrawn</p>
					<h4 class="amount"> {{ wallet.balance.withdrawn | currency }}</h4>
				</div>
			</div>
			<div class="summary" flex>
				<div class="balance">
					<p class="label">Wallet balance</p>
					<h4 class="amount"> {{ wallet.balance.balance | currency }}</hx4>
				</div>
			</div>
		</div>
	</div>

	<!--Action Set-->
	<div class="financial-history-actions" ng-if="!isLoading && wallet.transactions.length !== 0" layout-gt-sm="row">

		<div flex="50">
			<md-input-container flex>
	          	<label>Choose a time period</label>
	          	<md-select ng-model="period">
	          		<md-option value="all">Show all</md-option>
	            	<md-option value="past week">Past week</md-option>
	            	<md-option value="past month">Past month</md-option>
	            	<md-option value="past 3 months">Past 3 months</md-option>
	            	<md-option value="past 6 months">Past 6 months</md-option>
	          	</md-select>
	        </md-input-container>
		</div>

		<div flex>
			<md-button class="md-raised success pad-btn right cashout" ng-click="showCashOut($event)">
				<span class="fa fa-retweet"></span> Cash out
			</md-button>
		</div>
	</div>

	<!--Financial Transaction Detail-->
	<div class="table alt-rows financial-history" ng-if="!isLoading && wallet.transactions.length !== 0">
		<div class="tbl-header tbl-row" layout-gt-sm="row">

			<div class="tbl-mobile">TRANSACTION HISTORY</div>
			<div class="tbl-cell" flex="5"></div>
			<div class="tbl-cell" flex="15"><h4>Trans ID</h4></div>
			<div class="tbl-cell" flex="50"><h4>Details</h4></div>
			<div class="tbl-cell" flex="11"><h4> Amount</h4></div>
			<div class="tbl-cell" flex><h4> Date</h4></div>

		</div>

		<div class="tbl-row alt-rows" ng-repeat="transaction in wallet.transactions" layout-gt-sm="row">

			<div class="tbl-cell status-column" ng-if="transaction.status === 'success'" flex="5">
				<span class="fa fa-check primary"></span>
				<md-tooltip md-direction="down">
		          Transaction Successful
		        </md-tooltip>
			</div>
			<div class="tbl-cell status-column" ng-if="transaction.status === 'error'" flex="5">
				<span class="fa fa-close danger"></span>
				<md-tooltip md-direction="down">
		          Transaction Failed
		        </md-tooltip>
			</div>
			<div class="tbl-cell status-column" ng-if="transaction.status === 'pending'" flex="5">
				<span class="fa fa-circle-o ready"></span>
				<md-tooltip md-direction="down">
		          Transaction Pending
		        </md-tooltip>
			</div>

			<div class="tbl-cell" flex="15"><p><strong class="label-mobile">ID:</strong> &nbsp; {{transaction.transaction_id}}</p></div>
			<div class="tbl-cell" flex="50"><p><strong class="label-mobile">DETAILS:</strong> &nbsp; {{transaction.details}}</p></div>
			<div class="tbl-cell" flex="11"><p><strong class="label-mobile">AMOUNT:</strong> &nbsp; {{ transaction.amount | currency }} </p></div>
			<div class="tbl-cell" flex><p><strong class="label-mobile">DATE:</strong> &nbsp; {{transaction.created}}</p></div>

		</div>
	</div>

	<!--If there is no financial history -->
	<div class="no-data-placeholder center-text update" ng-if="!isLoading && wallet.transactions.length === 0">
		<div class="detail">
			<h1 class="icon fa fa-credit-card"></h1>

			<h2>You need a job!</h2>

			<p>
				It seems you have neither posted or worked on a job. When you post a job or take on a job, your financial activities can be viewed here.
			</p>

			<button class="md-button jumbo success centered" ui-sref="app.jobs">Browse Jobs Now</button>
		</div>
	</div>

</div>
