<md-dialog aria-label="Withdraw From Wallet" id="cashout-container" ng-cloak>
	<md-dialog-content layout="column" layout-align="center center" layout-padding>
			<md-input-container layout="column" layout-align="center center" layout-padding>
	    	<label>Amount to Withdraw</label>
	    	<input type="number" class="md-display-1" ng-model="withdrawalParams.amount">
	    </md-input-container>
      <md-button class="jumbo lg success mdl-js-button mdl-js-ripple-effect" ng-click="cashOut()">Cash Out</md-button>
      <md-progress-circular ng-if="isCashingOut" md-mode="indeterminate" class="primary center spinner" md-diameter="20"></md-progress-circular>

		<p>It takes between 1 - 3 working days for your account to be credited.</p>
	</md-dialog-content>
</md-dialog>
