<div class="app">

    <div class="sidebar-overlay" layout="row">

        <!--Projects Navigation-->
        <div class="projects-nav">

            <div layout="row" class="sidebar-header" hide-gt-sm>
                <div class="logo" flex="80"></div>
                <div class="toggle-sidebar close" flex><a href="#">&#215;</a></div>
            </div>

            <!-- Hire a freehand button for mobile -->
            <!-- <div class="create-mobile" layout="row">
                <a href="/create-job" class="regular-btn success" toggle-sidebar> <i class="fa fa-briefcase"></i>
                    &nbsp;Hire a freehand!</a>
            </div> -->

            <div class="projects">
                <div class="accordion" one-at-a-time="true" ng-cloak>
                    <!-- Active Jobs -->
                    <div class="accordion-item active">
                        <h4 flex class="project-heading">
                            <span>Active Jobs</span>
                            <span class="fa fa-chevron-down right" icon></span>
                        </h4>

                        <section class="accordion-body">
                            <div class="no-project" ng-if="activeJobs.length === 0">
                                <div class="content"><p>no active jobs yet</p></div>
                            </div>

                            <div>
                                <a ui-sref="app.job({ jobTitle: '{{ job.title | hyphenate }}' })" class="project"
                                   ng-if="activeJobs.length !== 0"
                                   ng-repeat="job in activeJobs" toggle-sidebar>{{job.title}}</a>
                            </div>
                        </section>
                    </div>

                    <!-- Pending Jobs -->
                    <div class="accordion-item">
                        <h4 flex class="project-heading">
                            <span>Pending Jobs</span>
                            <span class="fa fa-chevron-down right" icon></span>
                        </h4>

                        <section class="accordion-body">
                            <div class="no-project" ng-if="pendingJobs.length === 0">
                                <div class="content"><p>no pending jobs</p></div>
                            </div>

                            <div>
                                <a ui-sref="app.bids({ jobTitle: '{{ job.title | hyphenate }}', job: job })" class="project"
                                   ng-if="pendingJobs.length !== 0"
                                   ng-repeat="job in pendingJobs" toggle-sidebar>{{job.title}}</a>

                            </div>
                        </section>
                    </div>

                    <!-- Completed Jobs -->
                    <div class="accordion-item">
                        <h4 flex class="project-heading">
                            <span>Completed Jobs</span>
                            <span class="fa fa-chevron-down right" icon></span>
                        </h4>

                        <section class="accordion-body">
                            <div class="no-project" ng-if="completedJobs.length === 0">
                                <div class="content"><p>no completed jobs</p></div>
                            </div>

                            <div>
                                <a ui-sref="app.job({ jobTitle: '{{ job.title | hyphenate }}' })" class="project"
                                   ng-if="completedJobs.length !== 0"
                                   ng-repeat="job in completedJobs" toggle-sidebar>{{job.title}}</a>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>

        <div class="overlay toggle-sidebar" hide show-gt-sm flex></div>
    </div>

    <!--Content Area-->
    <div layout-gt-sm="row" layout-sm="column">

        <div id="main-content">

            <!--Horizontal Navigation-->
            <nav>
                <md-toolbar>
                    <div class="md-toolbar-tools container" id="regular-menu-content" layout="row">
                      <div class="logo-sidebar" layout="row">
                          <a href="#" class="toggle-sidebar center"><i class="fa fa-bars"></i></a>
                      </div>
                        <!--menu options-->
                        <div flex hide show-gt-sm>
                            <ul class="menu-options">
                                <!--<li>
                                    <a href="/dashboard" ng-class="{'active':isActiveNav('dashboard')}" ng-click="setActiveNav('dashboard')">Dashboard</a>
                                </li>-->

                                <li>
                                    <a href="/jobs" ng-class="{'active':isActiveNav('jobs')}"
                                       ng-click="setActiveNav('jobs')">Latest Jobs</a>
                                </li>

                                <li>
                                    <a href="/freelancers" ng-class="{'active':isActiveNav('freelancers')}"
                                       ng-click="setActiveNav('freelancers')">Verified Freelancers</a>
                                </li>
                            </ul>
                        </div>

                        <!-- logo -->
                          <div class="logo" flex>
                              <a href="/jobs" ng-class="{'active':isActiveNav('jobs')}"
                                 ng-click="setActiveNav('jobs')" hide show-gt-sm>
                                  <img src="public/dist/imgs/logo.png" alt="hirefreehands freelancing platform">
                              </a>
                              <a href="/jobs" ng-class="{'active':isActiveNav('jobs')}"
                                 ng-click="setActiveNav('jobs')" hide-gt-sm>
                                  <img src="public/dist/imgs/HFH-icon.png" alt="hirefreehands freelancing platform">
                              </a>
                          </div>

                        <!--utilities-->
                        <div flex class="menu-utilities">
                            <ul class="right">
                                <li class="" hide show-gt-sm>
                                    <a href="/create-job" class="regular-btn success">Hire a freehand!</a>
                                </li>

                                <li class="notifications">
                                    <span class="count"
                                          ng-if="unreadNotifications !== undefined && unreadNotifications > 0">{{unreadNotifications}}</span>
                                    <a href="#" class="fa fa-bell" ng-click="markAllAsRead()"
                                       toggle-dropdown=".notification-list"></a>

                                    <div class="notification-list toggled-dropdown">
                                        <ul>
                                            <li ng-if="notifications === undefined || notifications.length === 0"
                                                toggle-dropdown=".notification-list">
                                                You have no new notifications
                                            </li>
                                            <li class="notification-msg" ng-repeat="notification in notifications"
                                                ng-if="notifications.length > 0"
                                                toggle-dropdown=".notification-list"
                                                ng-bind-html="spewHTML(notification.message)">
                                            </li>
                                        </ul>
                                    </div>
                                </li>

                                <li class="logged-in-profile-pic" toggle-dropdown=".utility-options">
                                    <a class="profile-pic" ng-if="getProfilePhoto()" href="#"
                                       style="background:url({{getProfilePhoto()}});"></a>
                                    <div class="profile-pic" ng-if="!getProfilePhoto()" ng-avatar
                                         initials="{{getCurrentUserInitials()}}" bg-color="rgb(76,175,80)"
                                         round-shape="true" text-shadow="true"></div>

                                    <div class="utility-options toggled-dropdown">
                                        <ul>
                                            <li><h4 class="logged-in-as">{{getCurrentUser().username}}</h4></li>
                                            <li><a href="/profile"><i class="fa fa-user"></i> Profile</a></li>
                                            <li><a href="/wallet"><i class="fa fa-google-wallet"></i> Wallet</a>
                                            </li>
                                            <li hide-gt-sm><a href="/freelancers"><i class="fa fa-check"></i> Verified Freelancers</a></li>
                                            <li><a href="/settings"><i class="fa fa-cog"></i> Settings</a></li>
                                            <li><a href="/support"><i class="fa fa-life-bouy"></i> Support</a></li>
                                            <li><a href="/freelancers/verification"><i
                                                    class="fa fa-check-circle"></i>
                                                {{isAgent()}}</a></li>
                                            <li><a href="#" ng-click="logout()"><i class="fa fa-reply-all"></i>
                                                Logout</a></li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <!-- More option for mobile -->
                        <!-- <md-button href="/create-job" class="success center hire-mobile" hide-gt-sm> <i class="fa fa-briefcase"></i> &nbsp; Hire A freehand</md-button> -->
                        <!-- <div hide-gt-sm class="tray-mobile" flex="15">
                            <a href="#" toggle-tray-menu><i class="fa fa-ellipsis-v"></i></a>
                        </div> -->
                    </div>

                    <div class="md-toolbar-tools" id="tray-menu-content" layout="row" layout-align="center center" flex hide-gt-sm>
                        <a id="close-tray-menu" href="#" toggle-tray-menu flex="10">&times;</a>
                        <div flex></div>
                        <ul class="menu-utilities" flex="30"></ul>
                    </div>
                </md-toolbar>
            </nav>

            <!--Include App Sub Views-->
            <div style="width: 100%;" hide-all-dropdowns>
                <div ui-view="app-sub-view" layout-gt-sm="row" class="dynamic-content-area" flex></div>
            </div>
        </div>
    </div>
</div>
