<div class="section" layout="column">

        <p>What type of app are you looking to build?</p>


        <md-radio-group name="jobScope" ng-model="job.scope" ng-change="resetJobPrice()" required> 

          <md-radio-button ng-value="scope" ng-repeat="scope in job.category.scopes" ng-click="setScopeFeaturesFor(scope)">
                <div>
                    {{ scope.title }}
                </div>
                <p ng-if="scope.example" style="font-scope: smaller;">Eg: {{ scope.example }}</p>
          </md-radio-button>

        </md-radio-group>

        <div class="errors" ng-messages="createJobForm.jobScope.$error && createJobForm.jobScope.$dirty">
            <div ng-message="required">This is required.</div>
        </div>

</div>
