<div class="section" layout="column">

        <p>What option best describe the kind of app you are trying to build?</p>


        <md-radio-group name="jobScope" ng-model="job.scope" ng-change="resetJobPrice()" required> 

          <md-radio-button ng-value="scope" ng-repeat="type in application_types" ng-click="setScopeDurationAndAddon(scope)">
                <div>
                    {{ type.name }}
                </div>
                <!-- <p ng-if="scope.example" style="font-scope: smaller;">Eg: {{ scope.example }}</p> -->
          </md-radio-button>

        </md-radio-group>

        <div class="errors" ng-messages="createJobForm.jobScope.$error && createJobForm.jobScope.$dirty">
            <div ng-message="required">This is required.</div>
        </div>

</div>
