<div class="section" layout="column">

    <md-input-container class="md-block">
        <label>Briefly Describe The Job</label>
        <textarea columns="1" rows="4" md-maxlength="500" name="jobDescription" ng-model="job.description" md-select-on-focus required></textarea>

        <div class="errors" ng-messages="createJobForm.jobDescription.$error">
            <div ng-message="required">A well-detailed description would help provide a lot of context on your job, to freelancers.</div>
            <div ng-message="md-maxlength">Your job description should be concise.</div>
        </div>
    </md-input-container>

</div>
