<div class="section" layout="column">

        <p>Please tell us a little bit about your project. Be as detailed as possible and include a much. ?</p>

        <div ng-repeat="feature_scope in features">
          <md-checkbox ng-click="toggleFeature(feature_scope.feature.id, selected)" ng-checked="exists(feature_scope.feature.id, selected)">
                <div>
                    {{ feature_scope.feature.name }} <span ng-if="exists(feature_scope.feature.id, selected)">selected</span>
                </div>
          </md-checkbox>
        </div>


        <div class="errors" ng-messages="createJobForm.jobScope.$error && createJobForm.jobScope.$dirty">
            <div ng-message="required">This is required.</div>
        </div>

		<pre>
			{{selected | json}}
		</pre>

</div>
