<!DOCTYPE html>
<html lang="en">
<style type="text/css">
.sweet-alert button {
    background-color: #256E45 !important;
    color: white;
    border: none;
    box-shadow: none;
    font-size: 17px;
    font-weight: 500;
    -webkit-border-radius: 4px;
    border-radius: 5px;
    padding: 10px 32px;
    margin: 26px 5px 0 5px;
    cursor: pointer;
}
</style>
<head>
	<meta charset="UTF-8">
	<title>Hirefreehands - Affordable World-Class Freelancers</title>

	<base href="http://localhost:3000/">

	<meta property="api_url" content="http://127.0.0.1:8000/api/">

	<link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">

	<link rel="stylesheet" type="text/css" href="landing/new_assets/css/style.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.css">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" type="image/png" href="landing/new_assets/favicon.png" />
	<!-- Start of Async Drift Code -->
	<script>
	!function() {
	  var t;
	  if (t = window.driftt = window.drift = window.driftt || [], !t.init) return t.invoked ? void (window.console && console.error && console.error("Drift snippet included twice.")) : (t.invoked = !0,
	  t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ],
	  t.factory = function(e) {
	    return function() {
	      var n;
	      return n = Array.prototype.slice.call(arguments), n.unshift(e), t.push(n), t;
	    };
	  }, t.methods.forEach(function(e) {
	    t[e] = t.factory(e);
	  }), t.load = function(t) {
	    var e, n, o, i;
	    e = 3e5, i = Math.ceil(new Date() / e) * e, o = document.createElement("script"),
	    o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + i + "/" + t + ".js",
	    n = document.getElementsByTagName("script")[0], n.parentNode.insertBefore(o, n);
	  });
	}();
	drift.SNIPPET_VERSION = '0.3.1';
	drift.load('h84gahpav6ku');
	</script>
	<!-- End of Async Drift Code -->
</head>

<body ng-app="hfhApp" ng-controller="hfhAppCtrl">

	<!-- Sign Up Modal -->
	<section class="modal">
		<form class="form signup-form" data-show="signup-form" name="signupForm">

<!-- 			<div class="container no-data-placeholder medium center-text" ng-if="isSignupSuccessful">

				<p class="alert alert-success">
					We have sent you an email to verify your account, 
					please check your mail inbox or spam and click the verification link.
				</p>
				<!-- <a href="/jobs" target="_blank" class="md-button jumbo success centered">Browse Jobs Now</a> -->
			<!-- </div> -->

			<div class="alert-error" ng-show="error !== undefined && error.message !== ''">
				{{ error.message }}
			</div>

			<h1>Get Started</h1>
			<p>Fill in your details</p>
			<input type="text" placeholder="First Name" name="firstname" ng-model="signupFormParams.firstname" required>
			<input type="text" placeholder="Last Name" name="lastname" ng-model="signupFormParams.lastname" required>
			<input type="email" placeholder="Email" name="email" ng-model="signupFormParams.email" required>
			<input type="password" placeholder="Password" name="password" ng-model="signupFormParams.password" required>
			
			<button type="button" class="btn btn-action right margin-10" ng-click="doSignup()" ng-disabled="signupForm.$invalid">

				 <span ng-if="!isLoading">
					Sign Up
				 </span>
				 
				 <span ng-if="isLoading">
				 	<i class="fa fa-spinner fa-spin fa-2x"></i>
				 </span>

			</button>
			<a href="/login" class="have-acc signup-btn">Already have an Account? Sign In</a>
		</form>
	</section>

	<!-- Nav Bar-->
	<nav class="nav-bar">
		<div class="container">
			<a href="/"><img src="landing/new_assets/img/HFH-Logo.svg" alt="Hirefreehands Logo" class="logo"></a>

			<div class="signin right">
				<a href="" class="btn alternate right signin-btn" data-show="signin-form">Sign In</a>

				<form class="form signin-form" data-show="signin-form" name="signinForm">

					<div class="alert-error" ng-show="error !== undefined && error.message !== ''">
						{{ error.message }}
					</div>

					<a href="/signup" class="right forgot-pass">Don't have an account? Sign Up</a>

					<input type="email" placeholder="Email" name="email" ng-model="signinFormParams.email" required>
					<input type="password" placeholder="Password" name="password" ng-model="signinFormParams.password" required>
					<a href="/forgot-password" class="left forgot-pass">Forgot Password?</a>
					<button type="button" class="btn btn-action right margin-10" ng-click="doLogin()" ng-disabled="signinForm.$invalid">

						 <span ng-if="!isLoading">
							Sign In
						 </span>
						 
						 <span ng-if="isLoading">
						 	<i class="fa fa-spinner fa-spin fa-2x"></i>
						 </span>

					</button>
				</form>

			</div>
		</div>
	</nav>
	<!-- Nav Bar End-->

	<!-- Banner Section -->
	<section class="section banner">
		<div class="container">
			<div class="column width-50 left">
				<h1>Affordable World-Class Freelancers</h1>
				<p>Hire top freelance talent from Africa to deliver your digital tasks and projects.</p>
				<a href="" class="btn signup-btn" data-show="signup-form">Get Started</a>
			</div>
			<div class="column width-50 right">
				<img src="landing/new_assets/img/welcome.png" class="right" alt="">
			</div>
		</div>
	</section>
	<!-- Banner Section End -->

	<!-- USP Section -->
	<section class="section usp">
		<div class="container flex">
			<div class="column width-30 flex-1">
				<img src="landing/new_assets/img/Quality.png" alt="Quality">
				<h1 class="margin-20">Quality</h1>
				<p class="margin-20">We carefully recruit freehands from the top 3% of our application pool. All our freelancers are highly talented and professional specialists. They stay true to the most important part of your job - Quality.</p>
			</div>
			<div class="column width-30 flex-1">
				<img src="landing/new_assets/img/Price.png" alt="Price">
				<h1 class="margin-20">Price</h1>
				<p class="margin-20">
					Our intelligent pricing system helps you set a budget that's really affordable for you, yet valuable for your freelancer. No price quotes, negotiations or hidden fees - just exceptional work at the perfect price.	
				</p>
			</div>
			<div class="column width-30 flex-1">
				<img src="landing/new_assets/img/Ease.png" alt="Ease">
				<h1 class="margin-20">Ease</h1>
				<p class="margin-20">
					Simply post your project and our freehands will send you brilliant bids according to your requirements. Customer support is on hand 24/7 and your freelancer only gets paid when you are 100% satisfied.
				</p>
			</div>
		</div>
	</section>
	<!-- USP Section End -->

	<!-- Categories Section -->
	<section class="section categories">
		<div class="container">
			<h1>
				Got a task or project across any of these categories? 
				Sign up today and hire the perfect freehand to get it delivered.
			</h1>
			<img src="landing/new_assets/img/categories.png" class="margin-100 desktop" alt="">
			<img src="landing/new_assets/img/categories-mobile.png" class="margin-100 mobile" alt="">
			<a href="" class="btn alternate white margin-50 signup-btn" data-show="signup-form">Post a Job</a>
		</div>
	</section>
	<!-- Categories Section End -->
	<!-- Customer Reviews Section -->
	<section class="section reviews">
		<div class="container">
			<h1>Splendid Reviews from Happy Users</h1>
			<div class="review-cards center flex margin-50">
				<div class="card flex-1">
					<img src="landing/new_assets/img/reviews/ile.jpg" alt="" class="avatar left">
					<div class="review left">
						<p class="name">Ile Oko Ya</p>
						<p class="location">Lagos, Nigeria</p>
						<p class="message margin-20">Very affordable platform, their freelancers are very professional, you don't need to call or negotiate or anything, everything is done online and the exact way you want it.</p>
					</div>
				</div>
				<div class="card flex-1">
					<img src="landing/new_assets/img/reviews/Logo-Shop.jpg" alt="" class="avatar border left ">
					<div class="review left">
						<p class="name">The Logo Shop</p>
						<p class="location">Toronto, Canada</p>
						<p class="message margin-20">The Hirefreehands support team is superb. They followed up consistently to ensure my experience was perfect. Couldn’t have asked for more.</p>
					</div>
				</div>
				<div class="card flex-1">
					<img src="landing/new_assets/img/reviews/heys.jpg" alt="" class="avatar border left">
					<div class="review left">
						<p class="name">Heys! Foods</p>
						<p class="location">Paris, France</p>
						<p class="message margin-20">I have never seen a graphic designer work so fast on something so great! I think I hired more than a free hand! It was a gifted one.</p>
					</div>
				</div>
				<div class="card flex-1">
					<img src="landing/new_assets/img/reviews/ArtIsLush-Logo.jpg" alt="" class="avatar left">
					<div class="review left">
						<p class="name">Art Is Lush</p>
						<p class="location">Toronto, Canada</p>
						<p class="message margin-20">Fantastic work and communication. I hired a really talented designer, very responsive and easy to work with! I highly recommend.</p>
					</div>
				</div>
			</div>
			<div class="cta margin-50">
				<p>Do you have a digital idea, task or project? 
				Need a freelancer or a project team to bring it to reality?  You're at the right place.
				</p>
				<a href="" class="btn margin-20 signup-btn" data-show="signup-form">Start Now</a>
			</div>
		</div>
	</section>
	<!-- Customer Reviews Section End -->
	<footer class="footer">
		<div class="container">
			<div class="column width-50 left hfh-info">
				<p>
					<strong class="need">Need any help?</strong><br> Get in touch with us on
					<a href="mailto:help@hirefreehands.tech" class="help-email">help@hirefreehands.tech</a>
				</p>
				<img src="landing/new_assets/img/HFH-Mono@2x.png" alt="HFH Logo" class="logo margin-50">
				<p class="copyright">&copy; Hirefreehands 2017. All Rights Reserved</p>
			</div>
			<div class="column width-50 right">
				<ul class="foot-links">
					<li class="links"><a href="#">Blog</a></li>
					<li class="links"><a href="/landing/legal">Terms of Service</a></li>
					<li class="links"><a href="#">Support</a></li>
				</ul>
				<div class="social margin-10">
					<a href="https://www.facebook.com/hirefreehands" target="_blank"><img src="landing/new_assets/img/fb-icon.png" alt="Facebook"></a>
					<a href="https://www.twitter.com/hirefreehands" target="_blank"><img src="landing/new_assets/img/tw-icon.png" alt="Twitter"></a>
					<a href="https://ng.linkedin.com/company/hirefreehands" target="_blank"><img src="landing/new_assets/img/linkedin-icon.png" alt="LinkedIn"></a>
				</div>
			</div>
			<div class="column width-50 left hfh-info-mobile">
				<p>
					<strong class="need">Need any help?</strong><br> Get in touch with us on
					<a href="mailto:help@hirefreehands.tech" class="help-email">help@hirefreehands.tech</a>
				</p>
				<img src="landing/new_assets/img/HFH-Mono@2x.png" alt="HFH Logo" class="logo margin-50">
				<p class="copyright">&copy; Hirefreehands 2017. All Rights Reserved</p>
			</div>
		</div>
	</footer>

	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-84828453-1', 'auto');
		ga('send', 'pageview');

		// <!-- Hotjar Tracking Code for www.hirefreehands.tech -->
	 //   (function(h,o,t,j,a,r){
	 //        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
	 //        h._hjSettings={hjid:634913,hjsv:5};
	 //        a=o.getElementsByTagName('head')[0];
	 //        r=o.createElement('script');r.async=1;
	 //        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
	 //        a.appendChild(r);
	 //    })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');


	</script>

	<script src="landing/new_assets/js/jquery.js" type="text/javascript"></script>
	<script src="landing/new_assets/js/angular.js" type="text/javascript"></script>
	<script src="landing/new_assets/js/ngStorage.js" type="text/javascript"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert-dev.min.js"></script>

	<script src="landing/new_assets/js/main.js" type="text/javascript"></script>
</body>

</html>
