<!DOCTYPE html>
<html lang="en">

<head ng-app="hfhApp" ng-controller="hfhAppCtrl">
	<meta charset="UTF-8">
	<title>Hirefreehands - Affordable Top Quality Freelancers</title>

	<!-- <base href="/"> -->
	<base href="https://hirefreehands.tech/">

	<meta property="api_url" content="https://api.hirefreehands.com/">
	<link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="landing/new_assets/css/main.css">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" type="image/png" href="landing/new_assets/favicon.png" />
</head>

<body>

	<!-- Sign Up Modal -->
	<section class="modal">
		<form class="form signup-form" data-show="signup-form" name="signupForm">

			<div class="container no-data-placeholder medium center-text" ng-if="isSignupSuccessful">
				<h2>Nice! You are now on board.</h2>

				<p>
					We have sent you an email to verify your account, please check your mail and click the verification link.
					so you can go on and check out new jobs or even create yours!
				</p>
				<!-- <a href="/jobs" target="_blank" class="md-button jumbo success centered">Browse Jobs Now</a> -->
			</div>

			<div class="alert-error" ng-show="error !== undefined && error.message !== ''">
				{{ error.message }}
			</div>

			<h1>Get Started</h1>
			<p>We'd love to have you on board.</p>
			<input type="text" placeholder="First Name" name="firstname" ng-model="signupFormParams.firstname" required>
			<input type="text" placeholder="Last Name" name="lastname" ng-model="signupFormParams.lastname" required>
			<input type="email" placeholder="Email" name="email" ng-model="signupFormParams.email" required>
			<input type="password" placeholder="Password" name="password" ng-model="signupFormParams.password" required>
			
			<input type="button" class="btn-action right" value="Sign Up" ng-click="doSignup()" ng-disabled="signupForm.$invalid">
			<a href="#" class="have-acc">Already have an Account? Sign In</a>
		</form>
	</section>

	<!-- Nav Bar-->
	<nav class="nav-bar">
		<div class="container">
			<img src="landing/new_assets/img/HFH-Logo.svg" alt="Hirefreehands Logo" class="logo">

			<div class="signin right">
				<a href="#" class="btn alternate right signin-btn" data-show="signin-form">Sign In</a>

				<form class="form signin-form" data-show="signin-form" name="signinForm">

					<div class="alert-error" ng-show="error !== undefined && error.message !== ''">
						{{ error.message }}
					</div>

					<input type="email" placeholder="Email" name="email" ng-model="signinFormParams.email" required>
					<input type="password" placeholder="Password" name="password" ng-model="signinFormParams.password" required>
					<a href="#" class="left forgot-pass">Forgot Password?</a>
					<input type="button" class="btn-action right" value="Sign In" ng-click="doLogin()" ng-disabled="signinForm.$invalid">
				</form>

			</div>
		</div>
	</nav>
	<!-- Nav Bar End-->

	<!-- Banner Section -->
	<section class="section banner">
		<div class="container">
			<div class="column width-50 left">
				<h1>Hire Top Class Affordable Freelancers to Help Your Business Grow.</h1>
				<p>Save money, time and peace of mind by working with verified professional freelancers. It really is the smartest & safest way to get work done online.</p>
				<a href="#" class="btn signup-btn" data-show="signup-form">Get Started</a>
			</div>
			<div class="column width-50 right">
				<img src="landing/new_assets/img/welcome.png" class="right" alt="">
			</div>
		</div>
	</section>
	<!-- Banner Section End -->

	<!-- USP Section -->
	<section class="section usp">
		<div class="container flex">
			<div class="column width-30 flex-1">
				<img src="landing/new_assets/img/Quality.png" alt="Quality">
				<h1 class="margin-20">Quality</h1>
				<p class="margin-20">We manually recruit and verify top class freelancers across Africa who can deliver world-class work for you.</p>
			</div>
			<div class="column width-30 flex-1">
				<img src="landing/new_assets/img/Price.png" alt="Price">
				<h1 class="margin-20">Price</h1>
				<p class="margin-20">
					Our pricing system helps you set a budget that's affordable for you, yet valuable for your freelancer. What’s best, your freehand only gets paid when you are 100% satisfied!
				</p>
			</div>
			<div class="column width-30 flex-1">
				<img src="landing/new_assets/img/Ease.png" alt="Ease">
				<h1 class="margin-20">Ease</h1>
				<p class="margin-20">
					Simply post a job and our freehands will send in bids according to your preferences. Pick the most impressive bid and you are on your way.
				</p>
			</div>
		</div>
	</section>
	<!-- USP Section End -->

	<!-- Categories Section -->
	<section class="section categories">
		<div class="container">
			<h1>Got a task or project across any of these categories? <br>Sign up today and hire the perfect freehand to get it done for you.</h1>
			<img src="landing/new_assets/img/categories.png" class="margin-100 desktop" alt="">
			<img src="landing/new_assets/img/categories-mobile.png" class="margin-100 mobile" alt="">
			<a href="#" class="btn alternate white margin-50 signup-btn" data-show="signup-form">Post a Job</a>
		</div>
	</section>
	<!-- Categories Section End -->
	<!-- Customer Reviews Section -->
	<section class="section reviews">
		<div class="container">
			<h1>Splendid Reviews from Happy Users</h1>
			<div class="review-cards center flex margin-50">
				<div class="card flex-1">
					<img src="landing/new_assets/img/reviews/ile.jpg" alt="" class="avatar left">
					<div class="review left">
						<p class="name">Ile Oko Ya</p>
						<p class="location">Lagos, Nigeria</p>
						<p class="message margin-20">Very affordable platform, their freelancers are very professional, you don't need to call or negotiate or anything, everything is done online and the exact way you want it.</p>
					</div>
				</div>
				<div class="card flex-1">
					<img src="landing/new_assets/img/reviews/Logo-Shop.jpg" alt="" class="avatar border left ">
					<div class="review left">
						<p class="name">The Logo Shop</p>
						<p class="location">Toronto, Canada</p>
						<p class="message margin-20">The Hirefreehands support team is superb. They followed up consistently to ensure my experience was perfect. Couldn’t have asked for more.</p>
					</div>
				</div>
				<div class="card flex-1">
					<img src="landing/new_assets/img/reviews/heys.jpg" alt="" class="avatar border left">
					<div class="review left">
						<p class="name">Heys! Foods</p>
						<p class="location">Paris, France</p>
						<p class="message margin-20">I have never seen a graphic designer work so fast on something so great! I think I hired more than a free hand! It was a gifted one.</p>
					</div>
				</div>
				<div class="card flex-1">
					<img src="landing/new_assets/img/reviews/ArtIsLush-Logo.jpg" alt="" class="avatar left">
					<div class="review left">
						<p class="name">Art Is Lush</p>
						<p class="location">Toronto, Canada</p>
						<p class="message margin-20">Fantastic work and communication. I hired a really talented designer, very responsive and easy to work with! I highly recommend.</p>
					</div>
				</div>
			</div>
			<div class="cta margin-50">
				<p>Do you have an business idea or project? <br>Get one of our verified professional freelancers to bring it to reality.</p>
				<a href="#" class="btn margin-20 signup-btn" data-show="signup-form">Start Now</a>
			</div>
		</div>
	</section>
	<!-- Customer Reviews Section End -->
	<footer class="footer">
		<div class="container">
			<div class="column width-50 left hfh-info">
				<p>
					<strong class="need">Need any help?</strong><br> Get in touch with us on
					<a href="mailto:help@hirefreehands.tech" class="help-email">help@hirefreehands.tech</a>
				</p>
				<img src="landing/new_assets/img/HFH-Mono@2x.png" alt="HFH Logo" class="logo margin-50">
				<p class="copyright">&copy; Hirefreehands 2017. All Rights Reserved</p>
			</div>
			<div class="column width-50 right">
				<ul class="foot-links">
					<li class="links"><a href="#">Blog</a></li>
					<li class="links"><a href="#">Terms of Service</a></li>
					<li class="links"><a href="#">Support</a></li>
				</ul>
				<div class="social margin-10">
					<a href="https://www.facebook.com/hirefreehands" target="_blank"><img src="landing/new_assets/img/fb-icon.png" alt="Facebook"></a>
					<a href="https://www.twitter.com/hirefreehands" target="_blank"><img src="landing/new_assets/img/tw-icon.png" alt="Twitter"></a>
					<a href="https://ng.linkedin.com/company/hirefreehands" target="_blank"><img src="landing/new_assets/img/linkedin-icon.png" alt="LinkedIn"></a>
				</div>
			</div>
			<div class="column width-50 left hfh-info-mobile">
				<p>
					<strong class="need">Need any help?</strong><br> Get in touch with us on
					<a href="mailto:help@hirefreehands.tech" class="help-email">help@hirefreehands.tech</a>
				</p>
				<img src="landing/new_assets/img/HFH-Mono@2x.png" alt="HFH Logo" class="logo margin-50">
				<p class="copyright">&copy; Hirefreehands 2017. All Rights Reserved</p>
			</div>
		</div>
	</footer>

	<script src="landing/new_assets/js/jquery.js" type="text/javascript"></script>
	<script src="landing/new_assets/js/angular.js" type="text/javascript"></script>
	<script src="landing/new_assets/js/ngStorage.js" type="text/javascript"></script>
	<script src="landing/new_assets/js/main.js" type="text/javascript"></script>
</body>

</html>
