<div class="center" layout="column" flex="70">

	<div class="alert-info" layout="row">	
		<i class="fa fa-info-circle"></i> &nbsp; Hey there, you need to verify your identity to continue, please provide valid information below.
	</div>

	<!--Chat Thread-->
	<div class="thread">
		
		<div class="chat" layout="row">
			<div class="profile-pic" style="background:url('src/imgs/profile-pic.jpg');"></div>
			<div class="detail" flex>
				
				<!--Type of update and time-->
				<div class="summary" layout="row">
					<div flex><h2 class="event"><i class="fa fa-profile"></i>Hirefree Hands Admin</h2></div>
					<div flex><p class="time right">about 2 hours ago</p></div>
				</div>

				<!--More specific detail about the update-->
				<div class="event-detail">
					<form>
						<div layout="row" flex>
							<div flex>
								<md-input-container class="md-block">
							        <label>Your BVN(Bank Verification Number)</label>
							        <input required type="number" ng-model="project.rate" ng-pattern="/^1234$/" />
						      	</md-input-container>
							</div>
						</div>					

						<div class="uploader form-row" flex>
							Upload a photo of you holding your national identity. Take a look at the example <a href="">here</a>
							
							<md-button class="md-raised md-primary">Upload</md-button>
						</div>	

						<div flex>
							<button class="regular-btn success right condensed">Verify My Details</button>
						</div>											
					</form>
				</div>					
			</div>
		</div>
	</div>
</div>