<!--About Us-->
<div class="single-page regular-bg">

	<div id="about-us-banner" style="background: url('public/dist/imgs/kaleidoscope_bg.png') center" title="hirefreehands startup business website">
		<h1 class="center-text">About Hirefreehands</h1>
	</div>

	<div class="container">

		<div class="full-width" layout="column">

			<p>
				Day after day, the need to outsource work grows and so does the need to make a quick buck. Gradually, a new economy is emerging and we are pioneers in this region; connecting demand with supply and moderating the cross-party interactions.
			</p>

			<p>
				More and more people are looking for competent hands to take on their tasks, while the need to make an income drives the skilled professionals to sign up onto HFH.
			</p>

			<p>
				Hence, HFH solved the inherent market problems at its inception, by ensuring that:

				<ul class="styled-list pad-left-40">
					<li><p>Client & Freelancers are verified.</p></li>
					<li><p>Client delivery timeliness and quality is guaranteed.</p></li>
					<li><p>Freelancer jobs are consistent. </p></li>
					<li><p>Client has a wide pool of professionals to choose from.</p></li>
					<li><p>The whole process is automated and secure.</p></li>
				</ul>
			</p>

			<p>
				We carefully verify all the freelancers we bring onboard, to verify that they indeed possess the skill they claim to have and in the event there are no “freehands” available, we have a set of supermen who are equipped to take on any possible task HFH promises to solve.
			</p>

			<p>
				HFH ensures that clients and freelancers get what they signed up for without having to compromise on promise, quality or timeliness. As such, our platform is a level playing ground where everyone’s interest is protected.
			</p>

			<p class="bold">Welcome to Hirefreehands!</p>
		</div>
	</div>
</div>
