<!--Help-->
<div class="single-page regular-bg">
	<div class="container">

		<div class="full-width" layout="column">

			<div class="page-jumbotron projects no-margin" flex>
				<h1>Hirefreehands Help</h1>
			</div>

			<!--Tabs-->

			<md-tabs md-dynamic-height md-border-bottom md-selected="selectedIndex">

					<!-- How it Works -->
				<md-tab label="How it Works">

					<div id="how-it-works">

						<h3>Clients</h3>
						<p>
							Hirefreehands connects you to a network of skilled and affordable Freehands, ready to work on any technical, creative or business projects you might have. Here are 4 steps to help you on your way:
						</p>

						<div class="how-it-works-list" layout="column">
							<div class="item" layout="row">
								<div flex="15">
									<div class="icon-container">
										<div class="icon" style="background:url('{{imageUrl('Post-Your-Job.png')}}');"></div>
									</div>
								</div>

								<div flex>
									<h4>Post Your Job</h4>
									<p>
										Sign up and Login to your Hirefreehands account. Search through our list of offered services, and select a service that matches your need.  Fill out the requirements, and post it to the job pool.
									</p>
								</div>
							</div>

							<div class="item" layout="row">
								<div flex="15">
									<div class="icon-container">
										<div class="icon" style="background:url('{{imageUrl('Find-the-right-freehands.png')}}');"></div>
									</div>
								</div>

								<div flex>
									<h4>Find The Right Freehand</h4>
									<p>
										Receive & review bids from our verified Freehands. Select a Freelancer based on the quality of his/her proposal, profile, ratings and reviews.
									</p>
								</div>
							</div>

							<div class="item" layout="row">
								<div flex="15">
									<div class="icon-container">
										<div class="icon" style="background:url('{{imageUrl('Pay-to-our-secure-escrow.png')}}');"></div>
									</div>
								</div>

								<div flex>
									<h4>Pay Through Our Secure ESCROW</h4>
									<p>
		                                Seen a bid you like? Hire that Freelancer and pay for the task through Hirefreehands' secure ESCROW payment system. Your hired Freelancer will only get paid when you are 100% satisfied with the delivery.
									</p>
								</div>
							</div>

							<div class="item" layout="row">
								<div flex="15">
									<div class="icon-container">
										<div class="icon" style="background:url('{{imageUrl('Sit-back-and-let-your-freehand-work-for-you.png')}}');"></div>
									</div>
								</div>

								<div flex>
									<h4>Sit Back And Let Your Freehand Work For You</h4>
									<p>
										Once a Freehand begins work on your task, you can monitor progress, share files and communicate in realtime through the Hirefreehands workstream. Once the job is completed, be sure to rate and review the work done by your Freehand.
									</p>
								</div>
							</div>

		                    <br><br>

							<h3>Freehands</h3>

							<p>
								Hirefreehands provides skilled Freelancers a platform to work and earn a living, collaborating and working with millions of clients across the globe. Follows these simple steps to become a Freehand today:
							</p>

							<div class="item" layout="row">
								<div flex="15">
									<div class="icon-container">
										<div class="icon" style="background:url('{{imageUrl('Search-&-Bid-for-Tasks.png')}}');"></div>
									</div>
								</div>
								<div flex>
									<h4>Search & Take On Tasks</h4>
									<p>
										Sign up and Login to your Hirefreehands account. Get verified as a freehand by sending your portfolio, ID and credentials to verification@hirefreehands.tech. Search and bid for jobs that match your skillset from our pool of available jobs.
									</p>
								</div>
							</div>

							<div class="item" layout="row">
								<div flex="15">
									<div class="icon-container">
										<div class="icon" style="background:url('{{imageUrl('Work-on-the-move.png')}}');"></div>
									</div>
								</div>
								<div flex>
									<h4>Manage Your Tasks On The Go</h4>
									<p>
										Once hired for a job, update your client on the work progress, and turn-in your deliverables through the Hirefreehands workstream.  Upon job completion, your clients will rate you based on the quality of your work, communication skills, and customer service... so be sure to leave a good impression!
									</p>
								</div>
							</div>

							<div class="item" layout="row">
								<div flex="15">
									<div class="icon-container">
										<div class="icon" style="background:url('{{imageUrl('Get-paid-with-ease.png')}}');"></div>
									</div>
								</div>
								<div flex>
									<h4>Get Paid Without Delay</h4>
									<p>
										Your client will set preferred task delivery rules and pay upfront before the job commences, through Hirefreehands' secure ESCROW payment system.  As you complete the job and turn in your deliverables, your client will approve your submission and your payment will be automatically released to you. This way, your payment is guaranteed and hassle free!
									</p>
								</div>
							</div>
						</div>
					</div>

					<md-tab label="FAQS">
						<div id="faq">

							<h4 class="center-text">Clients</h4>
							<div class="accordion faq-accordion constraint-75" one-at-a-time="true">

								<div class="accordion-item faq-accordion-item active">
									<div class="header" layout="row">
										<h4 flex>What type of jobs can I have done on Hirefreehands?</h4>
										<div flex="10">
											<span class="fa fa-chevron-down right rotate-180" icon></span>
										</div>
									</div>
									<div class="accordion-body faq-accordion-body" style="display:block;">
										<p>
											We currently have 5 available digital service categories - Graphic Design, Web Development, App Development, Content Writing and Video & Animation. More and more services will be added as we progress.
										</p>
									</div>
								</div>
								<div class="accordion-item faq-accordion-item">
									<div class="header" layout="row">
										<h4 flex>How do I post a job?</h4>
										<div flex="10">
											<span class="fa fa-chevron-down right" icon></span>
										</div>
									</div>
									<div class="accordion-body faq-accordion-body">
										<p>
											To post a job on Hirefreehands, you must be a registered user. Login, click on ‘Hire a Freehand’, select a job category, fill out the job info and submit. It is free to post jobs on Hirefreehands and you only need to pay when you approve a satisfactory bid from any of our verified Freehands.
										</p>
									</div>
								</div>
								<div class="accordion-item faq-accordion-item">
									<div class="header" layout="row">
										<h4 flex>How do I find the right Freehand?</h4>
										<div flex="10">
											<span class="fa fa-chevron-down right" icon></span>
										</div>
									</div>
									<div class="accordion-body faq-accordion-body">
										<p>
											After posting your job, be sure to carefully review Freelancer bids and profiles before approving and awarding the job. Also, our rating system makes it easy to identify stand-out Freelancers based on their past work with other clients; something to consider when choosing your Freehand.
										</p>
									</div>
								</div>
								<div class="accordion-item faq-accordion-item">
									<div class="header" layout="row">
										<h4 flex>Do you screen your Freehands?</h4>
										<div flex="10">
											<span class="fa fa-chevron-down right" icon></span>
										</div>
									</div>
									<div class="accordion-body faq-accordion-body">
										<p>
											Yes we do! All Freehands go through a strict verification process, to help us certify their identities and skills. We prioritize security of all our users and quality delivery of all work done on Hirefreehands.
										</p>
									</div>
								</div>
								<div class="accordion-item faq-accordion-item">
									<div class="header" layout="row">
										<h4 flex>How do I pay Freelancers?</h4>
										<div flex="10">
											<span class="fa fa-chevron-down right" icon></span>
										</div>
									</div>
									<div class="accordion-body faq-accordion-body">
										<p>
											Hirefreehand operates a secure ESCROW system i.e. You pay securely through us, to your Freehand. We hold onto your funds until your Freehands delivers the job to you and will only release payment to the Freehand when you are fully satisfied. In the event of a dispute between you and your Freehand, we are always on ground to help make sure that you get the value of your money paid, be it through another Freehand, or even if you opt for a refund.
										</p>
									</div>
								</div>
							</div>

							<h4 class="center-text">Freelancers</h4>
							<div class="accordion faq-accordion constraint-75" one-at-a-time="true">
								<div class="accordion-item faq-accordion-item">
									<div class="header" layout="row">
										<h4 flex>How do I become a Freehand?</h4>
										<div flex="10">
											<span class="fa fa-chevron-down right" icon></span>
										</div>
									</div>
									<div class="accordion-body faq-accordion-body">
										<p>
											Sign up and Login to your Hirefreehands account. Follow the 3 steps below to become verified as a Freehand:
												<p>- Update your personal account profile to show your skills, bio and portfolio.</p>
												<p>- Update your phone number and banking information under settings. </p>
												<p>- Send an email to verification@hirefreehands.tech with a scanned copy of your valid ID and your BVN number.</p>
											Once we get this email, we will review your request and get back to you under 24 hours.
										</p>
									</div>
								</div>
								<div class="accordion-item faq-accordion-item">
									<div class="header" layout="row">
										<h4 flex>How does bidding work?</h4>
										<div flex="10">
											<span class="fa fa-chevron-down right" icon></span>
										</div>
									</div>
									<div class="accordion-body faq-accordion-body">
										<p>
											Bidding is your first chance at winning a job. It is a way to tell and show a client that you are interested in a project, and also capable of delivering that project. So, search the job pool for jobs that interest you; turn in a compelling proposal and wait for the client’s response. Be sure it’s a pretty good bid, as you only get one chance to make a first impression.
										</p>
									</div>
								</div>
								<div class="accordion-item faq-accordion-item">
									<div class="header" layout="row">
										<h4 flex>When should I start working on a project I’ve bid for?</h4>
										<div flex="10">
											<span class="fa fa-chevron-down right" icon></span>
										</div>
									</div>
									<div class="accordion-body faq-accordion-body">
										<p>
											Do not start work on any project even after bidding, until you are notified by Hirefreehands that you have been awarded the job, and you sign the job contract on the platform.
										</p>
									</div>
								</div>
								<div class="accordion-item faq-accordion-item">
									<div class="header" layout="row">
										<h4 flex>
											What if a client requests changes or corrections after I’ve delivered on the task?
										</h4>
										<div flex="10">
											<span class="fa fa-chevron-down right" icon></span>
										</div>
									</div>
									<div class="accordion-body faq-accordion-body">
										<p>
											You’ve never truly delivered until your client approves, but clients are limited to a certain number of revisions depending on the agreed job delivery details i.e. Payment on Completion, Payment with milestones. Be sure to confirm this in your job contract before proceeding to the workstream.
										</p>
									</div>
								</div>
								<div class="accordion-item faq-accordion-item">
									<div class="header" layout="row">
										<h4 flex>When do I get paid?</h4>
										<div flex="10">
											<span class="fa fa-chevron-down right" icon></span>
										</div>
									</div>
									<div class="accordion-body faq-accordion-body">
										<p>
											You get paid only after job completion and approval of work done by the client. All payments are made directly to your stated bank account, which you must have specified while completing the Freehand verification process.
										</p>
									</div>
								</div>
							</div>

						</div>
					</md-tab>





				</md-tab>

			</md-tabs>

		</div>
	</div>
</div>
