<!--Landing Page-->
<div class="welcome-section" ng-if="isActivePage('welcome')">

	<!--The Main Banner Section-->
	<section id="main-banner">
		<div class="carousel-container" ng-carousel ng-carousel-name="jumbotron-carousel" ng-carousel-timer="5000">
			<slidecontainer class="carousel-slides">
                <slide class="carousel-example" style="background: url('public/dist/imgs/banner-1.jpg') center;" title="hirefreehands freelancers">
                    <div class="tint">
                        <div class="container">
                            <h1>Hire Top-Class, Affordable Freelancers</h1>
							<div class="slide-desc">
								Save money, time and peace of mind by working with verified, professional freelancers.
							</div>
                        </div>
                    </div>
                </slide>
                <slide class="carousel-example" style="background: url('public/dist/imgs/banner-3.jpg') center;" title="hirefreehands online business in Nigeria">
                    <div class="tint">
                        <div class="container">
                            <h1>Get Amazing Work Done With Ease</h1>
							<div class="slide-desc">
								Our pricing system helps you set a budget that's affordable for you,
								yet valuable for your freelancer. <br/>What’s best, your freehand only gets
								paid when you are 100% satisfied!
							</div>
                        </div>
                    </div>
                </slide>
				<slide class="carousel-example" style="background: url('public/dist/imgs/easy.jpg') center;" title="hirefreehands online business in Nigeria">
                    <div class="tint">
                        <div class="container">
                            <h1>Simple to Use</h1>
							<div class="slide-desc">
								Simply post a job and our freehands will send in bids according to your preferences. <br/>
								Pick the most impressive bid and you are on your way.
							</div>
                        </div>
                    </div>
                </slide>
			</slidecontainer>
		</div>
	</section>

	<!--Intro Video Section-->
	<section id="hfh-detail">
		<div class="container pure-g">
			<div class="pure-u-1 pure-u-md-1-2 sub-section">
				<h2 class="section-title">
					The Best Freelancers to Help Your Business Grow.
				</h2>
				<p>
					Finding and managing a professional freelancer can be really tasking.
					To save you this stress, we manually recruit and verify top class freelancers across Africa,
					who can deliver world-class work for you. We've also built a pricing system that ensures you don’t
					have to pay over the top for quality freelance work.
					It really is the smartest & safest way to get work done online.
				</p>
			</div>
			<div class="pure-u-1 pure-u-md-1-2 sub-section">

				<!--Video Snippet-->
				<div id="explainer-vid" style="background: url('public/dist/imgs/slide-2-img.jpg')" title="hirefreehands work as a freelancer">
					<!-- <div class="tint">
						<span class="fa fa-play-circle play"></span>
					</div> -->
				</div>
			</div>
		</div>
	</section>


	<!--Freelance Job Categories-->
	<!-- <a name="categories"></a> -->
	<section id="categories" class="job-categories-section padding-bottom-100">
		<div class="container">
			<h2 class="section-title">Get Started Today</h2>

			<p class="section-sub-title">
				Got a task or project across any of these categories? Sign up today and hire the perfect freehand to get it done for you.
			</p>

			<!--List Available Categories-->
			<div class="job-categories">

				<md-progress-circular data-ng-if="isLoadingCategories" md-mode="indeterminate" class="primary center" md-diameter="100"></md-progress-circular>

				<div class="pure-g" ng-cloak>

					<div class="pure-u-1 pure-u-md-1-3">
						<img src="public/dist/imgs/graphic.png" width="60%" alt="">
						<div class="title">
							<p>Graphic Design</p>
						</div>
					</div>

					<div class="pure-u-1 pure-u-md-1-3">
						<img src="public/dist/imgs/content.png" width="60%" alt="">
						<div class="title">
							<p>Content Writing</p>
						</div>
					</div>

					<div class="pure-u-1 pure-u-md-1-3">
						<img src="public/dist/imgs/web.png" width="60%" alt="">
						<div class="title">
							<p>Web Design and Development</p>
						</div>
					</div>

					<div class="pure-u-1 pure-u-md-1-2">
						<img src="public/dist/imgs/app.png" width="60%" alt="">
						<div class="title">
							<p>Mobile App Development</p>
						</div>
					</div>

					<div class="pure-u-1 pure-u-md-1-2">
						<img src="public/dist/imgs/video.png" width="60%" alt="">
						<div class="title">
							<p>Animated Video & Infographics</p>
						</div>
					</div>

				</div>
			</div>
		</div>
	</section>

	<!-- reviews slider -->
	<section id="reviews" class="padding-bottom-100">
		<div class="container">
			<h2 class="section-title" style="text-align:center">Splendid Reviews From Happy Users</h2>
			<div class="unslider">
				<ul>
					<li>
						<img src="landing/assets/imgs/ArtIsLush-Logo.jpg" class="review-logo">
						<h2>Art Is Lush</h2>
						<p class="location">Toronto, Canada</p>
						<p>Fantastic work and communication. I hired a really talented designer, <br>very responsive and easy to work with! I highly recommend.</p>
					</li>

					<li>
						<img src="landing/assets/imgs/HOD.jpg" class="review-logo">
						<h2>House Of Debola</h2>
						<p class="location">Lagos, Nigeria</p>
						<p>First time I’m hiring a content writer and my expectations were surpassed.</p>
					</li>

					<li>
						<img src="landing/assets/imgs/heys.jpg" class="review-logo">
						<h2>Heys!</h2>
						<p class="location">Paris, France</p>
						<p>I have never seen a graphic designer work so fast on something so great! <br>I think I hired more than a free hand! It was a gifted one.</p>
					</li>

					<li>
						<img src="landing/assets/imgs/ile.jpg" class="review-logo">
						<h2>Ile Oko Ya</h2>
						<p class="location">Lagos, Nigeria</p>
						<p>Very affordable platform, their freelancers are very professional, you don't need to call or negotiate or anything,<br>everything is done online and the exact way you want it.</p>
					</li>

					<li>
						<img src="landing/assets/imgs/Logo-Shop.jpg" class="review-logo">
						<h2>The Logo Shop</h2>
						<p class="location">Toronto, Canada</p>
						<p>The Hirefreehands support team is superb. They followed up consistently to ensure my experience was perfect. <br> Couldn’t have asked for more.</p>
					</li>

				</ul>
			</div>
		</div>
	</section>
</div>

