<!--Legal-->
<div class="legal single-page regular-bg">
	<div class="container">

		<div class="full-width" layout="column">

			<div class="page-jumbotron projects no-margin" flex>
				<h1>Hirefreehands Legal Information</h1>
			</div>

			<!--Tabs-->
<!-- 			<div class="tabs simple projects-container" layout="row">

				<div class="center" layout="row" >
					<div class="tab active" data-target="tnc" tab>
						<a href="#">Terms and Conditions</a>
					</div>
					<div class="tab" data-target="copyright" tab>
						<a href="#">Copyright Policy</a>
					</div>
					<div class="tab" data-target="privacy" tab>
						<a href="#">Privacy Policy</a>
					</div>
				</div>
			</div>
 -->
			<div class="tab-container">

				<!--TnC-->
				<div id="tnc">
					<p>
						Please read these Terms & Conditions fully and carefully before using
						www.hirefreehands.tech (the "Site") and the related services, features,
						content or applications offered by Hirefreehands Inc. ("we", "us" or "our")
						(together with the Site, the "Services"). These Terms & Conditions set forth
						the legally binding terms and conditions for your use of the Site and the
						Services. By registering for and/or using the Services in any manner,
						including but not limited to visiting or browsing the Site, you agree to these
						Terms & Conditions and all other operating rules, policies [including the
						Hirefreehands Copyright Policy and Hirefreehands Privacy Policy] and
						procedures that may be published from time to time on the Site by us, each
						of which is incorporated by reference and each of which may be updated
						from time to time without notice to you.
					</p>
					<ol class="styled-list" type="1">
						<li class="header">
							<h4>Definition</h4>
							<ul class="styled-list">
								<li>
									<p>
										Hirefreehands Inc. a company registered in Delaware, USA whose registered address is 251 Little Falls Drive, Wilmington, DE 19808.
									</p>
								</li>
								<li>
									<p>
										"Freehand" refers to people or companies curated by the Company to
										perform Jobs on Hirefreehands, as further described below.
									</p>
								</li>
								<li>
									<p>
									 	"Client" refers to people or companies that sign up to Hirefreehands to outsource Jobs
									</p>
								</li>

								<li>
									<p>
										A "Job" is defined to be a set piece of work, at a set Price, with a set delivery time. Both the price to be paid by the Client to Hirefreehands and the delivery time are stated in the applicable Job posting form provided by Hirefreehands.
									</p>
								</li>

								<li>
									<p>
										The price to be paid to the Freehand (which is different than the price
										charged to Clients) is set dynamically by the software behind
										Hirefreehands and may vary from moment to moment depending on
										the percentage of commission set by Hirefreehands and made known
										to the Freehand before the acceptance of each job from a client.
									</p>
								</li>

								<li>
									<p>
										"Deliverables" refers to work performed by the Freehand as part of
										an Order, such as (but not limited to): designs, video files, voice files,
										word copy, intangible information such as expert advice, milestones,
										spreadsheets, presentations, etc.
									</p>
								</li>

								<li>
									<p>
										All deliverables must be sent through the Hirefreehands platform.
										Hirefreehands is not liable for any deliverables not handed in through
										the communication stream provided for exchanges between the client
										and the Freehand.
									</p>
								</li>
							</ul>
						</li>

						<li class="header">
							<h4>General Use</h4>
							<ul class="styled-list">
								<li>
									<p>
										Once a Job is posted, the applicable price and delivery time will not change for that job, unless otherwise stated by Hirefreehands and made known to both Client and Freehand.
									</p>
								</li>
								<li>
									<p>
										Once a Job is posted, the applicable price and delivery time will not change for that job, unless otherwise stated by Hirefreehands and made known to both Client and Freehand.
									</p>
								</li>
								<li>
									<p>
										As soon as a Client approves a bid submitted by a Freehand in
										response to the Job post, and pays Hirefreehands for the Job, the Job
										is transferred to the communication stream for exchange of
										information, deliverables and overall Job management between the
										client and Freehand. Once the Freehand acknowledges and accepts the
										terms of service of that specific Job generated by Hirefreehands ("Job
										contract"), he/she is also given access to the communication stream
										and the delivery time for that job begins counting down. It is only
										upon fulfillment of this process that a Job is considered active.
									</p>
								</li>
								<li>
									<p>
										Delivery of the Job may be limited to the Delivery time set on the Job offer at the time of posting.
									</p>
								</li>
								<li>
									<p>
										A Job is complete only when a Client accepts the applicable Job's
										Deliverables, and approves the release of payment to the Freehand, in its discretion.
									</p>
								</li>
								<li>
									<p>
										All rights of ownership or use of the Deliverables is only transferred to the Client when the Job is complete, in accordance with the terms of the applicable Job, if any.
									</p>
								</li>
							</ul>
						</li>

						<li class="header">
							<h4>For Clients</h4>
							<ul class="styled-list">
								<li>
									<p>
										Clients may post a Job, including the requirements, relevant time
										period for completion of the Job (timescale), and amounts to be paid
										for the Job delivery ("Job Payment"). Once a Job is posted, it will be
										made publicly available on site for bidding by the Freehands. The
										Client must make the Job Payment to Hirefreehands in Escrow once
										he/she approves a submitted bid and in order to make the Job active
										and start the Job Delivery timer.
									</p>
								</li>
								<li>
									<p>
										The Client can request 3 reasonable revisions per Job within the set
										job delivery timescale under Jobs in which the 'Pay upon completion'
										option has been selected. In Jobs in which the 'Pay by milestone'
										option has been selected however, the client is allowed to review each
										milestone and request as many reasonable revisions he/she deems
										necessary, but also within the set delivery timescale for that particular
										Job.
									</p>
								</li>
								<li>
									<p>
										Once the applicable Job's Deliverables are submitted to the Client, the
										Client will have a choice to reasonably approve or request a revision.
									</p>
								</li>
								<li>
									<p>
										Once a Freehand has accepted the Job contract and the Job becomes
										active, the Freehand will have a set timescale to deliver the Job and its
										accompanying revisions. If delivery is not complete by then, the Client
										may decide whether the timescale should be extended with the
										current Freehand by directly requesting this from Hirefreehands, or if
										the Job should be re-posted for another Freehand to complete. A case such as this will be handled and rerouted by Hirefreehands rationally
										and in reason at no extra cost to the Client.
									</p>
								</li>
								<li>
									<p>
										If a revision is reasonably requested it will go back to the Freehand for revision and resubmission within the communication stream.
									</p>
								</li>
								<li>
									<p>
										Cases of abuse and/or maltreatment of Freehands through unrealistic
										revision requests (especially outside the scope of the Job paid for), or withholding or delaying approval of Deliverables requested speed of
										delivery, and the like, may lead to a Client's removal from the system,
										in Hirefreehands' sole discretion.
									</p>
								</li>
							</ul>
						</li>

						<li class="header">
							<h4 class="header">For Freelancers</h4>
							<ul class="styled-list">
								<li>
									<p>
										Hirefreehands is a curated marketplace and uses certain criteria to
										approve or reject applicants to perform Jobs on Hirefreehands.
										Applicants must have a valid LinkedIn account, national Identity, BVN
										(Bank Verification Number) and functional and registered mobile
										phone number. While we endeavor to use Freehands that have
										appropriate skills for the relevant Jobs, we do not endorse, guarantee,
										verify professional licenses or accreditations, or otherwise accept
										liability with respect to the Freehands or Deliverables.
									</p>
								</li>
								<li>
									<p>
										Each Job will have a fixed "Offer Price" set by the system dynamically
										and agreed to by the Client, which will be shown on the applicable Job
										Post. By accepting a Job, a Freehand is accepting the applicable Offer
										Price.
									</p>
								</li>
								<li>
									<p>
										The Offer Price displayed to Freehands on the Site is the applicable
										Freehand's gross take home fee. This amount less the site's
										commission percentage is the amount, which he will be paid for the
										applicable Jobs he completes that are accepted by the Client.
									</p>
								</li>
								<li>
									<p>
										The commission amount to be deducted from the amount paid by the
										client will be displayed in the Job contract, which will be acknowledged
										and accepted by the Freehand before the Job becomes active. Only the
										amount due to the Freehand will be made available in the Freehand's
										Wallet.
									</p>
								</li>
								<li>
									<p>
										Once a Freehand takes on a Job, he will be required to deliver it in the timeframe set forth in the Order. Failure to do so will affect his
										Freehand Rating on Hirefreehands and future Job bidding
										opportunities. Poor client management, unsatisfactory customer
										service, slow speed of delivery, or poor quality of Deliverables, and the like, may also lead to the Freehand's removal from the system, in
										Hirefreehands' sole discretion.
									</p>
								</li>
								<li>
									<p>
										If a Client rejects a Job (in its sole discretion) it will be sent back to the applicable Freehand for revision for a total of up to 3 times. After the third time, provided the timescale has elapsed or sooner in egregious circumstances, the Client may choose to notify Hirefreehands to step in and help reroute the Job for another Freehand to take it on. This will affect the payment for the first Freehand if it is seen this his poor service delivery has led to the breakdown in successful completion of the Job
									</p>
								</li>
								<li>
									<p>
										Payment is only due to a Freehand once a Job is completed and
										accepted by the Client. Upon request (by clicking 'Cash Out' in the
										Wallet section of the site), payment is processed by bank transfer to
										Freehands within a spate of 2 working days (excluding bank holidays
										and public holidays), to the applicable bank account provided to
										Hirefreehands during verification. When a Freehands' account will
										actually receive the payments will however depend on his selected
										bank restrictions and transfer processes
									</p>
								</li>
								<li>
									<p>
										Freehands have an assigned score displayed on their user profiles and
										dashboard ("Rating"), which is a calculated average of the review
										ratings from Clients after completed Jobs for this particular Freehand.
										Clients are allowed to rate a Freehand based on performance metrics
										such as Quality of Delivery, Speed, Communication, Customer Service
										& Level of Skill. However, Late response and consistent non-response
										to client feedback from Jobs bid for even before they become active
										will reduce the Freehand's Rating– irrespective of Client review ratings
										for completed jobs.
									</p>
								</li>
								<li>
									<p>
										Consistent overall non-delivery or poor delivery will lead to Freehands
										removed from Hirefreehands at the sole discretion of Hirefreehands.
									</p>
								</li>
							</ul>
						</li>

						<li class="header">
							<h4>Eligibility and Account</h4>
							<p>
								You represent and warrant that you are at least 18 years of age. The right to access the Services is revoked where the Terms & Conditions, the Privacy
								Policy, the Copyright Policy or use of the Services is prohibited or limited, or
								to the extent offering, sale or provision of the Services conflicts with any
								applicable law, rule or regulation. You are solely responsible for the activity
								that occurs on your Account, and for keeping your Account password and
								delicate information secure.
							</p>
						</li>

						<li class="header">
							<h4>Content</h4>
							<ul class="styled-list">
								<li>
									<p>
										<span class="bold">User Content.</span> All content added, created, uploaded, submitted,distributed, or posted to the Services by users (collectively <span class="underline">"User Content"</span>), is the sole responsibility of the person who originated such
										User Content. You represent that all User Content provided by you is
										accurate, complete, up-to-date, and in compliance with all applicable
										laws, rules and regulations. You acknowledge that all content
										accessed by you using the Services is at your own risk and you will be
										solely responsible for any damage or loss to you or any other party
										resulting therefrom. We do not guarantee that any content you access
										on or through the Services is or will continue to be accurate.
									</p>
								</li>
								<li>
									<p>
										<span class="bold">License Grant.</span> By submitting User Content through the Services, you hereby do and shall grant us a worldwide, non-exclusive, perpetual, royalty-free, fully paid, sub-licensable and transferable license to use, edit, modify, truncate, aggregate, reproduce, distribute, prepare derivative works of, display, perform, and otherwise fully exploit the
										User Content in connection with the Site, the Services and our (and our
										successors' and assigns') businesses, including without limitation for
										promoting and redistributing part or all of the Site or the Services (and
										derivative works thereof) in any media formats and through any media
										channels (including, without limitation, third party websites and
										feeds), and including after your termination of your Account or the
										Services. You also hereby do and shall grant each user of the Site
										and/or the Services a non-exclusive, perpetual license to access your
										User Content through the Site and/or the Services, and to use, edit,
										modify, reproduce, distribute, prepare derivative works of, display and
										perform such User Content, including after your termination of your
										Account or the Services.
									</p>
								</li>
								<li>
									<p>
										<span class="bold">Availability of Content.</span> We do not guarantee that any Jobs or other
										content will be made available on the Site or through the Services. We
										reserve the right to, but do not have any obligation to, remove, block,
										edit or modify any content in our sole discretion, at any time, without
										notice to you and for any reason or for no reason at all.
									</p>
								</li>
							</ul>
						</li>

						<li class="header">
							<h4>Rules of Conduct</h4>
							<ol class="styled-list" type="a">
								<li>
									<p>
										You shall not (and shall not permit any third party to) either (a) take
										any action or (b) upload, download, post, submit or otherwise
										distribute or facilitate distribution of any content on or through the
										Service, including without limitation any User Content, that:
									</p>
									<ul class="styled-list">
										<li>
											<p>
												Infringes any third party right or violates any law or contractual duty (see our Copyright Policy below);
											</p>
										</li>
										<li>
											<p>
												You know is false, misleading, untruthful, unlawful, threatening,
												abusive, harassing, defamatory, fraudulent, pornographic, or is
												otherwise inappropriate as determined by us in our sole discretion;
											</p>
										</li>
										<li>
											<p>
												Constitutes unauthorized or unsolicited advertising, junk or bulk email("spamming");
											</p>
										</li>
										<li>
											<p>
												Contains software viruses or any other harmful computer codes,
												files, or programs;
											</p>
										</li>
	 									<li>
											<p>
												Includes anyone's identification documents or sensitive financial information; or
											</p>
										</li>
										<li>
											<p>
												Otherwise interferes with the Services.
											</p>
										</li>
									</ul>
								</li>
								<li>
									<p>
										You shall not (directly or indirectly): (i) decipher, decompile,
										disassemble, reverse engineer or otherwise attempt to derive any
										source code or underlying ideas or algorithms of any part of the
										Services, except to the limited extent applicable laws specifically
										prohibit such restriction, (ii) modify, translate, or otherwise create derivative works of any part of the Services, or (iii) copy, rent, lease, distribute, or otherwise transfer any of the rights that you receive hereunder.
									</p>
								</li>
								<li>
									<p>
									We also reserve the right to suspend or terminate accounts, withhold payments, suspend an Job or a Job Post, or block any user's access to
									Jobs or other features of the Services, in our sole discretion and
									without liability (including, without limitation, in the event we have
									concerns about fraud, quality of services, bad debt, misuse or abuse
									of our Services, or other violations of our policies and principles.
									</p>
								</li>
							</ol>
						</li>

						<li class="header">
							<h4>User Disputes</h4>
							<p>
								We reserve the right, without any obligation, to intervene in or monitor
								disputes between our users. You agree to cooperate with and assist us in
								good faith, and to provide us with such information and take such actions as
								we may reasonably requested, in connection with any disputes involving you.
								Although we may moderate content or disputes in our discretion, we have no
								authority to legally bind third parties, or force them to resolve complaints or
								disputes. Any efforts or statements made by us to intervene in or moderate
								disputes is superseded by this provision, which may not be modified, waived
								or released except by a written agreement, dated and signed by our Chief
								Operating Officer and dated and signed by the individual or entity to whom
								the modification, waiver or release is granted.
							</p>
						</li>

						<li class="header">
							<h4>3<sup>rd</sup> party services</h4>
							<p>
								The Services may permit you to link to other websites, services or resources
								on the Internet, and other websites, services or resources may contain links
								to the Services. When you access third party resources on the Internet, you
								do so at your own risk. These other resources are not under our control, and
								you acknowledge that we are not responsible or liable for them. You
								acknowledge that we are not responsible for and shall have no liability with
								respect to the performance of the Jobs or the acts or omissions of the
								Freehands or Clients.
							</p>
						</li>

						<li class="header">
							<h4>Payment & Biling</h4>
							<ol type="a">
								<li>
									<p>
										<span class="bold">Billing.</span> We use a third-party payment processor (the <span class="underline">"Payment
										Processor"</span>) to bill Clients and pay Freehands through payment
										accounts linked to your applicable Account on the Services (your
										<span class="underline">"Bank Account"</span>
										). The processing of payments will be subject to the terms,
										conditions and privacy policies of the Payment Processor in addition to
										this Agreement. We are not responsible for error or delays by the
										Payment Processor. By approving a bid and hiring a Freehand, you
										agree to pay us, through the Payment Processor, all charges at the
										prices stated for the applicable Job in accordance with the applicable
										payment terms and you authorize us, through the Payment Processor,
										to charge your chosen debit or credit card (your "Payment Method").
										When approving a Freehand's bid for your posted Job, you agree to
										make payment using an applicable Payment Method, which is allowed
										by the Payment Processor. We reserve the right to correct any errors or
										mistakes that it makes even if it has already requested or received
										payment.
									</p>
								</li>
								<li>
									<p>
										<span class="bold">Current Information Required.</span> YOU MUST PROVIDE CURRENT,
										COMPLETE AND ACCURATE INFORMATION FOR YOUR BANK ACCOUNT.
										YOU MUST PROMPTLY UPDATE ALL INFORMATION TO KEEP YOUR
										BANK ACCOUNT CURRENT, COMPLETE AND ACCURATE (SUCH AS A
										CHANGE IN BANK, BVN, BANK ACCOUNT NUMBER ETC.), AND YOU
										MUST PROMPTLY NOTIFY US IF YOU BECOME AWARE OF A POTENTIAL
										BREACH OF SECURITY, SUCH AS THE UNAUTHORIZED DISCLOSURE OR
										USE OF YOUR USER NAME OR PASSWORD. CHANGES TO SUCH
										INFORMATION CAN BE MADE UNDER THE 'SETTINGS' SECTION OF THE
										SITE.
									</p>
								</li>
								<li>
									<p>
										<span class="bold">Reaffirmation of Authorization.</span> Your non-termination or continued
										use the Services reaffirms that we are authorized to charge your
										Payment Method for Jobs when you approve bids from Freehands and
										choose to activate the Job.
									</p>
								</li>
							</ol>
						</li>

						<li class="header">
							<h4>Termination</h4>
							<p>
								We may terminate your access to all or any part of the Services at any time,
								with or without cause, which may result in the forfeiture and destruction of
								all information associated with your membership. If you wish to terminate
								your Account, you may do so by following the instructions on the Site or
								through the Services. Any fees paid to us hereunder to us are nonrefundable.
								All provisions of these Terms of Service, which by their nature
								should survive termination, shall survive termination, including, without
								limitation, licenses of User Content, ownership provisions, warranty
								disclaimers, indemnity and limitations of liability.
							</p>
						</li>

						<li class="header">
							<h4>Warranty Disclaimer</h4>
							<p>
								You release us from all liability for your use of the Services. THE SERVICES
								AND CONTENT ARE PROVIDED "AS IS", "AS AVAILABLE" AND WITHOUT
								WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING, BUT NOT
								LIMITED TO, THE IMPLIED WARRANTIES OF TITLE, NON-INFRINGEMENT,
								MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE, AND ANY
								WARRANTIES IMPLIED BY ANY COURSE OF PERFORMANCE OR USAGE OF
								TRADE, ALL OF WHICH ARE EXPRESSLY DISCLAIMED.
							</p>
						</li>

						<li class="header">
							<h4>Indemnification</h4>
							<p>
								You shall defend, indemnify, and hold harmless us from all liabilities, claims,
								and expenses, including reasonable attorneys' fees, that arise from or relate
								to your use or misuse of, or access to, the Services, content, or otherwise
								from your User Content, violation of these Terms of Service, or acts and
								omissions arising from your Account.
							</p>
						</li>

						<li class="header">
							<h4>Limitation of Liability</h4>
							<p>
								IN NO EVENT SHALL WE, NOR OUR DIRECTORS, EMPLOYEES, AGENTS,
								PARTNERS, SUPPLIERS OR CONTENT PROVIDERS, BE LIABLE UNDER
								CONTRACT, TORT, STRICT LIABILITY, NEGLIGENCE OR ANY OTHER LEGAL OR
								EQUITABLE THEORY WITH RESPECT TO THE SERVICES (I) FOR ANY LOST
								PROFITS, DATA LOSS, COST OF PROCUREMENT OF SUBSTITUTE GOODS OR
								SERVICES, OR SPECIAL, INDIRECT, INCIDENTAL, PUNITIVE, COMPENSATORY
								OR CONSEQUENTIAL DAMAGES OF ANY KIND WHATSOEVER, SUBSTITUTE
								GOODS OR SERVICES (HOWEVER ARISING), (II) FOR ANY BUGS, VIRUSES,
								TROJAN HORSES, OR THE LIKE (REGARDLESS OF THE SOURCE OF
								ORIGINATION), (III) FOR ANY DIRECT DAMAGES IN EXCESS OF (IN THE
								AGGREGATE) OF the greater of (A) fees paid BY YOU THAT ARE RETAINED BY
								us for the particular Job AT ISSUE or (B) $500.00, OR (IV) ANY MATTER
								BEYOND OUR REASONABLE CONTROL.
							</p>
						</li>

						<li class="header">
							<h4>Governing Law and Jurisdiction</h4>
							<p>
								<span class="bold underliner">ARBITRATION.</span> Except as otherwise set forth below in this Section 15, these
								Terms & Conditions shall be governed by and construed in accordance with
								the laws of the Federal Republic of Nigeria. Except as otherwise set forth
								below, you agree that any dispute arising from or relating to the subject
								matter of these Terms of Service shall be governed by the exclusive
								jurisdiction and venue of the High Courts of the Federal Republic of Nigeria.
							</p>
							<ol type="a">
								<li>
									<span class="bold">Arbitration.</span> YOU AGREE THAT ALL DISPUTES BETWEEN YOU AND US
									(WHETHER OR NOT SUCH DISPUTE INVOLVES A THIRD PARTY) WITH
									REGARD TO YOUR RELATIONSHIP WITH US, INCLUDING WITHOUT
									LIMITATION DISPUTES RELATED TO THESE TERMS OF SERVICE, YOUR
									USE OF THE SERVICES, AND/OR RIGHTS OF PRIVACY AND/OR
									PUBLICITY, WILL BE RESOLVED BY BINDING, INDIVIDUAL ARBITRATION
									AND WE HEREBY EXPRESSLY WAIVE TRIAL BY JURY. DISCOVERY AND
									RIGHTS TO APPEAL IN ARBITRATION ARE GENERALLY MORE LIMITED
									THAN IN A LAWSUIT, AND OTHER RIGHTS THAT YOU AND WE WOULD
									HAVE IN COURT MAY NOT BE AVAILABLE IN ARBITRATION. As an
									alternative, you may bring your claim in your local "small claims"
									court, if permitted by that small claims court's rules and if within such
									court's jurisdiction, unless such action is transferred, removed or
									appealed to a different court. You may bring claims only on your own
									behalf. Neither you nor we will participate in a class action or classwide
									arbitration for any claims covered by this agreement to arbitrate.
									YOU ARE GIVING UP YOUR RIGHT TO PARTICIPATE AS A CLASS
									REPRESENTATIVE OR CLASS MEMBER ON ANY CLASS CLAIM YOU MAY
									HAVE AGAINST US INCLUDING ANY RIGHT TO CLASS ARBITRATION OR
									ANY CONSOLIDATION OF INDIVIDUAL ARBITRATIONS. You also agree
									not to participate in claims brought in a private attorney general or
									representative capacity, or consolidated claims involving another
									person's account, if we are a party to the proceeding.
								</li>
								<li>
									<span class="bold">Severability.</span> If the prohibition against class actions and other claims
									brought on behalf of third parties contained above is found to be
									unenforceable, then all of the preceding language in this Arbitration
									section will be null and void. This arbitration agreement will survive
									the termination of your relationship with us.
								</li>
							</ol>
						</li>

						<li class="header">
							<h4>Modification</h4>
							<p>
								We reserve the right, in our sole discretion, to modify or replace any of these
								Terms & Conditions, or change, suspend, limit access to or discontinue the
								Services (including without limitation, the availability of any feature,
								database, or content) at any time by posting a notice on the Site or by
								sending you notice through the Services, via e-mail or by another
								appropriate means of electronic communication. Your continued use of the
								Services following notification of any changes to these Terms & Conditions
								constitutes acceptance of those changes.
							</p>
						</li>

						<li class="header">
							<h4>Miscellaneous</h4>
							<p>
								These Terms & Conditions are the entire agreement between you and us with
								respect to the Services, and supersede all prior or contemporaneous
								communications and proposals (whether oral, written or electronic) between
								you and us with respect to the Services. If any provision of these Terms &
								Conditions is found to be unenforceable or invalid, that provision will be
								limited or eliminated to the minimum extent necessary so that these Terms &
								Conditions will otherwise remain in full force and effect and enforceable. The
								failure of either party to exercise in any respect any right provided for herein
								shall not be deemed a waiver of any further rights hereunder. These Terms &
								Conditions are personal to you, and are not assignable, transferable or
								sublicensable by you except with our prior written consent. We may assign,
								transfer or delegate any of our rights and obligations hereunder without
								consent. All Freehands are independent contractors and no agency,
								partnership, joint venture, or employment relationship is created as a result
								of these Terms & Conditions and neither party has any authority of any kind
								to bind the other in any respect. Our failure to enforce any part of these
								Terms & Conditions shall not constitute a waiver of our right to later enforce
								that or any other part of these Terms & Conditions. In order for any waiver to
								be binding, we must provide you with written notice of such waiver through
								one of our authorized representatives.
							</p>
						</li>
					</ol>

					<p class="bold">
						You may contact us at and send notices to help@hirefreehands.tech.
					</p>
				</div>

				<!--Copyright-->
				<div id="copyright">

					<p>
						Hirefreehands Inc. (<span class="underline">Hirefreehands"</span>, <span class="underline">"our"</span>, <span class="underline">"we"</span> or <span class="underline">"us"</span>)
						has adopted the following general policy toward copyright infringement.
					</p>

					<h4>Procedure for Reporting Copyright Infringement:</h4>

					<p>
						If you believe that material or content residing on or accessible through our websites or
						services infringes a copyright, please send a notice of copyright infringement containing
						the following information to the Designated Agent listed below:
					</p>

					<ol class="styled-list" type="1">
						<li>
							<p>
								A physical or electronic signature of a person authorized to act on behalf of the owner of the copyright that has been allegedly infringed;
							</p>
						</li>
						<li>
							<p>
								Identification of works or materials being infringed;
							</p>
						</li>
						<li>
							<p>
								Identification of the material that is claimed to be infringing including
								information regarding the location of the infringing materials that the copyright
								owner seeks to have removed, with sufficient detail so that we are capable of
								finding and verifying its existence;
							</p>
						</li>
						<li>
							<p>
								 Contact information about the notifier including address, telephone number and, if available, e-mail address;
							</p>
						</li>
						<li>
							<p>
								A statement that the notifier has a good faith belief that the material is not authorized by the copyright owner, its agent, or the law; and
							</p>
						</li>
						<li>
							<p>
								A statement made under penalty of perjury that the information provided is
								accurate and the notifying party is authorized to make the complaint on behalf
								of the copyright owner.
							</p>
						</li>
					</ol>
					<p>
						Please contact the Designated Agent to Receive Notification of Claimed Infringement for
						us at help@hirefreehands.tech.
					</p>
				</div>

				<!--Privacy-->
				<div id="privacy">

					<p>
						This Privacy Policy describes the policies and procedures of Hirefreehands Inc. (<span class="underline">"we"</span>,
						<span class="underline">"our"</span> or <span class="underline">"us"</span>) on the collection, use and disclosure of your information on
						www.hirefreehands.tech (the "Site") and the services, features, content or applications we
						offer (collectively with the Site, the <span class="underline">"Services"</span>). We receive information about you from
						various sources, including: (i) if you register for the Site and the Services, through your
						user account on the Services (your <span class="underline">"Account"</span>); (ii) your use of the Services generally; and
						(iii) from third party websites and services. When you use the Services, you are consenting
						to the collection, transfer, manipulation, storage, disclosure and other uses of your
						information as described in this Privacy Policy.
					</p>

					<h4>What Does This Privacy Policy Cover?</h4>

					<p>
						This Privacy Policy covers the treatment of personally identifiable information (<span class="underline">"Personal
						Information"</span>) gathered when you are using or accessing the Services. This Privacy Policy
						also covers our treatment of any Personal Information that our business partners share
						with us or that we share with our business partners.<br/><br/>
						This Privacy Policy does not apply to the practices of third parties that we do not own or
						control, including but not limited to any third party websites, payment processors,
						services and applications (<span class="underline">"Third Party Services"</span>) that you elect to access through the
						Service or to Clients, Freehands or other individuals that we do not manage or employ.
						While we attempt to facilitate access only to those Third Party Services that share our
						respect for your privacy, we cannot take responsibility for the content or privacy policies
						of those Third Party Services. We encourage you to carefully review the privacy policies of
						any Third Party Services you access.
					</p>

					<h4>What Information Do We Collect?</h4>
					<p>
						The information we gather enables us to personalize, improve and continue to operate
						the Services. In connection with certain aspects of the Services, we may request, collect
						and/or display some of your Personal Information. We collect the following types of
						information from our users:
					</p>

					<ul class="styled-list">
						<li>
							<h4 class="italics">User Biodata:</h4>
							<p>
								When you create an Account or post a Job, you will provide information that could be
								Personal Information, such as your username, password, address and email address. You
								acknowledge that this information may be personal to you, and by creating an account on
								the Services and providing Personal Information to us, you allow others, including us, to
								identify you and therefore may not be anonymous. We may use your contact information
								to send you information about our Services, but only rarely when we feel such
								information is important. You may unsubscribe from these messages through your
								Account settings, although we, regardless, reserve the right to contact you when we
								believe it is necessary, such as for account recovery purposes.
							</p>
						</li>

						<li>
							<h4 class="italics">Banking Information:</h4>
							<p>
								When you choose to bid for a Job as a Freehand, you will be required to go through a
								one-time verification process where we collect certain information to authenticate your
								person and verify your profile for traceability purposes. This is important for us to
								ascertain to credibility of each Freehand, and most importantly, to maintain security on
								the site. The pieces of banking information requested – BVN (Bank Verification Number),
								bank name and bank account number) are requested to ensure that users can withdraw
								their earnings from Jobs completed on the site straight to their individual bank accounts
								safely and securely, eliminating the risk of wrong transfers to people other than the
								Freehands themselves. We will confirm the authenticity of your provided bank account
								number and bank account holder's name with the BVN number owned by all bank
								account holders within the Federal Republic of Nigeria. The banking information
								requested is for the sole purpose of funds security and hence we will not release banking
								information to any individual or 3rd Party agency without express approval from the
								Freehand concerned.
							</p>
						</li>

						<li>
							<h4 class="italics">Other Financial Information:</h4>
							<p>
								We do not currently collect financial information outside the banking information items
								listed above, such as your payment method (valid credit card or debit card number, type,
								expiration date or other financial information); that information is collected and stored by
								our third party payment processing company (the <span class="underline">"Payment Processor"</span>), and use and
								storage of that information is governed by the Payment Processor's applicable terms of
								service and privacy policy. However, we may from time to time request and receive some
								of your financial information from our Payment Processor for the purposes of completing
								transactions you have initiated through the Services, enrolling you in discount, rebate,
								and other programs in which you elect to participate, protecting against or identify
								possible fraudulent transactions, and otherwise as needed to manage our business.
							</p>
						</li>

						<li>
							<h4 class="italics">User Content:</h4>
							<p>
								Some features of the Services allow you to provide content to the Services, such as written
								comments. All content submitted to the Services by you may be retained by
								Hirefreehands indefinitely, even after you terminate your account. We may continue to
								disclose such content to third parties in a manner that does not reveal Personal
								Information (unless you otherwise publicly disclose it, such as through public comments),
								as described in this Privacy Policy.
							</p>
						</li>

						<li>
							<h4 class="italics">
								IP Address Information and Other Information Collected Automatically:
							</h4>
							<ul class="styled-list">
								<li>
									<p>
										We automatically receive and record information from your web browser when you
										interact with the Services, including your IP address and cookie information. This
										information is used for fighting spam/malware and also to facilitate collection of
										data concerning your interaction with the Services (e.g., what links you have
										clicked on).
									</p>
								</li>
								<li>
									<p>
										Generally, the Services automatically collect usage information, such as the
										number and frequency of visitors to the Site. We may use this data in aggregate
										form, that is, as a statistical measure, but not in a manner that would identify you
										personally. This type of aggregate data enables us and third parties authorized by
										us to figure out how often individuals use parts of the Services so that we can
										analyze and improve them.
									</p>
								</li>
							</ul>
						</li>

						<li>
							<h4 class="italics">Email Communications:</h4>
							<p>
								We may receive a confirmation when you open an email from us. We use this confirmation to improve our Client service.
							</p>
						</li>

						<li>
							<h4 class="italics">Information Collected Using Cookies:</h4>
							<ul class="styled-list">
								<li>
									<p>
										Cookies are pieces of text that may be provided to your computer through your
										web browser when you access a website. Your browser stores cookies in a manner
										associated with each website you visit. We use cookies to enable our servers to
										recognize your web browser and tell us how and when you visit the Site and
										otherwise use the Services through the Internet.
									</p>
								</li>
								<li>
									<p>
										Our cookies do not, by themselves, contain Personal Information, and we do not
										combine the general information collected through cookies with other Personal
										Information to tell us who you are. As noted, however, we do use cookies to
										identify that your web browser has accessed aspects of the Services and may
										associate that information with your Account if you have one.
									</p>
								</li>
								<li>
									<p>
										Most browsers have an option for turning off the cookie feature, which will prevent
										your browser from accepting new cookies, as well as (depending on the
										sophistication of your browser software) allowing you to decide on acceptance of
										each new cookie in a variety of ways. We strongly recommend that you leave
										cookies active, because they enable you to take advantage the most attractive
										features of the Services.
									</p>
								</li>
								<li>
									<p>
										This Privacy Policy covers our use of cookies only and does not cover the use of
										cookies by third parties. We do not control when or how third parties place cookies
										on your computer. For example, third party websites to which a link points may set
										cookies on your computer.
									</p>
								</li>
							</ul>
						</li>

						<li>
							<h4 class="italics">Information Related to Advertising:</h4>
							<p>
								To support and enhance the Services, we may serve advertisements, and also allow third
								parties advertisements, through the Services. These advertisements are sometimes
								targeted and served to particular users and may come from third party companies called
								“ad networks.” Ad networks include third party ad servers, ad agencies, ad technology
								vendors and research firms.<br/><br/>
								Advertisements served through the Services may be targeted to users who fit a certain
								general profile category may be based on anonymized information inferred from
								information provided to us by a user, including Personal Information (e.g., gender or
								age), may be based on the Services usage patterns of particular users, or may be based
								on your activity on Third Party Services. We do not provide Personal Information to any ad
								networks for use outside of the Services.
							</p>
						</li>

						<li>
							<h4 class="italics">Agrregate Information:</h4>
							<p>
								We collect statistical information about how both unregistered and registered users,
								collectively, use the Services (<span class="underline">"Aggregate Information"</span>). Some of this information is
								derived from Personal Information. This statistical information is not Personal Information
								and cannot be tied back to you, your Account or your web browser.
								How, and With Whom, Is My Information Shared?
								The Services are designed to help you share information with others. As a result, some of
								the information generated through the Services is shared publicly or with third parties.
							</p>
						</li>

						<li>
							<h4 class="italics">Public Information about Your Activity on the Services:</h4>
							<p>
								Some of your activity on and through the Services is public by default. This may include,
								but is not limited to, Jobs, Job Posts, your Rating, Your user profile and other content you
								have posted publicly on the Site or otherwise through the Services.
								Registered users may have some of this information associated with their Accounts.
								Unregistered users will not have this association, but information concerning their use of
								the Services (such as what pages they have visited) may be tracked anonymously through
								the use of cookies and stored by us.
								Please also remember that if you choose to provide Personal Information using certain
								public features of the Services, then that information is governed by the privacy settings
								of those particular features and may be publicly available. Individuals reading such
								information may use or disclose it to other individuals or entities without our control and
								without your knowledge, and search engines may index that information. We therefore
								urge you to think carefully about including any specific information you may deem private
								in content that you create or information that you submit through the Services.
							</p>
						</li>

						<li>
							<h4 class="italics">IP Address Information:</h4>
							<p>
								While we collect and store IP address information, that information is not made public. We
								do at times, however, share this information with our partners, service providers and
								other persons with whom we conduct business, and as otherwise specified in this Privacy
								Policy.
							</p>
						</li>

						<li>
							<h4 class="italics">Information You Elect to Share:</h4>
							<p>
								You may access other Third Party Services through the Services, for example by posting a
								Job clicking on links to those Third Party Services or other Freehand's sites from within
								the Site. We are not responsible for the privacy policies and/or practices of these Third
								Party Services, and you are responsible for reading and understanding those Third Party
								Services' privacy policies. This Privacy Policy only governs information collected on the
								Services.
							</p>
						</li>

						<li>
							<h4 class="italics">Aggregate Information:</h4>
							<p>
								We share Aggregate Information with our partners, service providers and other persons
								with whom we conduct business. We share this type of statistical data so that our
								partners can understand how and how often people use our Services and their services or
								websites, which facilitates improving both their services and how our Services interface
								with them. In addition, these third parties may share with us non-private, aggregated or
								otherwise non Personal Information about you that they have independently developed or
								acquired.
							</p>
						</li>

						<li>
							<h4 class="italics">Email Communications with Us:</h4>
							<p>
								As part of the Services, you may occasionally receive email and other communications
								from us, such as communications relating to your Account. Communications relating to
								your Account will only be sent for purposes important to the Services, such as Job status,
								Site notifications, password recovery and banking information updates when you elect to
								change them.
							</p>
						</li>

						<li>
							<h4 class="italics">User Profile Information:</h4>
							<p>
								User profile information including your username, Jobs, Job Posts, Freehand Rating,
								Freehand Levels and other information you enter may be displayed to and shared with
								other users to facilitate user interaction within the Services.
							</p>
						</li>

						<li>
							<h4 class="italics">Information Shared With Our Agents:</h4>
							<p>
								We employ and contract with people and other entities that perform certain acts on our
								behalf and who are under our control (our <span class="underline">"Agents"</span>). We may need to share Personal
								Information with our Agents in order to provide products or services to you. Unless we
								tell you differently, our Agents do not have any right to use Personal Information or other
								information we share with them beyond what is necessary to assist us. You hereby
								consent to our sharing of Personal Information with our Agents.
							</p>
						</li>
					</ul>

					<h4>Information Disclosed Pursuant to Business Transfers</h4>
					<p>
						In some cases, we may choose to buy or sell assets. In these types of transactions, user
						information is typically one of the transferred business assets. Moreover, if we, or
						substantially all of our assets, were acquired, or if we go out of business or enter
						bankruptcy, user information would be one of the assets that is transferred or acquired
						by a third party. You acknowledge that such transfers may occur, and that any acquirer of
						Hirefreehands or its assets may continue to use your Personal Information as set forth in
						this policy.
					</p>

					<h4>Information Disclosed for Our Protection and the Protection of Others</h4>
					<p>
						We also reserve the right to access, read, preserve, and disclose any information as it
						reasonably believes is necessary to (i) satisfy any applicable law, regulation, legal process
						or governmental request, (ii) enforce Terms & Conditions, Copyright Policy and Privacy
						Policy, including investigation of potential violations hereof, (iii) detect, prevent, or
						otherwise address fraud, security or technical issues, (iv) respond to user support
						requests, or (v) protect our rights, property or safety, our users and the public. This
						includes exchanging information with other companies and organizations for fraud
						protection and spam/malware prevention.
					</p>

					<h4>Information Disclosed for Our Protection and the Protection of Others</h4>
					<p>
						We also reserve the right to access, read, preserve, and disclose any information as it
						reasonably believes is necessary to (i) satisfy any applicable law, regulation, legal process
						or governmental request, (ii) enforce Terms & Conditions, Copyright Policy and Privacy
						Policy, including investigation of potential violations hereof, (iii) detect, prevent, or
						otherwise address fraud, security or technical issues, (iv) respond to user support
						requests, or (v) protect our rights, property or safety, our users and the public. This
						includes exchanging information with other companies and organizations for fraud
						protection and spam/malware prevention.
					</p>

					<h4>Information We Share With Your Consent</h4>
					<p>
						Except as set forth above, you will be notified when your Personal Information may be
						shared with third parties, and will be able to prevent the sharing of this information.
					</p>

					<h4>Is Information About Me Secure?</h4>
					<p>
						Your Account information will be protected by a password for your privacy and security.
						You need to prevent unauthorized access to your Account and Personal Information by
						selecting and protecting your password appropriately and limiting access to your
						computer and browser by signing off after you have finished accessing your Account.<br/><br/>
						We seek to protect Account information to ensure that it is kept private; however, we
						cannot guarantee the security of any Account information. Unauthorized entry or use,
						hardware or software failure, and other factors, may compromise the security of user
						information at any time.<br/><br/>
						We otherwise store all of our information, including your IP address information, using
						industry-standard techniques. We do not guarantee or warrant that such techniques will
						prevent unauthorized access to information about you that we store, Personal
						Information or otherwise.
					</p>

					<h4>What Information of Mine Can I Access?</h4>
					<p>
						If you are a registered user, you can access information associated with your Account by
						logging into the Services. Registered and unregistered users can access and delete
						cookies through their web browser settings.
					</p>

					<h4>How Can I Delete My Account?</h4>
					<p>
						Should you ever decide to delete your Account, you may do so by
						emailing help@hirefreehands.tech or reaching us through the 'Customer Support' section
						of the site. If you terminate your Account, any association between your Account and
						information we store will no longer be accessible through your Account. However, given
						the nature of sharing on the Services, any public activity on your Account prior to deletion
						will remain stored on our servers and will remain accessible to the public.
					</p>

					<h4>What Choices Do I Have Regarding My Information?</h4>
					<ul class="styled-list">
						<li>
							<p>
								You can use many of the features of the Services without registering, thereby
								limiting the type of information that we collect.
							</p>
						</li>
						<li>
							<p>
								You can always opt not to disclose certain information to us, even though it may be needed to take advantage of some of our features.
							</p>
						</li>
						<li>
							<p>
								You can delete your Account. Please note that we will need to verify that you have
								the authority to delete the Account, and activity generated prior to deletion will
								remain stored by us and may be publicly accessible.
							</p>
						</li>
					</ul>

					<h4>What Happens When There Are Changes to this Privacy Policy?</h4>
					<p>
						We may amend this Privacy Policy from time to time. Use of information we collect now is
						subject to the Privacy Policy in effect at the time such information is used. If we make
						changes in the way we collect or use information, we will notify you by posting an
						announcement on the Services or sending you an email. A user is bound by any changes
						to the Privacy Policy when he or she uses the Services after such changes have been first
						posted.
					</p>

					<h4>What If I Have Questions or Concerns?</h4>
					<p>
						If you have any questions or concerns regarding privacy using the Services, please send
						us a detailed message to help@hirefreehands.tech or contact us through the 'Customer Support' section of the site. We will make every effort to resolve your concerns.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
