	<!-- Banner Section -->
	<section class="section banner">
		<div class="container">
			<div class="column width-50 left">
				<h1>Affordable World-Class Freelancers</h1>
				<p>Hire top freelance talent from Africa to deliver your digital tasks and projects.</p>
				<a href="" class="btn signup-btn" data-show="signup-form">Get Started</a>
			</div>
			<div class="column width-50 right">
				<img src="landing/new_assets/img/welcome.png" class="right" alt="">
			</div>
		</div>
	</section>
	<!-- Banner Section End -->

	<!-- USP Section -->
	<section class="section usp">
		<div class="container flex">
			<div class="column width-30 flex-1">
				<img src="landing/new_assets/img/Quality.png" alt="Quality">
				<h1 class="margin-20">Quality</h1>
				<p class="margin-20">We carefully recruit freehands from the top 3% of our application pool. All our freelancers are highly talented and professional specialists. They stay true to the most important part of your job - Quality.</p>
			</div>
			<div class="column width-30 flex-1">
				<img src="landing/new_assets/img/Price.png" alt="Price">
				<h1 class="margin-20">Price</h1>
				<p class="margin-20">
					Our intelligent pricing system helps you set a budget that's really affordable for you, yet valuable for your freelancer. No price quotes, negotiations or hidden fees - just exceptional work at the perfect price.	
				</p>
			</div>
			<div class="column width-30 flex-1">
				<img src="landing/new_assets/img/Ease.png" alt="Ease">
				<h1 class="margin-20">Ease</h1>
				<p class="margin-20">
					Simply post your project and our freehands will send you brilliant bids according to your requirements. Customer support is on hand 24/7 and your freelancer only gets paid when you are 100% satisfied.
				</p>
			</div>
		</div>
	</section>
	<!-- USP Section End -->

	<!-- Categories Section -->
	<section class="section categories">
		<div class="container">
			<h1>
				Got a task or project across any of these categories? 
				Sign up today and hire the perfect freehand to get it delivered.
			</h1>
			<img src="landing/new_assets/img/categories.png" class="margin-100 desktop" alt="">
			<img src="landing/new_assets/img/categories-mobile.png" class="margin-100 mobile" alt="">
			<a href="" class="btn alternate white margin-50 signup-btn" data-show="signup-form">Post a Job</a>
		</div>
	</section>
	<!-- Categories Section End -->
	<!-- Customer Reviews Section -->
	<section class="section reviews">
		<div class="container">
			<h1>Splendid Reviews from Happy Users</h1>
			<div class="review-cards center flex margin-50">
				<div class="card flex-1">
					<img src="landing/new_assets/img/reviews/ile.jpg" alt="" class="avatar left">
					<div class="review left">
						<p class="name">Ile Oko Ya</p>
						<p class="location">Lagos, Nigeria</p>
						<p class="message margin-20">Very affordable platform, their freelancers are very professional, you don't need to call or negotiate or anything, everything is done online and the exact way you want it.</p>
					</div>
				</div>
				<div class="card flex-1">
					<img src="landing/new_assets/img/reviews/Logo-Shop.jpg" alt="" class="avatar border left ">
					<div class="review left">
						<p class="name">The Logo Shop</p>
						<p class="location">Toronto, Canada</p>
						<p class="message margin-20">The Hirefreehands support team is superb. They followed up consistently to ensure my experience was perfect. Couldn’t have asked for more.</p>
					</div>
				</div>
				<div class="card flex-1">
					<img src="landing/new_assets/img/reviews/heys.jpg" alt="" class="avatar border left">
					<div class="review left">
						<p class="name">Heys! Foods</p>
						<p class="location">Paris, France</p>
						<p class="message margin-20">I have never seen a graphic designer work so fast on something so great! I think I hired more than a free hand! It was a gifted one.</p>
					</div>
				</div>
				<div class="card flex-1">
					<img src="landing/new_assets/img/reviews/ArtIsLush-Logo.jpg" alt="" class="avatar left">
					<div class="review left">
						<p class="name">Art Is Lush</p>
						<p class="location">Toronto, Canada</p>
						<p class="message margin-20">Fantastic work and communication. I hired a really talented designer, very responsive and easy to work with! I highly recommend.</p>
					</div>
				</div>
			</div>
			<div class="cta margin-50">
				<p>Do you have a digital idea, task or project? 
				Need a freelancer or a project team to bring it to reality?  You're at the right place.
				</p>
				<a href="" class="btn margin-20 signup-btn" data-show="signup-form">Start Now</a>
			</div>
		</div>
	</section>
