<md-dialog aria-label="Confirm Dialog" class="confirm" ng-cloak>
	<md-dialog-content>
      	<div class="md-dialog-content">
	      	<h1 ng-if="heading !== undefined">{{heading}}</h1>
	      	<p>
	      		{{message}}
	      	</p>	      	
	    </div>
	    <div class="options">
      		<button class="{{option.classList}}" ng-click="doAction($index)" ng-repeat="option in options">
      			{{option.title}}
      		</button>
      	</div>
    </md-dialog-content>
</md-dialog>