<md-dialog aria-label="Profile completion prompt dialog" id="verification-restriction" style="padding: 30px;">
    <md-dialog-content>
        <div class="center-text">
            <h3 class="underline">Hi There!</h3>
            <p>Thanks for joining Nigeria’s biggest and most amazing marketplace for freelance services.</p>
            <p><strong>Please take a few minutes to fill up your profile with good content.</strong></p>
            <p>
                A compelling bio, clearly listed qualifications, an interesting portfolio and a smart looking profile <br>
                picture will go a long way to improve your profile and make it easier to connect with <br> 
                other users (freelancers, clients) here on Hirefreehands.
            </p>
            <button style="margin: 20px 0;" class="md-button success regular-btn" ng-click="goToUserProfile()">Take me to my profile</button>
        </div>
    </md-dialog-content>
</md-dialog>