<md-dialog aria-label="Verification restriction dialog" id="verification-restriction" style="padding: 30px;">
    <md-dialog-content>
        <div class="center-text">
            <h3 class="underline">Hi there!</h4>
            <p>Applications to become a verified freelancer have currently <br> been put on hold. This section will
                be reopened soon.</p>
            <p>Please visit the support section in your user menu if you <br> need any assistance. Thanks!</p>
            <button style="margin: 20px 0;" class="md-button success regular-btn" ng-click="goToSupportSection()">
                Visit support section
            </button>
        </div>
    </md-dialog-content>
</md-dialog>