.signin-form {
	opacity: 0;
	position: absolute;
	padding: 20px;
	border-radius: 10px;
	background: #fff;
	right: 0;
	top: 50px;
	z-index: 500;
	box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
	transition: all 250ms ease-in-out 100ms;
	width: 320px;
	@include mobile {
		width: 250px;
	}
	input[type="text"],
	input[type="password"],input[type="email"] {
		width: calc(100% - 20px);
		padding: 10px;
		margin-top: 10px;
		border-radius: 5px;
		border: 1px solid $hfh-grey-100;
		outline: none;
		font-size: 1em;
		-webkit-appearance: none;
		&:focus {
			border-color: darken($hfh-grey-100, 30%);
		}
	}
	input[type="button"],button[type="button"] {
		margin-top: 10px;
		border: none;
		font-size: 1em;
		font-family: 'Ubuntu', sans-serif;
		cursor: pointer;
		outline: none;
		-webkit-appearance: none;
	}
	.forgot-pass {
		margin-top: 10px;
		color: $hfh-text-100;
		padding: 10px;
		display: inline-block;
		font-size: .8em;
		&:hover {
			color: $hfh-green-100;
		}
	}
	&.show {
		opacity: 1;
		top: 60px;
	}
}

.modal {
	width: 100%;
	height: 100vh;
	background: $hfh-green-100;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	display: none;
	&.show {
		display: flex;
	}
	@include mobile {
		height: 100%;
		cursor: pointer;
	}
}

.signup-form {
	@extend .signin-form;
	position: relative;
	opacity: 0;
	width: 320px;
	margin: auto;
	background: white;
	transition: all 250ms ease-in-out;
	&.show {
		opacity: 1;
		top: 0;
	}
	p {
		margin-bottom: 20px;
	}
	@include mobile {
		width: 250px;
	}
	.have-acc {
		width: calc(100% - 40px);
		text-align: center;
		position: absolute;
		bottom: -30px;
		float: left;
		color: white;
		font-size: .8em;
	}
}
.form{
	.logo{
		float: none;
		height: 2.5em;
		padding: 10px 0;
	}
}
