.legal-nav{
    @include mobile{
        position: fixed;
        top: 0;
        left: 0;
        padding: 10px 0;
        background: white;
        text-align: center;
    }
}
.legal{
    float: left;
    width: 100%;
    margin-top: 50px;
    @include mobile{
        //margin-top: 0px;
    }
    .side-nav{
        float: left;
        width: 200px;
        position:fixed;
        @include mobile{
            width: 100%;
            background: white;
            padding: 10px 0;
        }
        .nav-link{
            color: $hfh-text-200;
            text-decoration: none;
            padding: 10px 20px;
            border-radius: 5px;
            float: left;
            &.active{
                background: $hfh-green-100;
                color: white;
            }
        }
    }
    .content{
        float:right;
        width: 790px;
        color: $hfh-text-100;
        display: none;
        @include mobile{
            width: 100%;
            margin-top:80px;
            float: left;
        }
        &.show{
            display: block;
        }
        h1{
            padding-bottom: 20px;
        }
        strong{
            font-weight: bold;
            color:$hfh-text-200;
        }
        p{
            float: left;
            display: block;
        }
        ul{
            float: left;
        }
        li{
            list-style: square;
            float: left;
            padding: 10px;
            &.alpha{
                list-style: lower-alpha;
            }
            &.decimal{
                list-style: decimal;
            }
        }
    }
}