<div class="filter">
	<div class="header" layout="row">
		<div flex="90">
			<i class="fa fa-filter"></i> Filter
		</div>
		<div flex>
			<a toggle-side-panel href="">&times;</a>
		</div>
	</div>

	<md-list ng-cloak>

	    <md-subheader class="md-no-sticky">Ratings</md-subheader>

	    <md-list-item ng-repeat="rating in ratings track by $index">
            <div class="star-rating" ng-init="stars=ratings">
                <span class="fa fa-star" ng-repeat="star in stars | limitTo: $index + 1"></span>
            </div>
		    <md-checkbox class="md-secondary" ng-model="filter.selectedRatings[rating]" aria-label="FilterBy Ratings Checkbox" ng-click="filterBy('rating')"></md-checkbox>
	    </md-list-item>

		<md-divider></md-divider>   

        <md-subheader class="md-no-sticky">Skillset</md-subheader>

		<div class="center" ng-if="isLoadingSkills">
			<md-progress-circular md-mode="indeterminate" class="primary center" md-diameter="50"></md-progress-circular>
		</div>

		<div class="skills-container" ng-if="!isLoadingSkills">
			<md-list-item ng-repeat="skill in skills | orderBy:'name'">
            	<p>{{skill.name}}</p>
		    	<md-checkbox class="md-secondary" ng-model="filter.selectedSkills[skill.name]" aria-label="FilterBy Skills Checkbox" ng-click="filterBy('skill')"></md-checkbox>
	    	</md-list-item>
		</div>
	</md-list>
</div>