<div class="mobile-dock" hide-gt-xs>
	<md-button href="/create-job" class="success center"> <i class="fa fa-briefcase"></i> &nbsp; Hire A freehand</md-button>
</div>

<div layout="column" flex>

	<div class="page-jumbotron projects">
		<div class="category-divider">
				<h2>Browse our Freehands</h2>
		</div>
		<div class="search" layout="row">
			<div flex>
				<input ng-model="query" placeholder="Type at least 3 characters to start the search...">
				<span class="icon fa fa-search"></span>
			</div>
			<div flex="20">
				<button class="job-filter-trigger" toggle-side-panel>
					<span class="fa fa-sliders"></span> &nbsp;	<span class="filter-text">Filter</span>
				</button>
			</div>
		</div>
	</div>

	<div class="center" ng-if="isLoading">
		<md-progress-circular md-mode="indeterminate" class="primary center" md-diameter="50"></md-progress-circular>
		<!-- <img src="src/imgs/hfh-loading-icon.gif" width="50%" alt=""> -->
	</div>

	<!--Freelancers filter directive-->
	<freelancers-filter class="side-panel" style="display:none;"></freelancers-filter>

	<div layout="row" layout-align="center" class="freelancer-row" ng-if="!isLoading" layout-wrap layout-margin>
		<div class="freelancer card" ng-repeat="freelancer in freelancers | filter:query" flex-sm="100" flex-gt-sm="30" flex>

			<div class="banner" style="background: url('public/dist/imgs/kaleidoscope_bg.png') center" title="hirefreehands startup business website">
				<div class="tint">
					<div class="profile-pic">
						{{freelancer.lastname}}
						<div ng-if="freelancer.image" class="image" style="background: url({{imageUrl(freelancer.image)}}) center;"></div>
						<div ng-if="!freelancer.image"
							 class="image"
							 ng-avatar
							 initials="{{getUserInitials(freelancer.name.split(' ')[0], freelancer.name.split(' ')[1])}}"
							 bg-color="#fff"
							 text-color="#0AC775"
							 height="72"
							 width="72"
							 round-shape="true">
						</div>
					</div>
				</div>
			</div>

			<div class="info">
				<h4 class="fullname">{{freelancer.name}}</h4>

				<p class="caption" ng-if="freelancer.skills" ng-init="freelancerSkills = joinSkills(freelancer.skills)">
					{{freelancerSkills}}
				</p>

				<div class="stats" layout="row" flex>
					<div flex>
						<div class="stat projects">
							<span class="fa fa-archive"></span> <strong>{{freelancer.completed_jobs}}</strong>
						</div>
						<md-tooltip md-direction="down">
				        	Total number of completed projects
				        </md-tooltip>
					</div>
					<div flex>
						<div class="stat reviews">
							<span class="fa fa-comments"></span> <strong>{{freelancer.reviews.length}}</strong>
						</div>
						<md-tooltip md-direction="down">
				        	Total number of reviews from different clients
				        </md-tooltip>
					</div>
				</div>
				<button class="md-button bid" data-ng-click="viewFreelancerProfile(freelancer,$event)">
					View Profile
				</button>

			</div>
		</div>
	</div>
</div>
