<md-dialog aria-label="Freelancer Profile" id="freelancer-profile" class="large" ng-cloak>
	<md-dialog-content>
		
		<!--Include freelancer profile-->
		<div user-profile></div>

	</md-dialog-content>	    
</md-dialog>