<md-dialog aria-label="Upload Phone Number" class="slim slim-content" ng-cloak>    
	<md-dialog-content class="md-dialog-content">

		<div class="center-text">
			<h4 class="underline">Mobile Phone Number</h4>
			<!-- <p>
				You need to upload a valid phone number for us to call for a brief interview
				to verify your identity.
			</p> -->
		</div>

		<div class="alert-error" ng-hide="!error.message">
			{{error.message}}
		</div>

		<!--Phone Number-->
		<div class="column" flex>

			<div layout="row">
					
				<md-input-container flex="40">
			        <label>Country Code</label>
			        <input disabled="true" ng-model="countryCode">
		        </md-input-container>

		        <md-input-container>
			        <label>Your number e.g. 8021231234</label>
			        <input ng-model="numberSuffix">
		        </md-input-container>
			</div>
			
	        <div flex>
				<button class="md-button right no-margin" ng-click="closeDialog()">Cancel</button>
				<button class="md-button success right no-margin" ng-click="doUploadPhoneNumber()">Submit</button>
				<md-progress-circular md-mode="indeterminate" class="primary right" ng-if="isUploadingPhoneNumber" md-diameter="50"></md-progress-circular>
			</div>
	    </div>

	</md-dialog-content>
</md-dialog>