<md-dialog aria-label="Upload Phone Number" class="slim slim-content" ng-cloak>    
	<md-dialog-content class="md-dialog-content">

		<div class="center-text">
			<h4 class="underline">Upload BVN</h4>
			<p>
				You need to upload a valid bank verification number(BVN) and bank account number for us to
				to verify your identity. The bank account number is the one we will be
				credit when you make money from freelance jobs.
			</p>
		</div>

		<div class="alert-error" ng-hide="error.message === ''">
			{{error.message}}
		</div>

		<!--Financial Details-->
		<div class="column" flex>
			<md-input-container>
		        <label>Enter 11 digit BVN</label>
		        <input ng-model="records.bvn">
	        </md-input-container>

	        <md-input-container>
		        <label>Enter your 10 digit account number</label>
		        <input ng-model="records.acc_number">
	        </md-input-container>
	        
	        <md-input-container>
		        <label>Select Bank</label>
		        <md-select ng-model="records.bank" md-on-open="getAllBanks()">	       
		            <md-option ng-value="bank.name" ng-repeat="bank in banks">
		            	{{bank.name}}
		            </md-option>
		        </md-select>
	        </md-input-container>

	        <div flex>
				<button class="md-button right no-margin" ng-click="closeDialog()">Cancel</button>
				<button class="md-button success right no-margin" ng-click="doUploadBVN(records)">
					Submit
				</button>
				<md-progress-circular md-mode="indeterminate" class="primary right" ng-if="isUploadingBVN" md-diameter="50"></md-progress-circular>
			</div>
	    </div>

	</md-dialog-content>
</md-dialog>