<div class="full-width" layout="column">

	<div class="page-jumbotron projects no-margin">
		<h1>Freelancer Verification</h1>
	</div>

	<div class="chat-window" class="white-bg">
		<div layout="row" flex>
			<div class="freelancers" flex="30" ng-if="isAgent()">
				<div class="header">
					<div><h4>Freelancers</h4></div>
				</div>
				<div class="list-search-bar">
			  		<input placeholder="Search ..." ng-model="searchTerm"/>
			  	</div>
				<md-content class="chat-list-container" style="height: 70vh;">
					<md-list class="chat-list" ng-cloak>
						<md-list-item class="md-1-line" ng-class="{'active':isActiveFreelancer(freelancer.id)}" ng-repeat="freelancer in freelancers | orderBy:'name' | filter:searchTerm" flex>
							<div class="md-list-item-text" ng-click="makeActiveFreelancer(freelancer)" flex>
					    		<span class="name">{{freelancer.name}}</span>
							</div>
						</md-list-item>
						<md-divider></md-divider>
					</md-list>
				</md-content>
			</div>

			<div class="chat-history-container right-toolbar" layout="column">

				<div class="header" layout="row">
					<h4 flex>
						<span ng-if="isAgent()">{{activeFreelancerName}}</span>
						<span ng-if="!isAgent()">Freelancer Verification History</span>
					</h4>
					<div flex="30">
						<ul class="pin-group center-text no-margin right">

							<!--If this is an HFH agent-->
							<li ng-if="isAgent()" ng-class="{'pin small active':checklist.IDENTITY,'pin small':!checklist.IDENTITY}" ng-click="verifyFreelancerItem('IDENTITY')">
								<span class="fa fa-user"></span>
								<md-tooltip md-direction="down" >
						          Verify freelancer's identity
						        </md-tooltip>
						    </li>

						    <!--If this is NOT an HFH agent-->
						    <li ng-if="!isAgent()" ng-class="{'pin small active':checklist.IDENTITY,'pin small':!checklist.IDENTITY}">
								<span class="fa fa-user"></span>
						        <md-tooltip md-direction="down" ng-if="!isAgent()">
						          Valid identification has NOT / has been submitted
						        </md-tooltip>
							</li>

							<li ng-class="{'pin small active':checklist.PHONE_INTERVIEW,'pin small':!checklist.PHONE_INTERVIEW}" ng-click="verifyFreelancerItem('PHONE_INTERVIEW')">

								<span class="fa fa-phone"></span>
								<md-tooltip md-direction="down" ng-if="isAgent()">
						          Verify freelancer's phone number
						        </md-tooltip>

						        <md-tooltip md-direction="down" ng-if="!isAgent()">
						          Phone number has NOT / has been verified
						        </md-tooltip>
							</li>

							<li ng-class="{'pin small active':checklist.BVN,'pin small':!checklist.BVN}" ng-click="verifyFreelancerItem('BVN')">

								<span class="fa fa-institution"></span>

								<md-tooltip md-direction="down" ng-if="isAgent()">
						          Verify freelancer's bank verification number(BVN)
						        </md-tooltip>

						        <md-tooltip md-direction="down" ng-if="!isAgent()">
						          Bank Verification Number & Account Details (BVN) have NOT / have been submitted
						        </md-tooltip>
							</li>
						</ul>
					</div>
				</div>

				<div class="chat-history-section">

					<md-progress-circular ng-if="isLoadingChat" md-mode="indeterminate" class="primary center" md-diameter="50"></md-progress-circular>

					<div ng-class="{'comment':!ownsPost(post),'comment right':ownsPost(post)}" layout="row" ng-repeat="post in verificationChatHistory" ng-if="!ownsPost(post)">
						<div class="profile-pic left" ng-if="!ownsPost(post)" style="background:url('public/dist/imgs/hfh-admin.png') center;">
						</div>

						<div class="detail">

							<!--Type of update and time-->
							<div class="summary" layout="row">

								<div flex="70">
									<h2 class="event">
										<a ng-if="!ownsPost(post)" href="#">{{post.posterName}}</a>
										<a ng-if="ownsPost(post)" href="#">YOU</a>
									</h2>
								</div>
								<div flex><p class="time" am-time-ago="post.posted"></p></div>
							</div>

							<!--More specific detail about the update-->
							<div class="event-detail">

								<!--If this is a text post-->
								<span ng-if="post.comment !== undefined">{{post.comment}}</span>

								<!--If is image post-->
								<div class="image-post" layout="row" ng-if="post.attachment !== undefined && post.attachment.type === 'IMAGE'">
									<div class="image">
										<img src="{{post.attachment.url}}">
									</div>
									<div class="display-flex justify-center content" layout="column" flex>
										<a target="_blank" href="{{post.attachment.url}}">View Full Image</a>
									</div>
								</div>
								
								<!--If this comment is a prompt to continue verification-->
								<div ng-if="post.nextItem !== undefined && post.nextItem === 'LINKEDIN'">
									<button class="md-button right success" ng-click="continueVerification(post.nextItem)" ng-if="$index === verificationChatHistory.length - 1">Verify Linkedin</button>
								</div>

								<!--If this comment is a prompt to continue with IDENTITY UPLOAD-->
								<div ng-if="post.nextItem !== undefined && post.nextItem === 'UPLOAD_IDENTITY'">
									<button class="md-button right success" ngf-select="uploadIdentity($file)" ngf-pattern="'image/*,audio/*,video/*'" ng-click="continueVerification(post.nextItem)" ng-if="$index === verificationChatHistory.length - 1">Submit Valid ID</button>
								</div>

								<!--If this comment is a prompt to continue verification-->
								<div ng-if="post.nextItem !== undefined && post.nextItem === 'UPLOAD_PHONE'">
									<button class="md-button right success" ng-click="continueVerification(post.nextItem)" ng-if="$index === verificationChatHistory.length - 1">Enter Phone Number</button>
								</div>

								<!--If this comment is a prompt to continue verification-->
								<div ng-if="post.nextItem !== undefined && post.nextItem === 'UPLOAD_BVN'">
									<button class="md-button right success" ng-click="continueVerification(post.nextItem)" ng-if="$index === verificationChatHistory.length - 1">Enter Banking Details</button>
								</div>

								<!--If this comment has no prompt to continue verification, give user option of restarting-->
								<div ng-if="post.nextItem === undefined">
									<button class="md-button right success" ng-click="continueVerification('LINKEDIN')" ng-if="$index === verificationChatHistory.length - 1">Restart Verification</button>
								</div>
							</div>
						</div>

						<div class="profile-pic" ng-if="ownsPost(post)" style="background:url('src/imgs/profile-pic.jpg') center;">
						</div>
					</div>
				</div>

				<div class="chat-box-section justify-bottom">

					<!-- <div class="chatbox" layout="row" flex>

						<div class="upload" ngf-select="upload($file)" ngf-pattern="'image/*,audio/*,video/*'" ngf-max-size="5MB">
							<span class="fa fa-paperclip"></span>
						</div>
						<div flex>
							<textarea ng-model="comment" placeholder="Write your response here...">
							</textarea>
						</div>

						<div flex="15">
							<button class="md-button success pad-btn right" ng-click="post(comment)">Post</button>
						</div>
					</div> -->

					<div class="progress-bar sucess" ng-if="showProgress"><div class="measure" ng-style="{width: uploadProgress}"></div></div>
				</div>

				<!--Once fully accredited as a freelancer-->
				<div class="chat-section" ng-if="false" layout="row">
					<button class="md-button success pad-btn centered" ng-if="false">
						You are now a verified freelancer, start bidding for jobs!
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
