<div id="bid-history-container" class="white-bg full-width">
	<div layout="row" scroll-to-bottom data-collection="allBids" flex>

		<md-progress-circular ng-if="isLoading" md-mode="indeterminate" class="primary center" md-diameter="50"></md-progress-circular>

		<div class="freelancers" flex="30" ng-if="!isLoading && allBids.length > 0 && belongsToCurrentUser(currentJob)">

			<div class="header">
				<h4>Freelancers</h4>
			</div>
			<md-list class="chat-list" ng-cloak>

				<md-list-item ng-repeat="freelancer in freelancers" ng-class="{'active':isActiveFreelancer(freelancer.id)}" ng-click="makeActive(freelancer.id)">
					<div class="profile-pic" style="background:url('{{freelancer.bidderImageUrl}}') center;"></div>
					<a class="name">{{freelancer.name}}</a>
				</md-list-item>

			</md-list>
		</div>

		<div class="project-details" flex="30" ng-if="!belongsToCurrentUser(currentJob)">

			<div class="job-cost">
				<div class="title">This job is worth</div>
				<p class="content">{{ currentJob.price | currency }}</p>
			</div>

			<div class="job-details">
				<md-list class="regular" ng-cloak>
					<md-list-item layout="column">

						<div flex class="title">
							<h4>Job Title</h4>
						</div>
						<div flex class="sub-title">
							<p class="name">{{currentJob.title}}</p>
						</div>

					</md-list-item>

					<md-list-item layout="column">

						<div flex class="title">
							<h4>Job Category</h4>
						</div>
						<div flex class="sub-title">
							<p class="name">{{ currentJob.category.name }}</p>
						</div>

					</md-list-item>

					<md-list-item layout="column">

						<div flex class="title">
							<h4>Job Scope</h4>
						</div>
						<div flex class="sub-title">
							<p class="name">{{currentJob.category_size}}</p>
						</div>

					</md-list-item>

					<md-list-item layout="column">

						<div class="title" flex>
							<h4>Job Duration</h4>
						</div>
						<div class="sub-title" flex>
							<p class="name">{{currentJob.duration}}</p>
						</div>

					</md-list-item>

					<md-list-item layout="column">

						<div class="title" flex>
							<h4>Job Description</h4>
						</div>
						<div class="sub-title" flex>
							<p class="name">{{currentJob.description}}</p>
						</div>

					</md-list-item>

					<md-list-item layout="column">

						<div class="title" flex>
							<h4>Required Skills</h4>
						</div>

						<md-chips ng-model="currentJob.skills.data" readonly="true" md-removable="false" style="box-shadow:none;">
							<md-chip-template>
								<strong>{{$chip.name}}</strong>
							</md-chip-template>
						</md-chips>

					</md-list-item>

					<md-list-item layout="column" ng-if="currentJob.milestones.data.length > 0">

						<div class="title" flex>
							<h4>Job Milestones</h4>
						</div>
						<ul>
							<li class="sub-title" ng-repeat="milestone in currentJob.milestones.data" flex>
								<p class="name">{{milestone.title}}</p>
							</li>
						</ul>

					</md-list-item>

					<md-list-item layout="column" ng-if="currentJob.addons.data.length > 0">

						<div class="title" flex>
							<h4>Job Addons</h4>
						</div>
						<ul>
							<li class="sub-title" ng-repeat="addon in currentJob.addons.data" flex>
								<p class="name">{{addon.title}}</p>
							</li>
						</ul>

					</md-list-item>

					<md-list-item layout="column" ng-if="currentJob.uploads.length > 0">

						<div class="title" flex>
							<h4>Job Samples</h4>
						</div>

						<a class="portfolio-item" href="" ng-if="user.portfolio !== null" ng-repeat="item in currentJob.uploads">
							<div class="avatar" ng-if="item.type === 'IMAGE'" style="background: url({{imageUrl(item.url)}}) center;"></div>

							<div class="avatar" ng-if="item.type !== 'IMAGE' && item.extension === 'PDF'">
								<span class="fa fa-file-pdf-o"></span>
							</div>

							<div class="avatar" ng-if="item.type !== 'IMAGE' && (item.extension === 'DOC' || item.extension === 'DOCX')">
								<span class="fa fa-file"></span>
							</div>

							<div class="avatar" ng-if="item.extension === 'PPTX'">
								<span class="fa fa-file-powerpoint-o"></span>
							</div>

							<div class="title">
								<p>{{item.name}}</p>
							</div>
						</a>

					</md-list-item>
				</md-list>
			</div>
		</div>

		<div class="bid-history" ng-if="!isLoading" flex>

			<div class="header">
				<h4>{{currentJob.title}}</h4>
				<div ng-if="showBidOptions(activeBid[0])" class="footer justify-right" layout="row">
					<div ng-if="!(activeBid[0].status === 'accepted' || activeBid[0].status === 'declined') && !isAcceptingBid && !isUndoing">
						<button class="md-button success pad-btn" ng-click="acceptBid(activeBid[0])">Accept bid</button>
						<button class="md-button danger pad-btn no-margin-l no-margin-r" ng-click="declineBid(activeBid[0])">Decline bid</button>
					</div>

					<md-progress-circular
							ng-if="isAcceptingBid || isDecliningBid || isUndoing"
							md-mode="indeterminate"
							class="primary center"
							md-diameter="50">
					</md-progress-circular>

					<div ng-if="(activeBid[0].status === 'accepted' || activeBid[0].status === 'declined') && !isAcceptingBid && !isUndoing">
						<button class="md-button pad-btn" ng-click="undoBidAction(activeBid[0])">Undo</button>
					</div>
				</div>
			</div>

			<div class="bid-section" flex>

				<div ng-class="{'comment':!ownsPost(bid),'comment right': ownsPost(bid)}" layout="row" ng-if="!isLoading && allBids.length > 0"
					ng-repeat="bid in activeBid track by $index">
					<div class="profile-pic" ng-if="!ownsPost(bid)" style="background:url('{{bid.bidderImageUrl}}') center;">
					</div>

					<div class="detail" flex>

						<!--Type of update and time-->
						<div class="summary" layout="row">

							<div flex="70">
								<h2 class="event">
									<a href="#" ng-if="ownsPost(bid)">You</a>
									<a href="#" ng-if="!ownsPost(bid)">{{bid.name}}</a>
								</h2>
							</div>
							<div flex>
								<p class="time" am-time-ago="bid.created"></p>
							</div>
						</div>

						<!--More specific detail about the update-->
						<div class="event-detail" ng-if="bid.attachment.type === undefined" ng-bind-html="formatComment(bid.comment)"></div>

						<!--If is image post-->
						<div class="event-detail" ng-if="bid.comment === undefined">
							<div class="image-post" layout="row" ng-if="bid.attachment !== undefined && bid.attachment.type === 'IMAGE'">
								<div class="image">
									<img src="{{bid.attachment.url}}">
								</div>
								<div class="display-flex justify-center content" layout="column" flex>
									<a target="_blank" href="{{bid.attachment.url}}">View Full Image</a>
								</div>
							</div>
							<div class="image-post" layout="row" ng-if="bid.attachment !== undefined && bid.attachment.type !== 'IMAGE'">
								<div ng-if="(bid.attachment.type == 'APPLICATION')">
									<span class="fa fa-file-pdf-o"></span>
								</div>
								<div ng-if="(bid.attachment.type == 'VIDEO')">
									<span class="fa fa-file-video-o"></span>
								</div>
								<div class="display-flex justify-center content" layout="column" flex>
									<a target="_blank" href="{{bid.attachment.url}}">View Uploaded File</a>
								</div>
							</div>
						</div>

					</div>

					<div class="profile-pic" ng-if="ownsPost(bid)" style="background:url('{{bid.bidderImageUrl}}') center;">
					</div>
				</div>

				<!--If user owns the job-->
				<div class="alert-info" layout="row" ng-if="!isLoading && allBids.length === 0 && belongsToCurrentUser(currentJob)">
					<i class="fa fa-info-circle"></i> &nbsp; Seems like no one has sent in a bid.
				</div>

				<!--If user does not own the job-->
				<div layout="column" ng-if="!isLoading && activeBid === undefined && !belongsToCurrentUser(currentJob)">
					<div class="alert-info" flex>
						<i class="fa fa-info-circle"></i> &nbsp; Introduce yourself and give the client a reason to hire you for this task.
						Remember... your proposal is your first and perhaps only chance to make a great impression, so make it count!
					</div>
				</div>
			</div>

			<div class="chat-box-section" ng-if="showChatbox(currentJob) && !currentJob.acceptedBid" layout="column">

				<div class="chatbox" layout="row" flex>

					<div class="upload" ngf-select="upload($file)" ngf-pattern="'image/*,audio/*,video/*',application/pdf" ngf-max-size="20MB">
						<span class="fa fa-paperclip"></span>
					</div>

					<div flex>
						<textarea ng-model="newBid.comment" ng-if="belongsToCurrentUser(currentJob)" placeholder="Type your response here"></textarea>

						<textarea ng-model="newBid.comment" ng-if="!belongsToCurrentUser(currentJob)" placeholder="Write your proposal here"></textarea>
					</div>

					<div flex="15">
						<button class="md-button success pad-btn right" data-ng-click="postBid(newBid)">Post</button>
					</div>
				</div>

				<div class="progress-bar sucess" ng-if="showProgress">
					<div class="measure" ng-style="{width: uploadProgress}"></div>
				</div>
			</div>
		</div>
	</div>
</div>