<md-dialog aria-label="Upload Phone Number" class="slim slim-content" ng-cloak>    
	<md-dialog-content class="md-dialog-content">

		<div class="center-text">
			<h4 class="underline">Welcome, Let's Get Started!</h4>
			<p>
				Welcome to your job administeration page. From here, you can chat with your freelancer
				and exchange documents and monitor how your freelancer is delivering. Once the freelancer
				signs the agreement, the timer immediately starts counting down till the end of the project
			</p>
		</div>

		<div class="column center-text" flex>
			<button class="md-button success no-margin" ng-click="closeDialog()">Okay, Got It.</button>
	    </div>

	</md-dialog-content>
</md-dialog>