<md-dialog aria-label="Create A New Job" id="post-job" class="large" ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Create A New Job</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="closeJobPostingDialog()">
                <md-icon class="fa fa-close" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <div class="md-dialog-content">
            <form name="createJobForm" ng-cloak>

                <div class="section" layout="column">
                    <h4 class="header">Job Details</h4>
                    <div layout-gt-sm="row">

                        <!-- Job Title-->
                        <div layout="column" flex>
                            <md-input-container class="md-block" flex>
                                <label>Whats the name of this job?</label>
                                <input md-maxlength="40" name="jobTitle" ng-model="job.title" required>

                                <div class="errors" ng-messages="createJobForm.jobTitle.$error">
                                    <div ng-message="required">This is required.</div>
                                    <div ng-message="md-maxlength">Job name is too long.</div>
                                </div>
                            </md-input-container>
                        </div>

                        <!--job Category-->
                        <div layout="column" flex>
                            <md-input-container class="md-block" ng-if="!showAllCategories()" flex>
                                <label>What type of job is this?</label>
                                <input disabled="true" value="{{job.category.name}}">
                            </md-input-container>
                        </div>

                    </div>

                    <!--Description-->
                    <div layout="column" flex>
                        <md-input-container class="md-block">
                            <label>Briefly Describe The Job</label>
                            <textarea columns="1" rows="4" md-maxlength="500" name="jobDescription" ng-model="job.description" md-select-on-focus required></textarea>

                            <div class="errors" ng-messages="createJobForm.jobDescription.$error">
                                <div ng-message="required">A well-detailed description would help provide a lot of context on your job, to freelancers.</div>
                                <div ng-message="md-maxlength">Your job description should be concise.</div>
                            </div>
                        </md-input-container>
                    </div>
                    
                </div>

                <div class="section" layout="column">

                    <h4 class="header">
                        Job Scope

                        <span class="italics info-pop" popover>
							<i class="fa fa-info-circle"></i>

							<popover-content>
								<div class="popover-container">
									<p>
										The price of a job is calculated based on the general market price for the job, the scope of the job you 
										choose and how quick you want it completed. Payment options and Add-ons also contribute to the final price of the
										job. You can however increase or reduce the price you want to offer, within a margin of 10% of the calculated price,
										to attract better bids for your job
									</p>
								</div>
							</popover-content>
						</span>
                    </h4>

                </div>

                <!--Type of website Required-->
                <div class="section" layout="column" ng-if="job.category.child_scopes.length">

                    <md-input-container flex>
                        <label>What Type Of Website?</label>
                        <md-select name="job_category_child_scope_id" 
                                   ng-model="job.job_category_child_scope_id" 
                                   md-on-close="processWebsiteType()" 
                                   required
                        >
                            <md-option ng-repeat="job_category_child_scope in job.category.child_scopes" ng-value="job_category_child_scope.id">
                                {{ job_category_child_scope.name }}
                            </md-option>
                        </md-select>


                        <div class="errors" ng-messages="createJobForm.website_type.$error">
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>

                </div>

                <div class="section" layout="column">

                        <p>What is the scope of this job?</p>


                        <md-radio-group name="jobScope" ng-model="job.scope" ng-disabled="!(job.title && job.description)" ng-change="resetJobPrice()" required> 
          
                          <md-radio-button ng-value="scope" ng-repeat="scope in job.category.scopes" ng-click="setScopeDurationAndAddon(scope)">
                                <div>
                                    {{ scope.title }}
                                </div>
                                <p ng-if="scope.example" style="font-scope: smaller;">Eg: {{ scope.example }}</p>
                          </md-radio-button>

                        </md-radio-group>

                        <div class="errors" ng-messages="createJobForm.jobScope.$error && createJobForm.jobScope.$dirty">
                            <div ng-message="required">This is required.</div>
                        </div>

                </div>

                <div class="section" layout="column">

                    <h4 class="header">
                        Duration
                    </h4>

                </div>

                <div class="section" layout="column">
                    <md-input-container class="middle-width">
                        <label>How quick do you want the job delivered?</label>

                        <md-select name="jobDuration" ng-model="job.tier" ng-disabled="!job.scope" md-on-close="evaluateJobPrice(job)" required flex="33">
                            <md-option ng-repeat="tier in job_scope_durations | orderBy:'+duration'" ng-value="tier">
                                {{tier.duration.name}} - {{tier.day}} days
                            </md-option>
                        </md-select>

                        <div class="errors" ng-messages="createJobForm.jobDuration.$error">
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>   
                </div>


                <!--Evaluated Price-->
                <div ng-if="job.price" class="section" layout="column">

                    <div class="price-selector" layout="row">
                        <div class="le-prix" flex>
                            {{ job.price | currency }}
                        </div>
                    </div>
                </div>


                <!--Addons-->
                <div ng-if="job.price" class="section form-row" layout="column">

                    <h4 class="header">

                        Add Ons

                        <span class="italics info-pop" popover>
                            <i class="fa fa-info-circle"></i>

                            <popover-content>
                                <div class="popover-container">
                                    <p>
                                        Choose extra services you want delivered with your job
                                    </p>
                                </div>
                            </popover-content>
                        </span>
                    </h4>

                    <md-list ng-cloak>
                        <md-list-item ng-hide="addon.toggleOnMilestone === '1' && job.hasMilestones === '1'"
                                      ng-repeat="addon in job_scope_addons" layout="row">
                            <md-checkbox class="md-secondary" ng-model="addon.isChecked" ng-click="addAddon(addon)">
                            </md-checkbox>

                            <p>{{addon.title}}</p>
                        </md-list-item>
                    </md-list>
                </div>


                <!-- Payment Options -->
                <div ng-if="job.price" class="section form-row" layout="column">

                    <h4 class="header">

                        <span>Payment Options</span>

                        <span class="italics info-pop" popover>
							<i class="fa fa-info-circle"></i>

							<popover-content>
								<div class="popover-container">
									<p>
										You can either choose to pay on completion, or pay with milestones. By choosing to pay on completion, the
										Freehand only gets paid after he/she has successfully completed the job to your satisfaction. This way, the
										Freehand will deliver your job upon completion and you can make a limited number of revisions. By choosing to pay
										with milestones, the Freehand gets paid in stages as he/she delivers on the job. This way you get to approve the
										work done in stages according to preset milestones, with unlimited revisions
									</p>
								</div>
							</popover-content>
						</span>
                    </h4>

                    <div layout="column">

                        <md-input-container>
                            <label class="md-container-ignore" flex>How do you want to pay for the job?</label>
                        </md-input-container>

                        <md-radio-group ng-model="job.hasMilestones" layout="row">

                            <md-radio-button value="0" class="md-primary" flex>
                                Pay on completion
                            </md-radio-button>

                            <md-radio-button value="1" flex ng-if="job_scope_has_milestone == 1">
                                Pay with milestones
                            </md-radio-button>
                        </md-radio-group>
                    </div>
                </div>

                <div class="section form-row" ng-if="job.price && job.hasMilestones === '1'">

                    <h4 class="header">Milestones</h4>

                    <div class="milestones" layout="column">
                        <div class="milestone" data-ng-repeat="milestone in job.category.milestones"
                             toggle-dropdown="#milestone-{{$index}}">
                            <div class="bar" layout="row">

                                <!--Dropdown-->
                                <div class="center-text" flex="5">
                                    <span class="fa fa-caret-right centralize-vertical"></span>
                                </div>

                                <div flex="90">
                                    <p>
                                        After {{milestone.title}}, {{milestone.weight}}% of the total job's worth will
                                        be released to the freelancer
                                    </p>
                                </div>
                            </div>

                            <div class="bar-detail" id="milestone-{{$index}}">
                                {{milestone.description}}
                            </div>
                        </div>
                    </div>

                </div>


                <!--Evaluated Price-->
                <div ng-if="job.price" class="section" layout="column">
                    <div class="price-selector" layout="row">
                        <div class="center-text margin-r" flex="10">
                        </div>
                        <div class="le-prix" flex>
                            {{ job.price | currency }}
                        </div>
                        <div class="center-text margin-l" flex="10">
                        </div>
                    </div>
                </div>

                 <!--Coupons-->
                <div ng-if="job.price" class="section form-row" layout="column">

                    <h4 class="header">

                        Have a Discount code?

                        <span class="italics info-pop" popover>
                            <i class="fa fa-info-circle"></i>

                            <popover-content>
                                <div class="popover-container">
                                    <p>
                                        Get discounted prices using a discount code
                                    </p>
                                </div>
                            </popover-content>
                        </span>
                    </h4>

                     <div layout-gt-sm="row">
                        <div layout="column" flex>
                            <md-input-container class="md-block" flex>
                                <label>Enter Discount code</label>
                                <input md-maxlength="15" name="jobCoupon" ng-model="job.coupon" ng-change="effectCoupon(job.coupon)">

                                <div class="error" ng-messages="createJobForm.jobCoupon.$error">
                                    <div ng-message="md-maxlength">Invalid discount code.</div>
                                </div>

                                <div class="error" ng-if="!createJobForm.jobCoupon.$error['md-maxlength'] && couponExistsError">
                                    <div>Discount code is not recognized.</div>
                                </div>
                            </md-input-container>
                        </div>

                        <div layout="column" flex>
                            <div class="price-selector" flex="90" layout="row" ng-if="job.discount">
                                <div class="le-prix justify-center-x" flex>
                                    {{ job.price | currency }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <div class="center" flex="35">
                <md-progress-circular md-mode="indeterminate" ng-if="job.isPostingInProgress" class="primary" md-diameter="20"></md-progress-circular>
            </div>
            <button class="regular-btn success" ng-if="!job.isPostingInProgress" ng-disabled="createJobForm.$invalid || !job.price" ng-click="postJob(job, $event)">Post job</button>
        </div>
    </md-dialog-content>
</md-dialog>
