<form name="createJobForm" ng-cloak>

	<ng-include src="getQuestionTemplate()"></ng-include>
	<hr>

    <div ng-if="! resultPage()">
        <a href="javascript:;" class="button -alt" ng-if="! firstQuestion()" ng-click="gotoPreviousQuestion()"><i class="fa fa-chevron-left"></i> &nbsp;Go Back</a>
        <a href="javascript:;" class="button" ng-if="! lastQuestion()" ng-click="gotoNextQuestion()">Go Next &nbsp; <i class="fa fa-chevron-right"></i></a>
        <a href="javascript:;" class="button" ng-if="lastQuestion()" ng-click="submit()">Complete &nbsp; <i class="fa fa-chevron-right"></i></a>
    </div>
</form>