<div class="full-width" layout="column">

	<div class="page-jumbotron projects no-margin" flex>
		<h1>SELECT A JOB CATEGORY</h1>
	</div>

	<div class="center" ng-if="isLoadingCategories">
		<md-progress-circular md-mode="indeterminate" class="primary center" md-diameter="50"></md-progress-circular>
		<!-- <img src="src/imgs/hfh-loading-icon.gif" width="70%" alt=""> -->
	</div>

	<!-- List Available Categories (digital and domestic) -->
	<div class="job-categories" ng-if="!isLoadingCategories">
		<div class="tab-container">

			<!-- Digital Services -->
			<div id="digital-services">

				<div ng-repeat="row in categoryList" layout-gt-sm="row" flex class="categories">
					<div ng-repeat="category in row" ng-click="createJob($event, category)" flex>
						<a class="job-category" href="">
							<div class="avatar" style="background: url({{imageUrl(category.banner)}}) center bottom;"></div>
							<div class="title">
								<p>{{category.name}}</p>
							</div>
						</a>
					</div>

					<!--Placehoder Category-->
					<div ng-if="$index === 1" class="category-placeholder" flex>
						<div class="job-category job-placeholder">
							<div class="avatar" style="background: url('public/dist/imgs/app-dev.jpg') center bottom;"></div>
							<div class="title">
								<p>Web And Mobile Apps</p>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
