<md-dialog aria-label="Create A New Project" ng-cloak>  	
	<md-toolbar>
	  	<div class="md-toolbar-tools">
	        <h2>Create A New Job</h2>
	        <span flex></span>
	        <md-button class="md-icon-button" ng-click="cancel()">
	          <md-icon class="fa fa-close" aria-label="Close dialog"></md-icon>
	        </md-button>
	  	</div>
	</md-toolbar>
	<md-dialog-content>
		<div class="md-dialog-content">
			<div class="alert-info" layout="row">	
				<i class="fa fa-info-circle"></i> &nbsp; Hey there, domestic services are not available at this time, we would let you know as soon as we have this available.
			</div>
		</div>
	</md-dialog-content>
</md-dialog>