<md-dialog aria-label="Create A New Job" id="post-job" class="large" ng-cloak>
	<md-toolbar>
      	<div class="md-toolbar-tools">
	        <h2>Hire a Driver</h2>
	        <span flex></span>
	        <md-button class="md-icon-button" ng-click="closeDialog()">
	        	<md-icon class="fa fa-close" aria-label="Close dialog"></md-icon>
	        </md-button>
      	</div>
	</md-toolbar>
	<md-dialog-content>
  	<div class="md-dialog-content" layout="row" flex>

      <!--Job Details-->
      <div flex="70">
        <form>

          <!--Building Type-->
          <div class="section form-row" layout="column">

          	<h4 class="header">
          		Builing Type

          		<span class="italics info-pop" popover>
  							<i class="fa fa-info-circle"></i>

  							<popover-content>
  								<div class="popover-container">
  									<p>
  										We need to know to help properly calculate the cost
  									</p>
  								</div>
  							</popover-content>
  						</span>
          	</h4>

  	        <div layout="column">

  			        <md-radio-group ng-model="job.hasMilestones" layout="row">

  					      <md-radio-button value="0" class="md-primary" flex>
  					      	Home Cleaning
  					      </md-radio-button>

  					      <md-radio-button value="1" flex>
  					      	Office Cleaning
  					      </md-radio-button>
  				    	</md-radio-group>
  	        </div>
          </div>

          <!--Room Count-->
          <div class="section form-row" layout="column">

          	<h4 class="header">
          		Number of Rooms

          		<span class="italics info-pop" popover>
  							<i class="fa fa-info-circle"></i>

  							<popover-content>
  								<div class="popover-container">
  									<p>
  										We need to know to help properly calculate the cost
  									</p>
  								</div>
  							</popover-content>
  						</span>
          	</h4>

            <div layout="row">

  						<!--Bedrooms-->
              <md-input-container flex>
  		          <label>How many bedrooms?</label>
  		          <md-select ng-model="job.category">
  		            <md-option ng-value="category" ng-repeat="category in [1,2,3,4,5]">
  		            	{{category}}
  		            </md-option>
  			        </md-select>
  		        </md-input-container>

  				    <!--Bathrooms-->
              <md-input-container flex>
  		          <label>How many bathrooms?</label>
  		          <md-select ng-model="job.category">
  		            <md-option ng-value="category" ng-repeat="category in [1,2,3,4,5]">
  		            	{{category}}
  		            </md-option>
  			        </md-select>
  		        </md-input-container>

            </div>

          </div>

          <!--Timing-->
          <div class="section form-row" layout="column">

          	<h4 class="header">

              Timing & Preferences

          		<span class="italics info-pop" popover>
  							<i class="fa fa-info-circle"></i>

  							<popover-content>
  								<div class="popover-container">
  									<p>
  										We need to know to help properly calculate the cost
  									</p>
  								</div>
  							</popover-content>
  						</span>
          	</h4>

            <div layout="row">

  						<!--Date-->
              <md-input-container flex>
                <label>When would you like us to clean?</label>
                <input ng-model="job.title">
              </md-input-container>

  				    <!--Frequency-->
              <md-input-container flex>
  		          <label>How often should we come?</label>
  		          <md-select ng-model="job.category">
  		            <md-option ng-value="category" ng-repeat="category in ['one-off','weekly','bi-weekly']">
  		            	{{category}}
  		            </md-option>
  			        </md-select>
  		        </md-input-container>

            </div>

            <div layout="row">
              <md-input-container flex>
  		          <label>Would you like us to come with our cleaning materials?</label>
    	        </md-input-container>
            </div>

            <br>

            <md-radio-group ng-model="job.ours" layout="row">

              <md-radio-button value="0" class="md-primary" flex>
                Yes please!
              </md-radio-button>

              <md-radio-button value="1" flex>
                No, thank you.
              </md-radio-button>
            </md-radio-group>

          </div>

          <!--Location-->
          <div class="section form-row" layout="column">

          	<h4 class="header">

              Your Location

          		<span class="italics info-pop" popover>
  							<i class="fa fa-info-circle"></i>

  							<popover-content>
  								<div class="popover-container">
  									<p>
  										We need to know to help properly calculate the cost
  									</p>
  								</div>
  							</popover-content>
  						</span>
          	</h4>

            <div layout="row">

              <!--Address-->
              <md-input-container flex>
                <label>Enter address of building to be cleaned</label>
                <input ng-model="job.address">
              </md-input-container>

            </div>

            <div layout="row">

              <md-input-container flex>
                <label>Apt/Suite Num</label>
                <input ng-model="job.addressNum">
              </md-input-container>

              <!--State-->
              <md-input-container flex>
  		          <label>State</label>
  		          <md-select ng-model="job.category">
  		            <md-option ng-value="category" ng-repeat="category in ['lagos']">
  		            	{{category}}
  		            </md-option>
  			        </md-select>
  		        </md-input-container>

              <!--City-->
              <md-input-container flex>
  		          <label>City</label>
  		          <md-select ng-model="job.category">
  		            <md-option ng-value="category" ng-repeat="category in ['yaba','lekki','ikorodu']">
  		            	{{category}}
  		            </md-option>
  			        </md-select>
  		        </md-input-container>

            </div>

            <div layout="row">

              <md-input-container flex>
                <label>Additional Information</label>
                <input ng-model="job.addrnfo">
              </md-input-container>
            </div>

          </div>
  			</form>
      </div>

      <!--Cost Breakdown-->
      <div style="border-left: 1px solid #e7e7e7;min-height: 75vh;margin-left: 20px;" flex>

      </div>
  	</div>
	</md-dialog-content>
</md-dialog>
