<div class="filter">
	<div class="header" layout="row">
		<div flex="90">
			<i class="fa fa-sliders"></i> &nbsp; Filter
		</div>
		<div flex>
			<a toggle-side-panel href="">&times;</a>
		</div>
	</div>

	<md-list ng-cloak>

	  <md-subheader class="md-no-sticky">Job Categories</md-subheader>

	  <md-list-item ng-repeat="category in categories.digital">
		  <p>{{category.name}}</p>
		  <md-checkbox class="md-secondary" ng-model="filter.category[category.name]" aria-label="Category Filter Checkbox" ng-click="doFilter('category')"></md-checkbox>
		</md-list-item>

		<md-divider></md-divider>

	  	<md-subheader class="md-no-sticky">Job Cost</md-subheader>
	  	<md-list-item>
		    <md-input-container flex>
	          <label>Choose boundary</label>
					<md-select ng-model="filter.cost.boundary" ng-change="doFilter('cost')">
		            <md-option ng-value="1">Less</md-option>
		            <md-option ng-value="2">Equal To</md-option>
		            <md-option ng-value="3">More Than</md-option>
		        </md-select>
	        </md-input-container>
		</md-list-item>

		<md-list-item>
    	<md-input-container flex>
            <label>&#8358;</label>
            <input class="md-input" ng-model="filter.cost.amount" ng-change="doFilter('cost')">
        </md-input-container>
		</md-list-item>

		<md-divider></md-divider>

		<md-subheader class="md-no-sticky">Job Duration</md-subheader>

		<md-list-item>
		    <md-input-container flex>
				<label>Choose Time Frame</label>
		        <md-select ng-model="filter.duration.boundary" ng-change="doFilter('duration')">
					<md-option ng-value="0">All</md-option>
		            <md-option ng-value="1">24 hours</md-option>
		            <md-option ng-value="2">1 - 3 days</md-option>
		            <md-option ng-value="3">3 days - 1 week</md-option>
		            <md-option ng-value="4">1 week - 2 weeks</md-option>
		            <md-option ng-value="5">2 weeks - 1 month</md-option>
		            <md-option ng-value="6">1 month - 3 months</md-option>
		            <md-option ng-value="7">over 3 months</md-option>
		        </md-select>
		    </md-input-container>
		</md-list-item>
	</md-list>
</div>
