<md-dialog aria-label="Freelancer Welcome" class="slim slim-content" ng-cloak>    
	<md-dialog-content class="md-dialog-content">

		<div class="center-text">
			<h4 class="underline">Welcome, Let's Get Started!</h4>
			<p>
				Welcome to your job administeration page. From here, you can chat with your client
				and exchange documents ato make good on your deliverables. Once you are done, notify the client so that they can approve and then your money is disbursed to your wallet.
			</p>
		</div>

		<div class="column center-text" flex>
			<button class="md-button success no-margin" ng-click="closeDialog()">Okay, Got It.</button>
	    </div>

	</md-dialog-content>
</md-dialog>