<md-dialog aria-label="Create A New Job" id="post-job" class="small" ng-cloak style="max-width: 30% !important; max-height: 50% !important;">

    <md-dialog-content>
        <div class="md-dialog-content">

          <form name="collectPhoneNumberForm" ng-cloak>
                <div class="section" layout="column">
                    <h4 class="header" style="margin-bottom: 1px !important;">CONFIRM YOUR PHONE NUMBER</h4>
                    <p style="font-size: 12px !important;">Customer support will reach you on this number for urgent job updates</p>


                    <div layout-gt-sm="row" flex>
                        <!-- Job Title-->
                        <div layout="column" flex="33">
                            <md-input-container class="md-block" flex>
                                <label>Country Code?</label>

                                <md-select name="countryCode" id="" flex="33"  ng-model="user.countryCode">
                                    <md-option data-countryCode="GB" ng-value="44" Selected>UK (+44)</md-option>
                                    <md-option data-countryCode="US" ng-value="1">USA (+1)</md-option>
                                    <md-optgroup label="Other countries">
                                        <md-option data-countryCode="DZ" ng-value="213">Algeria (+213)</md-option>
                                        <md-option data-countryCode="AD" ng-value="376">Andorra (+376)</md-option>
                                        <md-option data-countryCode="AO" ng-value="244">Angola (+244)</md-option>
                                        <md-option data-countryCode="AI" ng-value="1264">Anguilla (+1264)</md-option>
                                        <md-option data-countryCode="AG" ng-value="1268">Antigua &amp; Barbuda (+1268)</md-option>
                                        <md-option data-countryCode="AR" ng-value="54">Argentina (+54)</md-option>
                                        <md-option data-countryCode="AM" ng-value="374">Armenia (+374)</md-option>
                                        <md-option data-countryCode="AW" ng-value="297">Aruba (+297)</md-option>
                                        <md-option data-countryCode="AU" ng-value="61">Australia (+61)</md-option>
                                        <md-option data-countryCode="AT" ng-value="43">Austria (+43)</md-option>
                                        <md-option data-countryCode="AZ" ng-value="994">Azerbaijan (+994)</md-option>
                                        <md-option data-countryCode="BS" ng-value="1242">Bahamas (+1242)</md-option>
                                        <md-option data-countryCode="BH" ng-value="973">Bahrain (+973)</md-option>
                                        <md-option data-countryCode="BD" ng-value="880">Bangladesh (+880)</md-option>
                                        <md-option data-countryCode="BB" ng-value="1246">Barbados (+1246)</md-option>
                                        <md-option data-countryCode="BY" ng-value="375">Belarus (+375)</md-option>
                                        <md-option data-countryCode="BE" ng-value="32">Belgium (+32)</md-option>
                                        <md-option data-countryCode="BZ" ng-value="501">Belize (+501)</md-option>
                                        <md-option data-countryCode="BJ" ng-value="229">Benin (+229)</md-option>
                                        <md-option data-countryCode="BM" ng-value="1441">Bermuda (+1441)</md-option>
                                        <md-option data-countryCode="BT" ng-value="975">Bhutan (+975)</md-option>
                                        <md-option data-countryCode="BO" ng-value="591">Bolivia (+591)</md-option>
                                        <md-option data-countryCode="BA" ng-value="387">Bosnia Herzegovina (+387)</md-option>
                                        <md-option data-countryCode="BW" ng-value="267">Botswana (+267)</md-option>
                                        <md-option data-countryCode="BR" ng-value="55">Brazil (+55)</md-option>
                                        <md-option data-countryCode="BN" ng-value="673">Brunei (+673)</md-option>
                                        <md-option data-countryCode="BG" ng-value="359">Bulgaria (+359)</md-option>
                                        <md-option data-countryCode="BF" ng-value="226">Burkina Faso (+226)</md-option>
                                        <md-option data-countryCode="BI" ng-value="257">Burundi (+257)</md-option>
                                        <md-option data-countryCode="KH" ng-value="855">Cambodia (+855)</md-option>
                                        <md-option data-countryCode="CM" ng-value="237">Cameroon (+237)</md-option>
                                        <md-option data-countryCode="CA" ng-value="1">Canada (+1)</md-option>
                                        <md-option data-countryCode="CV" ng-value="238">Cape Verde Islands (+238)</md-option>
                                        <md-option data-countryCode="KY" ng-value="1345">Cayman Islands (+1345)</md-option>
                                        <md-option data-countryCode="CF" ng-value="236">Central African Republic (+236)</md-option>
                                        <md-option data-countryCode="CL" ng-value="56">Chile (+56)</md-option>
                                        <md-option data-countryCode="CN" ng-value="86">China (+86)</md-option>
                                        <md-option data-countryCode="CO" ng-value="57">Colombia (+57)</md-option>
                                        <md-option data-countryCode="KM" ng-value="269">Comoros (+269)</md-option>
                                        <md-option data-countryCode="CG" ng-value="242">Congo (+242)</md-option>
                                        <md-option data-countryCode="CK" ng-value="682">Cook Islands (+682)</md-option>
                                        <md-option data-countryCode="CR" ng-value="506">Costa Rica (+506)</md-option>
                                        <md-option data-countryCode="HR" ng-value="385">Croatia (+385)</md-option>
                                        <md-option data-countryCode="CU" ng-value="53">Cuba (+53)</md-option>
                                        <md-option data-countryCode="CY" ng-value="90392">Cyprus North (+90392)</md-option>
                                        <md-option data-countryCode="CY" ng-value="357">Cyprus South (+357)</md-option>
                                        <md-option data-countryCode="CZ" ng-value="42">Czech Republic (+42)</md-option>
                                        <md-option data-countryCode="DK" ng-value="45">Denmark (+45)</md-option>
                                        <md-option data-countryCode="DJ" ng-value="253">Djibouti (+253)</md-option>
                                        <md-option data-countryCode="DM" ng-value="1809">Dominica (+1809)</md-option>
                                        <md-option data-countryCode="DO" ng-value="1809">Dominican Republic (+1809)</md-option>
                                        <md-option data-countryCode="EC" ng-value="593">Ecuador (+593)</md-option>
                                        <md-option data-countryCode="EG" ng-value="20">Egypt (+20)</md-option>
                                        <md-option data-countryCode="SV" ng-value="503">El Salvador (+503)</md-option>
                                        <md-option data-countryCode="GQ" ng-value="240">Equatorial Guinea (+240)</md-option>
                                        <md-option data-countryCode="ER" ng-value="291">Eritrea (+291)</md-option>
                                        <md-option data-countryCode="EE" ng-value="372">Estonia (+372)</md-option>
                                        <md-option data-countryCode="ET" ng-value="251">Ethiopia (+251)</md-option>
                                        <md-option data-countryCode="FK" ng-value="500">Falkland Islands (+500)</md-option>
                                        <md-option data-countryCode="FO" ng-value="298">Faroe Islands (+298)</md-option>
                                        <md-option data-countryCode="FJ" ng-value="679">Fiji (+679)</md-option>
                                        <md-option data-countryCode="FI" ng-value="358">Finland (+358)</md-option>
                                        <md-option data-countryCode="FR" ng-value="33">France (+33)</md-option>
                                        <md-option data-countryCode="GF" ng-value="594">French Guiana (+594)</md-option>
                                        <md-option data-countryCode="PF" ng-value="689">French Polynesia (+689)</md-option>
                                        <md-option data-countryCode="GA" ng-value="241">Gabon (+241)</md-option>
                                        <md-option data-countryCode="GM" ng-value="220">Gambia (+220)</md-option>
                                        <md-option data-countryCode="GE" ng-value="7880">Georgia (+7880)</md-option>
                                        <md-option data-countryCode="DE" ng-value="49">Germany (+49)</md-option>
                                        <md-option data-countryCode="GH" ng-value="233">Ghana (+233)</md-option>
                                        <md-option data-countryCode="GI" ng-value="350">Gibraltar (+350)</md-option>
                                        <md-option data-countryCode="GR" ng-value="30">Greece (+30)</md-option>
                                        <md-option data-countryCode="GL" ng-value="299">Greenland (+299)</md-option>
                                        <md-option data-countryCode="GD" ng-value="1473">Grenada (+1473)</md-option>
                                        <md-option data-countryCode="GP" ng-value="590">Guadeloupe (+590)</md-option>
                                        <md-option data-countryCode="GU" ng-value="671">Guam (+671)</md-option>
                                        <md-option data-countryCode="GT" ng-value="502">Guatemala (+502)</md-option>
                                        <md-option data-countryCode="GN" ng-value="224">Guinea (+224)</md-option>
                                        <md-option data-countryCode="GW" ng-value="245">Guinea - Bissau (+245)</md-option>
                                        <md-option data-countryCode="GY" ng-value="592">Guyana (+592)</md-option>
                                        <md-option data-countryCode="HT" ng-value="509">Haiti (+509)</md-option>
                                        <md-option data-countryCode="HN" ng-value="504">Honduras (+504)</md-option>
                                        <md-option data-countryCode="HK" ng-value="852">Hong Kong (+852)</md-option>
                                        <md-option data-countryCode="HU" ng-value="36">Hungary (+36)</md-option>
                                        <md-option data-countryCode="IS" ng-value="354">Iceland (+354)</md-option>
                                        <md-option data-countryCode="IN" ng-value="91">India (+91)</md-option>
                                        <md-option data-countryCode="ID" ng-value="62">Indonesia (+62)</md-option>
                                        <md-option data-countryCode="IR" ng-value="98">Iran (+98)</md-option>
                                        <md-option data-countryCode="IQ" ng-value="964">Iraq (+964)</md-option>
                                        <md-option data-countryCode="IE" ng-value="353">Ireland (+353)</md-option>
                                        <md-option data-countryCode="IL" ng-value="972">Israel (+972)</md-option>
                                        <md-option data-countryCode="IT" ng-value="39">Italy (+39)</md-option>
                                        <md-option data-countryCode="JM" ng-value="1876">Jamaica (+1876)</md-option>
                                        <md-option data-countryCode="JP" ng-value="81">Japan (+81)</md-option>
                                        <md-option data-countryCode="JO" ng-value="962">Jordan (+962)</md-option>
                                        <md-option data-countryCode="KZ" ng-value="7">Kazakhstan (+7)</md-option>
                                        <md-option data-countryCode="KE" ng-value="254">Kenya (+254)</md-option>
                                        <md-option data-countryCode="KI" ng-value="686">Kiribati (+686)</md-option>
                                        <md-option data-countryCode="KP" ng-value="850">Korea North (+850)</md-option>
                                        <md-option data-countryCode="KR" ng-value="82">Korea South (+82)</md-option>
                                        <md-option data-countryCode="KW" ng-value="965">Kuwait (+965)</md-option>
                                        <md-option data-countryCode="KG" ng-value="996">Kyrgyzstan (+996)</md-option>
                                        <md-option data-countryCode="LA" ng-value="856">Laos (+856)</md-option>
                                        <md-option data-countryCode="LV" ng-value="371">Latvia (+371)</md-option>
                                        <md-option data-countryCode="LB" ng-value="961">Lebanon (+961)</md-option>
                                        <md-option data-countryCode="LS" ng-value="266">Lesotho (+266)</md-option>
                                        <md-option data-countryCode="LR" ng-value="231">Liberia (+231)</md-option>
                                        <md-option data-countryCode="LY" ng-value="218">Libya (+218)</md-option>
                                        <md-option data-countryCode="LI" ng-value="417">Liechtenstein (+417)</md-option>
                                        <md-option data-countryCode="LT" ng-value="370">Lithuania (+370)</md-option>
                                        <md-option data-countryCode="LU" ng-value="352">Luxembourg (+352)</md-option>
                                        <md-option data-countryCode="MO" ng-value="853">Macao (+853)</md-option>
                                        <md-option data-countryCode="MK" ng-value="389">Macedonia (+389)</md-option>
                                        <md-option data-countryCode="MG" ng-value="261">Madagascar (+261)</md-option>
                                        <md-option data-countryCode="MW" ng-value="265">Malawi (+265)</md-option>
                                        <md-option data-countryCode="MY" ng-value="60">Malaysia (+60)</md-option>
                                        <md-option data-countryCode="MV" ng-value="960">Maldives (+960)</md-option>
                                        <md-option data-countryCode="ML" ng-value="223">Mali (+223)</md-option>
                                        <md-option data-countryCode="MT" ng-value="356">Malta (+356)</md-option>
                                        <md-option data-countryCode="MH" ng-value="692">Marshall Islands (+692)</md-option>
                                        <md-option data-countryCode="MQ" ng-value="596">Martinique (+596)</md-option>
                                        <md-option data-countryCode="MR" ng-value="222">Mauritania (+222)</md-option>
                                        <md-option data-countryCode="YT" ng-value="269">Mayotte (+269)</md-option>
                                        <md-option data-countryCode="MX" ng-value="52">Mexico (+52)</md-option>
                                        <md-option data-countryCode="FM" ng-value="691">Micronesia (+691)</md-option>
                                        <md-option data-countryCode="MD" ng-value="373">Moldova (+373)</md-option>
                                        <md-option data-countryCode="MC" ng-value="377">Monaco (+377)</md-option>
                                        <md-option data-countryCode="MN" ng-value="976">Mongolia (+976)</md-option>
                                        <md-option data-countryCode="MS" ng-value="1664">Montserrat (+1664)</md-option>
                                        <md-option data-countryCode="MA" ng-value="212">Morocco (+212)</md-option>
                                        <md-option data-countryCode="MZ" ng-value="258">Mozambique (+258)</md-option>
                                        <md-option data-countryCode="MN" ng-value="95">Myanmar (+95)</md-option>
                                        <md-option data-countryCode="NA" ng-value="264">Namibia (+264)</md-option>
                                        <md-option data-countryCode="NR" ng-value="674">Nauru (+674)</md-option>
                                        <md-option data-countryCode="NP" ng-value="977">Nepal (+977)</md-option>
                                        <md-option data-countryCode="NL" ng-value="31">Netherlands (+31)</md-option>
                                        <md-option data-countryCode="NC" ng-value="687">New Caledonia (+687)</md-option>
                                        <md-option data-countryCode="NZ" ng-value="64">New Zealand (+64)</md-option>
                                        <md-option data-countryCode="NI" ng-value="505">Nicaragua (+505)</md-option>
                                        <md-option data-countryCode="NE" ng-value="227">Niger (+227)</md-option>
                                        <md-option data-countryCode="NG" ng-value="234">Nigeria (+234)</md-option>
                                        <md-option data-countryCode="NU" ng-value="683">Niue (+683)</md-option>
                                        <md-option data-countryCode="NF" ng-value="672">Norfolk Islands (+672)</md-option>
                                        <md-option data-countryCode="NP" ng-value="670">Northern Marianas (+670)</md-option>
                                        <md-option data-countryCode="NO" ng-value="47">Norway (+47)</md-option>
                                        <md-option data-countryCode="OM" ng-value="968">Oman (+968)</md-option>
                                        <md-option data-countryCode="PW" ng-value="680">Palau (+680)</md-option>
                                        <md-option data-countryCode="PA" ng-value="507">Panama (+507)</md-option>
                                        <md-option data-countryCode="PG" ng-value="675">Papua New Guinea (+675)</md-option>
                                        <md-option data-countryCode="PY" ng-value="595">Paraguay (+595)</md-option>
                                        <md-option data-countryCode="PE" ng-value="51">Peru (+51)</md-option>
                                        <md-option data-countryCode="PH" ng-value="63">Philippines (+63)</md-option>
                                        <md-option data-countryCode="PL" ng-value="48">Poland (+48)</md-option>
                                        <md-option data-countryCode="PT" ng-value="351">Portugal (+351)</md-option>
                                        <md-option data-countryCode="PR" ng-value="1787">Puerto Rico (+1787)</md-option>
                                        <md-option data-countryCode="QA" ng-value="974">Qatar (+974)</md-option>
                                        <md-option data-countryCode="RE" ng-value="262">Reunion (+262)</md-option>
                                        <md-option data-countryCode="RO" ng-value="40">Romania (+40)</md-option>
                                        <md-option data-countryCode="RU" ng-value="7">Russia (+7)</md-option>
                                        <md-option data-countryCode="RW" ng-value="250">Rwanda (+250)</md-option>
                                        <md-option data-countryCode="SM" ng-value="378">San Marino (+378)</md-option>
                                        <md-option data-countryCode="ST" ng-value="239">Sao Tome &amp; Principe (+239)</md-option>
                                        <md-option data-countryCode="SA" ng-value="966">Saudi Arabia (+966)</md-option>
                                        <md-option data-countryCode="SN" ng-value="221">Senegal (+221)</md-option>
                                        <md-option data-countryCode="CS" ng-value="381">Serbia (+381)</md-option>
                                        <md-option data-countryCode="SC" ng-value="248">Seychelles (+248)</md-option>
                                        <md-option data-countryCode="SL" ng-value="232">Sierra Leone (+232)</md-option>
                                        <md-option data-countryCode="SG" ng-value="65">Singapore (+65)</md-option>
                                        <md-option data-countryCode="SK" ng-value="421">Slovak Republic (+421)</md-option>
                                        <md-option data-countryCode="SI" ng-value="386">Slovenia (+386)</md-option>
                                        <md-option data-countryCode="SB" ng-value="677">Solomon Islands (+677)</md-option>
                                        <md-option data-countryCode="SO" ng-value="252">Somalia (+252)</md-option>
                                        <md-option data-countryCode="ZA" ng-value="27">South Africa (+27)</md-option>
                                        <md-option data-countryCode="ES" ng-value="34">Spain (+34)</md-option>
                                        <md-option data-countryCode="LK" ng-value="94">Sri Lanka (+94)</md-option>
                                        <md-option data-countryCode="SH" ng-value="290">St. Helena (+290)</md-option>
                                        <md-option data-countryCode="KN" ng-value="1869">St. Kitts (+1869)</md-option>
                                        <md-option data-countryCode="SC" ng-value="1758">St. Lucia (+1758)</md-option>
                                        <md-option data-countryCode="SD" ng-value="249">Sudan (+249)</md-option>
                                        <md-option data-countryCode="SR" ng-value="597">Suriname (+597)</md-option>
                                        <md-option data-countryCode="SZ" ng-value="268">Swaziland (+268)</md-option>
                                        <md-option data-countryCode="SE" ng-value="46">Sweden (+46)</md-option>
                                        <md-option data-countryCode="CH" ng-value="41">Switzerland (+41)</md-option>
                                        <md-option data-countryCode="SI" ng-value="963">Syria (+963)</md-option>
                                        <md-option data-countryCode="TW" ng-value="886">Taiwan (+886)</md-option>
                                        <md-option data-countryCode="TJ" ng-value="7">Tajikstan (+7)</md-option>
                                        <md-option data-countryCode="TH" ng-value="66">Thailand (+66)</md-option>
                                        <md-option data-countryCode="TG" ng-value="228">Togo (+228)</md-option>
                                        <md-option data-countryCode="TO" ng-value="676">Tonga (+676)</md-option>
                                        <md-option data-countryCode="TT" ng-value="1868">Trinidad &amp; Tobago (+1868)</md-option>
                                        <md-option data-countryCode="TN" ng-value="216">Tunisia (+216)</md-option>
                                        <md-option data-countryCode="TR" ng-value="90">Turkey (+90)</md-option>
                                        <md-option data-countryCode="TM" ng-value="7">Turkmenistan (+7)</md-option>
                                        <md-option data-countryCode="TM" ng-value="993">Turkmenistan (+993)</md-option>
                                        <md-option data-countryCode="TC" ng-value="1649">Turks &amp; Caicos Islands (+1649)</md-option>
                                        <md-option data-countryCode="TV" ng-value="688">Tuvalu (+688)</md-option>
                                        <md-option data-countryCode="UG" ng-value="256">Uganda (+256)</md-option>
                                        <!-- <md-option data-countryCode="GB" ng-value="44">UK (+44)</md-option> -->
                                        <md-option data-countryCode="UA" ng-value="380">Ukraine (+380)</md-option>
                                        <md-option data-countryCode="AE" ng-value="971">United Arab Emirates (+971)</md-option>
                                        <md-option data-countryCode="UY" ng-value="598">Uruguay (+598)</md-option>
                                        <!-- <md-option data-countryCode="US" ng-value="1">USA (+1)</md-option> -->
                                        <md-option data-countryCode="UZ" ng-value="7">Uzbekistan (+7)</md-option>
                                        <md-option data-countryCode="VU" ng-value="678">Vanuatu (+678)</md-option>
                                        <md-option data-countryCode="VA" ng-value="379">Vatican City (+379)</md-option>
                                        <md-option data-countryCode="VE" ng-value="58">Venezuela (+58)</md-option>
                                        <md-option data-countryCode="VN" ng-value="84">Vietnam (+84)</md-option>
                                        <md-option data-countryCode="VG" ng-value="84">Virgin Islands - British (+1284)</md-option>
                                        <md-option data-countryCode="VI" ng-value="84">Virgin Islands - US (+1340)</md-option>
                                        <md-option data-countryCode="WF" ng-value="681">Wallis &amp; Futuna (+681)</md-option>
                                        <md-option data-countryCode="YE" ng-value="969">Yemen (North)(+969)</md-option>
                                        <md-option data-countryCode="YE" ng-value="967">Yemen (South)(+967)</md-option>
                                        <md-option data-countryCode="ZM" ng-value="260">Zambia (+260)</md-option>
                                        <md-option data-countryCode="ZW" ng-value="263">Zimbabwe (+263)</md-option>
                                    </md-optgroup>
                                </md-select>
                                
                                <div class="errors" ng-messages="collectPhoneNumberForm.phoneNumber.$error">
                                    <div ng-message="required">This is required.</div>
                                </div>

                            </md-input-container>
                        </div>

                        <div layout="column" flex>
                            <md-input-container class="md-block" flex>
                                <label>Your number?</label>
                                
                                <input name="phoneNumber" type="text" ng-model="user.phoneNumber">

                                <div class="errors" ng-messages="collectPhoneNumberForm.phoneNumber.$error">
                                    <div ng-message="required">This is required.</div>
                                </div>
                            </md-input-container>
                        </div>

                    </div>

                      <div class="center" flex="35">
                          <md-progress-circular md-mode="indeterminate" ng-if="isPostingInProgress" class="primary" md-diameter="20"></md-progress-circular>
                      </div>
                      <button class="regular-btn success" 
                              ng-if="!isPostingInProgress" 
                              ng-disabled="createVerificationForm.$invalid" 
                              ng-click="sendCode(user)">
                                   <span ng-if="codeSent">RESEND CODE</span>
                                   <span ng-if="!codeSent">SEND CODE</span>
                     </button>


          </form>


          <form name="collectCodeForm" ng-cloak ng-if="codeSent">
               <h4 class="header" style="font-size: 12px !important;">You'll receive a 4-digit code within 1 minute. If not, hit resend</h4>
               <p style="margin-bottom: 1px !important;">ENTER 4-DIGIT CODE HERE</p>

               <div layout-gt-sm="row" flex>

                   <div layout="column" flex="flex-74">
                       <md-input-container class="md-block" flex>
                           <input name="code" type="number" ng-model="phone.code" autofocus>
                       </md-input-container>
                   </div>
                   
               </div>                    

               <button class="regular-btn success" 
                    ng-disabled="collectCodeForm.$invalid" 
                    ng-click="verifyCode(phone)">
                         CONFIRM
               </button>
          </form>            


        </div>
    </md-dialog-content>
</md-dialog>