<md-dialog aria-label="Create A New Job" id="post-job" class="small" ng-cloak style="max-width: 30% !important; max-height: 50% !important;">

    <md-dialog-content>
        <div class="md-dialog-content">
            <form name="createVerificationForm" ng-cloak>

                <div class="section" layout="column">
                    <h4 class="header">Please insert the code sent to your phone number</h4>
                    <div layout-gt-sm="row">

                        <!-- Job Title-->
                        <div layout="column" flex>
                            <md-input-container class="md-block" flex>
                                <label>your code?</label>
                                <input name="code" ng-model="user.code" required>

                                <div class="errors" ng-messages="createVerificationForm.code.$error">
                                    <div ng-message="required">This is required.</div>
                                </div>
                            </md-input-container>
                        </div>
                    </div>
                </div>

            </form>

            <div class="center" flex="35">
                <md-progress-circular md-mode="indeterminate" ng-if="job.isPostingInProgress" class="primary" md-diameter="20"></md-progress-circular>
            </div>
            <button class="regular-btn success" ng-if="!job.isPostingInProgress" ng-disabled="createVerificationForm.$invalid" ng-click="verifyCode(user)">Verify</button>
        </div>
    </md-dialog-content>
</md-dialog>