<div class="mobile-dock" hide-gt-xs>
	<md-button href="/create-job" class="success center"> <i class="fa fa-briefcase"></i> &nbsp; Hire A freehand</md-button>
</div>
<div layout-gt-sm="row" flex>
	<!--Jobs-->
	<div layout="column" class="projects-container">

		<div class="page-jumbotron projects">
			<div class="category-divider">
				<h2>Explore Jobs</h2>
			</div>
			<div class="search" layout="row">
				<div flex>
					<input ng-model="query" placeholder="Type at least 3 characters to start the search...">
					<span class="icon fa fa-search"></span>
				</div>
				<div flex="20">
					<button class="job-filter-trigger" toggle-side-panel>
						<span class="fa fa-sliders"></span> &nbsp;	<span class="filter-text">Filter</span>
					</button>
				</div>
			</div>
		</div>
		<div class="center" ng-if="isLoadingJobs">
			<md-progress-circular md-mode="indeterminate" class="primary center" md-diameter="50"></md-progress-circular>
		</div>
		<!--Job filter directive-->
		<div class="side-panel" jobs-filter style="display:none;"></div>

		<div class="tab-container" ng-if="!isLoadingJobs">
			<!--List Jobs-->
			<div id="all-jobs">
				<div class="project-row" layout-gt-sm="row" ng-repeat="jobRow in allJobsChunked" flex>
					<md-card class="card card-lg" ng-class="{'project':job.title !== undefined,'project-placeholder': job.title === undefined}" ng-repeat="job in jobRow">
				      	<div class="cover" style="background: url({{imageUrl(job.banner_image)}}) center;">
							<a href="#" class="options"><i class="fa fa-ellipsis-v"></i></a href="#">
				      		<div class="price">{{ job.price | currency }}</div>
							<div class="tint"></div>
				      	</div>

				      	<md-card-content class="content">
									<div class="category"></i> {{job.category.name}}</div>
				        			<a class="title" ng-click="showBidHistory($event,job)">{{job.title}}</a>
									<p class="description">{{job.description}}</p>
				      	</md-card-content>
				      	<md-card-actions layout="row" layout-align="end center">

				        	<!-- Freelancer has not been assigned, but this user is not the client -->
				        	<md-button class="bid" ng-if="!belongsToCurrentUser(job) && job.status == '0'" 
				        			   ng-click="showBidHistory($event,job)">
				        			   	Bid for job
				        	</md-button>

				        	<!--Freelancer has not been assigned, but this user is the client-->
				        	<md-button class="bid" 
				        			   ng-if="belongsToCurrentUser(job) && job.status == '0'" 
				        			   ng-click="showBidHistory($event,job)">
				        			   	view bids
				        	</md-button>

				        	<!--Freelancer has been assigned and this user is either the freelancer or client-->
				        	<md-button class="bid" 
				        			   ng-if="job.status == '1'" 
				        			   ng-click="startJob($event,job)">
				        			   	Go to Job
				        	</md-button>

				      	</md-card-actions>
				    </md-card>
				</div>
			</div>
		</div>

	</div>
</div>
