<div layout="column" class="full-width" ng-init="init()">

	<div class="project-summary" layout-gt-sm="row">

			<div class="info flex-40 title">
				<h4>title</h4>
				<p>{{job.title}}</p>
			</div>

			<div class="info client" ng-show="isJobClient(job)" flex="25">
				<h4>Freelancer</h4>
				<p class="freelancer-name">{{job.freelancer_full}}</p>
			</div>

			<div class="info client" ng-show="isJobFreelancer(job)" flex="25">
				<h4>Client</h4>
				<p class="freelancer-name">{{job.client_full}}</p>
			</div>

			<div layout="row" flex>
				<div class="info status">
					<h4>Status</h4>
					<p ng-if="job.status === '2'">Pending Approval</p>
					<p ng-if="job.status === '1'">Complete</p>
					<p ng-if="job.status !== '1' && job.status !== '2'">In progress</p>
				</div>

				<div class="time" ng-class="{'timer':timer.days > 3,'timer warning': timer.days <= 3}" flex>
					<h4>time to completion</h4>
					<p>
						<span class="value" >
							{{timer.days}}
						</span><span class="metric">days</span>

						<span class="value">
							{{timer.hours}}
						</span><span class="metric">hours</span>

						<span class="value">
							{{timer.mins}}
						</span><span class="metric">mins</span>
					</p>
				</div>
			</div>

	</div>

	<div class="project-communique" ng-cloak>

<!-- 		<div align="center" ng-if="isLoading">
			<img src="src/imgs/hfh-loading-icon.gif" width="30%" alt="">
		</div>
 -->		<md-progress-circular ng-if="isLoading" md-mode="indeterminate" class="primary center" md-diameter="50"></md-progress-circular>

	  	<md-content ng-if="!isLoading">

				<!--If the job has milestones specified, that would be the basis of job completion-->
	  		<div class="end-job" ng-if="job.hasMilestones === '0'">

		  		<!--Freelancer Options-->
		  		<button class="md-button danger" ng-if="isJobFreelancer(job) && job.status === '0'" ng-click="endJob()">
		  			I'm Done, Notify Client
		  		</button>

		  		<button class="md-button danger" disabled="true" ng-if="isJobFreelancer(job) && job.status === '2'">
		  			Pending Approval
		  		</button>

		  		<!--Client Options-->
		  		<button class="md-button danger" ng-if="isJobClient(job) && job.status === '2'" ng-click="endJob()">
		  			Approve and end job
		  		</button>

		  		<button class="md-button" ng-if="isJobClient(job) && job.status === '2'" ng-click="sendJobUpdate(job.id,'0')">
		  			Disapprove job update
		  		</button>

		  	</div>

		    <md-tabs md-dynamic-height md-border-bottom>

		      	<md-tab label="Comments">
		        	<md-content class="md-padding chat-window" layout="column">

			          	<!--Project Task Comments-->
			          	<div class="chat-history-section comment-area" ng-if="!isLoading" flex="80" scroll-to-bottom data-collection="chatHistory">
			          		<div ng-class="{'comment':!ownsPost(chat),'comment right': ownsPost(chat)}" ng-repeat="chat in chatHistory" layout="row">

								<div class="profile-pic" ng-if="!ownsPost(chat)" style="background:url('{{chat.chatImageUrl}}');"> </div>

								<div class="detail" flex>

									<!--Type of update and time-->
									<div class="summary" layout="row">

										<div flex="70">
											<h2 class="event">
												<a href="#" ng-if="ownsPost(chat)">You</a>
												<a href="#" ng-if="!ownsPost(chat)">{{chat.name}}</a>
											</h2>
										</div>
										<div flex><p class="time" am-time-ago="chat.created"></p></div>
									</div>

									<!--If this is a text post-->
									<div class="event-detail" ng-if="chat.comment !== undefined" ng-bind-html="formatComment(chat.comment)"></div>

									<!--If is image post-->
									<div class="event-detail" ng-if="chat.comment === undefined">
										<div class="image-post" layout="row" ng-if="chat.attachment !== undefined && chat.attachment.type === 'IMAGE'">
											<div class="image">
												<img src="{{chat.attachment.url}}">
											</div>
											<div class="display-flex justify-center content" layout="column" flex>
												<a target="_blank" href="{{chat.attachment.url}}">View Full Image</a>
											</div>
										</div>
										<div class="image-post" layout="row" ng-if="chat.attachment !== undefined && chat.attachment.type !== 'IMAGE'">
											<div ng-if="(chat.attachment.type == 'APPLICATION')">
												<span class="fa fa-file-pdf-o"></span>
											</div>
											<div ng-if="(chat.attachment.type == 'VIDEO')">
												<span class="fa fa-file-video-o"></span>
											</div>
											<div class="display-flex justify-center content" layout="column" flex>
												<a target="_blank" href="{{chat.attachment.url}}">View Uploaded File</a>
											</div>
										</div>
									</div>
								</div>

								<div class="profile-pic" ng-if="ownsPost(chat)" style="background:url('{{chat.chatImageUrl}}');"></div>
							</div>
			          	</div>

			          	<div class="chat-box-section" flex ng-if="job.status !== '1'">
				          	<div class="chatbox" layout="row" flex>

								<div class="upload" ngf-select="upload($file)" ngf-pattern="'image/*,audio/*,video/*,application/pdf'" ngf-max-size="20MB">
									<span class="fa fa-paperclip"></span>
								</div>
								<div flex>
									<textarea ng-model="newComment.comment" placeholder="Type your comment here...">
									</textarea>
								</div>

								<div flex="15">
									<button class="md-button success pad-btn right" ng-click="post(newComment)">Post</button>
								</div>
							</div>
							<div class="progress-bar sucess" ng-if="showProgress">
								<div class="measure" ng-style="{width: uploadProgress}"></div>
							</div>
						</div>
		        	</md-content>
		      	</md-tab>

		      	<md-tab label="Manage Milestones" ng-if="job.hasMilestones !== '0'">
		      		<div class="milestones">
			      		<div class="milestone" data-ng-repeat="milestone in job.milestones.data">
							<div class="bar" layout-gt-sm="row">

								<!--Dropdown-->
								<div class="center-text" flex="5" toggle-dropdown="#milestone-{{$index}}">
									<span class="fa fa-caret-right centralize-vertical"></span>
								</div>

								<div flex="85" toggle-dropdown="#milestone-{{$index}}">
									<p>
										After {{milestone.title}}, {{milestone.weight}}% of the total job's worth will be released to the freelancer
									</p>
								</div>
								<div flex>

									<md-checkbox class="md-secondary" ng-model="milestone.isFreelancerChecked" aria-label="Is freelancer done?" ng-disabled="isJobClient(job)" ng-change="toggleMilestoneStatus(job,milestone)">
								    </md-checkbox>
								    <md-tooltip md-direction="down">
							          	Mark task as done as a freelancer
							        </md-tooltip>
								</div>
								<div flex>

									<md-checkbox class="md-secondary" ng-model="milestone.isClientChecked" aria-label="Has client approved?" ng-disabled="isJobFreelancer(job) || !milestone.isFreelancerChecked || milestone.isClientChecked" ng-change="toggleMilestoneStatus(job,milestone)">
								    </md-checkbox>
								    <md-tooltip md-direction="down">
							          	Approve task as a client
							        </md-tooltip>
								</div>
							</div>

							<div class="bar-detail" id="milestone-{{$index}}">
								{{milestone.description}}
							</div>
						</div>
					</div>
		      	</md-tab>

		      	<md-tab label="Job Details & Addons">
		      		<div class="job-details">
						<md-list class="regular" ng-cloak>
							<md-list-item layout="column">

								<div flex class="title">
									<h4>Job Title</h4>
								</div>
								<div flex class="sub-title">
									<p class="name">{{job.title}}</p>
								</div>

							</md-list-item>

							<md-list-item layout="column">

								<div flex class="title">
									<h4>Job Category</h4>
								</div>
								<div flex class="sub-title">
									<p class="name">{{job.category}}</p>
								</div>

							</md-list-item>

							<md-list-item layout="column">

								<div flex class="title">
									<h4>Job Scope</h4>
								</div>
								<div flex class="sub-title">
									<p class="name">{{job.category_size}}</p>
								</div>

							</md-list-item>

							<md-list-item layout="column">

								<div class="title" flex>
									<h4>Job Duration</h4>
								</div>
								<div class="sub-title" flex>
									<p class="name">{{job.duration}}</p>
								</div>

							</md-list-item>

							<md-list-item layout="column">

								<div class="title" flex>
									<h4>Job Description</h4>
								</div>
								<div class="sub-title" flex>
									<p class="name">{{job.description}}</p>
								</div>

							</md-list-item>

							<md-list-item layout="column">

								<div class="title" flex>
									<h4>Required Skills</h4>
								</div>

								<md-chips ng-model="job.skills.data" readonly="true" md-removable="false" style="box-shadow:none;">
									<md-chip-template>
										<strong>{{$chip.name}}</strong>
									</md-chip-template>
								</md-chips>

							</md-list-item>

							<md-list-item class="display-flex justify-top" layout="column" ng-if="job.milestones.data.length > 0">

								<div class="title" flex>
									<h4>Job Milestones</h4>
								</div>
								<ul class="padding">
									<li class="sub-title" ng-repeat="milestone in job.milestones.data" flex>
										<p class="name">{{milestone.title}}</p>
									</li>
								</ul>

							</md-list-item>

							<md-list-item class="display-flex justify-top" md-margin layout="column" ng-if="job.addons.data.length > 0">

								<div class="title" flex>
									<h4>Job Addons</h4>
								</div>
								<ul class="padding">
									<li class="sub-title" ng-repeat="addon in job.addons.data" flex>
										<p class="name">{{addon.title}}</p>
									</li>
								</ul>

							</md-list-item>

							<md-list-item layout="column" ng-if="job.uploads.length > 0">

								<div class="title" flex>
									<h4>Job Samples</h4>
								</div>

								<a class="portfolio-item" href="" ng-if="user.portfolio !== null" ng-repeat="item in job.uploads">
									<div class="avatar" ng-if="item.type === 'IMAGE'" style="background: url({{imageUrl(item.url)}}) center;"></div>

									<div class="avatar" ng-if="item.type !== 'IMAGE' && item.extension === 'PDF'">
										<span class="fa fa-file-pdf-o"></span>
									</div>

									<div class="avatar" ng-if="item.type !== 'IMAGE' && (item.extension === 'DOC' || item.extension === 'DOCX')">
										<span class="fa fa-file"></span>
									</div>

									<div class="avatar" ng-if="item.extension === 'PPTX'">
										<span class="fa fa-file-powerpoint-o"></span>
									</div>

									<div class="title">
										<p>{{item.name}}</p>
									</div>
								</a>

							</md-list-item>
						</md-list>
					</div>
		      	</md-tab>
		    </md-tabs>
	 	</md-content>
	</div>
</div>
