<md-dialog aria-label="Rate Freelancer" class="client-review" ng-cloak>
	<md-dialog-content>
      	<div class="md-dialog-content">
	      	<h1>Rate The Freelancer</h1>
	      	<p>
	      		Please rate and comment on the services of the freelancer
	      	</p>	      

	      	<!--Include the ratings directive-->
	      	<div class="star-rating" star-rating ng-model="rating" readonly="false"></div>

	      	<textarea ng-model="comment"></textarea>	      	
	    </div>
	    <button class="md-button pad-btn success right" ng-click="reviewAndCloseJob()">
	    	save review & close job
	    </button>
    </md-dialog-content>
</md-dialog>