<md-dialog aria-label="Job TnC" id="tnc-container" class="medium" ng-cloak>
	<md-dialog-content layout="column">

		<div class="center" ng-if="isLoadingJobMeta">
			<md-progress-circular md-mode="indeterminate" class="primary center" md-diameter="50"></md-progress-circular>
		</div>

		<!--TnC content-->
		<div class="content" ng-if="!isLoadingJobMeta" flex="90">

			<h2 class="main-title">Hirefreehands Contract Agreement</h2>

			<!--Client Agreement-->
			<div id="client-agreement" class="body" ng-if="isClient">

				<p>By clicking 'I Agree' below, you agree to the Job Contract terms listed below, in accordance with the Terms of Service of this site:</p>

				<ol type="1">
					<li>
						<p>
							You, <span class="bold capitalize">{{currentJob.owner.firstname }} {{currentJob.owner.lastname }}</span>, have satisfactorily reviewed the
							freelancer profile(s) and bid(s) submitted for your job post titled: <br/><span class="bold">{{currentJob.title | uppercase}}</span>,
							and have decided to hire <span class="bold capitalize">{{currentJob.assigned_freelancer_full}}</span> by
							your discretion to execute your <span class="bold capitalize">{{ currentJob.category.name }}</span> job accordingly.
						</p>
					</li>
					<li>
						<p>
							You will hire <span class="bold capitalize">{{currentJob.assigned_freelancer_full}}</span> to deliver your job according to the
							description you posted and the delivery requirements listed below:
							<ul>
								<li>
									<p>Job Type: <span class="bold">{{currentJob.scope.title}}</span></p>
								</li>
								<li>
									<p>Delivery Timescale: <span class="bold">{{currentJob.duration}}</span></p>
								</li>
								<li>
									<p>Freehand Payment Type: <span class="bold" ng-if="currentJob.hasMilestones == '0'">Pay upon completion</span> 
									<span class="bold" ng-if="currentJob.hasMilestones != '0'">Pay by milestones</span></p>
								</li>
								<li>
									<p>Revisions: <span class="bold" ng-if="currentJob.hasMilestones == '0'">3 Reasonable revisions after final submission</span> <span class="bold" ng-if="currentJob.hasMilestones != '0'">Unlimited revisions as required per milestone</span></p>
								</li>
								<li ng-if="currentJob.addons.length !== 0">
									<p>
										Add-ons:

										<ul>
											<li ng-repeat="addon in currentJob.addons">
												<p>{{addon.title}}</p>
											</li>
										</ul>
									</p>
								</li>
							</ul>
						</p>
					</li>
					<li>
						<p>
							You have offered a total sum of <span class="bold"> {{ currentJob.price | currency }}</span> to be placed in
							escrow with Hirefreehands, pending the satisfactory completion and delivery of your job.
						</p>
					</li>
					<li>
						<p>
							Upon your approval of the submitted deliverables by <span class="bold">{{currentJob.freelancer_full}}</span>, Hirefreehands will proceed to release payment(s) 
							to the Freehand accordingly.
						</p>
					</li>
					<li>
						<p>
							You have read, fully understood and are in agreement with the <a href="https://hirefreehands.tech/legal" target="_blank">Terms &
							Conditions, Copyright Policy and Privacy Policy</a> of Hirefreehands. <br><br>
							Clicking 'I Agree' below redirects you to a	private communication stream where you can exchange messages and files with
							<span class="bold capitalize">{{currentJob.freelancer_full}}</span>.
						</p>
					</li>
				</ol>

				<p>Date: <span class="bold" am-now>{{rightNow | amDateFormat:'dddd, MMMM Do YYYY'}}</p>

			</div>

			<!--Freelancer Agreement-->
			<div id="freelancer-agreement" ng-if="!isClient">

				<p>
					Your bid for the job: <span class="bold">{{currentJob.title|uppercase}}</span>, was approved by
					<span class="bold capitalize">{{currentJob.client_full}}</span> on <span class="bold" am-now>{{currentJob.client_signed | amDateFormat:'dddd, MMMM Do YYYY'}}</span>. <br><br>
					By clicking 'I Accept' below, you agree to the job contract terms listed below, in accordance with the Terms of Service of this site:
				</p>

				<ol type="1">
					<li>
						<p>
							You, <span class="bold capitalize">{{currentJob.freelancer_full}}</span>, properly reviewed the
							requirements, description and delivery specifications of the <span class="bold capitalize">{{currentJob.category}}</span>
							job above and submitted a bid within your skill & delivery capacity.
						</p>
					</li>
					<li>
						<p>
							You will execute and deliver the job professionally, according to the delivery requirements listed below:

							<ul>
								<li>
									<p>Job Type: <span class="bold">{{currentJob.category_size}}</span></p> 
								</li>
								<li>
									<p>Delivery Timescale: <span class="bold">{{currentJob.duration}}</span></p>
								</li>
								<li>
									<p>Freehand Payment Type: <span class="bold" ng-if="currentJob.hasMilestones == '0'">Pay on completion</span> <span class="bold" ng-if="currentJob.hasMilestones != '0'">Pay by milestones</span></p>
								</li>
								<li>
									<p>Revisions: <span class="bold" ng-if="currentJob.hasMilestones == '0'">3 Reasonable revisions after final submission</span> <span class="bold" ng-if="currentJob.hasMilestones != '0'">Unlimited revisions as required per milestone</span></p>
								</li>
								<li ng-if="currentJob.addons.data.length !== 0">
									<p>
										Add-ons:

										<ul>
											<li ng-repeat="addon in currentJob.addons.data">
												<p>{{addon.title}}</p>
											</li>
										</ul>
									</p>
								</li>
							</ul>
						</p>
					</li>
					<li>
						<p>
							 The client has offered a total sum of <span class="bold"> {{ currentJob.price | currency }}</span> to be
							 placed in escrow with Hirefreehands, pending your satisfactory completion and delivery of the job.
							 Hirefreehands will deduct a service charge of <span class="bold">20%</span> of this amount before releasing
							 payment to you, once the client approves.
						</p>
					</li>
					<li>
						<p>
							Upon the submission of your deliverables and approval by the client, a total sum of <span class="bold"> {{ currentJob.price * 0.8 | currency }}</span> will be deposited into your
							Hirefreehands Wallet and made available for withdrawal. Final approval by the client however, hinges on your professionalism, delivery, communication and
						  	customer service over the duration of the job.
						</p>
					</li>
					<li>
						<p>
							You have read, fully understood, and are in agreement with the <a href="https://hirefreehands.tech/legal" target="_blank">Terms & Conditions, Copyright Policy and Privacy Policy</a> of Hirefreehands. <br><br>
							Clicking 'I Accept' activates the job countdown timer and redirects you to a private communication stream where you can exchange messages and files with your
							client.
						</p>
					</li>
				</ol>

				<p>Date: <span class="bold" am-now>{{rightNow | amDateFormat:'dddd, MMMM Do YYYY'}}</p>
			</div>
		</div>

		<!--Options-->
		<div class="options justify-right" layout="row" ng-if="!isLoadingJobMeta" flex>
			<button class="md-button success pad-btn no-margin-r" ng-click="agree(currentJob)">I agree, continue</button>
			<button class="md-button danger pad-btn no-margin-r" ng-click="cancel()">cancel</button>
		</div>

	</md-dialog-content>
</md-dialog>
