<md-dialog aria-label="Verification Checkclist" id="verification-checklist" class="slim" ng-cloak>    
	<md-dialog-content>

		<div class="center-text">
			<h4 class="underline">Freelancer Verification</h4>
			<p>
				You need to be verified by us to bid for jobs as a Freehand. Visit the FAQs section to find out how.
			</p>
			<button class="md-button success regular-btn" ng-click="signinViaLinkedin()">Visit Support Section</button>
		</div>

		<!-- <md-list ng-cloak id="verification-list">
		  	
		  	<md-list-item layout="row">
			    <div flex="25">
			    	<div ng-class="{'pin':!checklist.LINKEDIN,'pin active':checklist.LINKEDIN}">
			    		<span class="">in</span>
			    	</div>
			    </div>
			    <div flex>
			    	<h4>Add Your Linkedin Account</h4>
			    	<p>Sign in to Linkedin with the same email you use on Hire Free Hands to validate your credentials</p>
			    	<button class="md-button success regular-btn margin-bottom" 
			    			ng-click="signinViaLinkedin()" ng-if="!checklist.LINKEDIN && !isLoadingLinkedin">
			    		Add Linkedin Account
			    	</button>
			    	<md-progress-circular ng-if="isLoadingLinkedin" md-mode="indeterminate" class="primary center" md-diameter="20"></md-progress-circular>
			    </div>
			</md-list-item>

			<md-divider></md-divider>

			<md-list-item layout="row">
			    <div flex="25">
			    	<div ng-class="{'pin':!checklist.IDENTITY,'pin active':checklist.IDENTITY}"><span class="fa fa-user"></span></div>
			    </div>
			    <div flex>
			    	<h4>Upload National Identity</h4>
			    	<p>
			    		Upload a photo of you holding a national means of identification(eg Intl. passport, National ID, Drivers License)
			    	</p>
			    	<button class="md-button success regular-btn margin-bottom" 
			    			ng-if="!checklist.IDENTITY && !showProgress"
			    			ngf-select="uploadIdentity($file)">
			    		Upload National Identity
			    	</button>

			    	<div class="progress-bar sucess" ng-if="showProgress"><div class="measure" ng-style="{width: uploadProgress}"></div></div>
			    </div>
			</md-list-item>

			<md-divider ></md-divider>

			<md-list-item layout="row">
			    <div flex="25">
			    	<div ng-class="{'pin':!checklist.BVN,'pin active':checklist.BVN}"><span class="fa fa-institution"></span></div>
			    </div>
			    <div flex>
			    	<h4>Verify Your BVN</h4>
			    	<p>
			    		Provide your BVN(Bank Verification Number) details for us to verify your national identity details
			    	</p>
			    	<button class="md-button success regular-btn margin-bottom" ng-if="!checklist.BVN" ng-click="uploadBVN()">Add BVN</button>
			    </div>
			</md-list-item>

			<md-divider ></md-divider>

			<md-list-item layout="row">
			    <div flex="25">
			    	<div ng-class="{'pin':!checklist.PHONE_INTERVIEW,'pin active':checklist.PHONE_INTERVIEW}"><span class="fa fa-phone"></span></div>
			    </div>
			    <div flex>
			    	<h4>Phone Interview Verification</h4>
			    	<p>
			    		Provide your phone number so we can set up a phone interview to verify your credentials
			    	</p>
			    	<button class="md-button success regular-btn margin-bottom" ng-if="!checklist.PHONE_INTERVIEW" ng-click="uploadPhoneNumber()">
			    		Add Phone Number
			    	</button>
			    </div>
			</md-list-item>
		</md-list> -->

	</md-dialog-content>
</md-dialog>