<md-dialog aria-label="Job Profile" id="job-profile" class="medium" ng-cloak>	      
	<md-dialog-content>
		  	
		<div class="cover-image" style="background: url('public/dist/imgs/copywriting-banner.jpg');">
			<div class="tint">
				<div class="profile-pic">
					<div class="image" style="background: url('public/dist/imgs/yeezy4.jpg')">
					</div>
				</div>
				<h4 class="title">{{job.title}}</h4>
				<p class="sub-title">posted by {{job.client_full}} on the {{job.posted}}</p>		
			</div>
		</div>
      	
		<div class="project-summary" layout="row">

			<div class="bar" layout="row" flex="75">
				<div class="info" flex="50">
					<h4>title</h4>
					<p>{{job.title}}</p>
				</div>

				<div class="info" flex>
					<h4>Freelancer</h4>
					<p class="freelancer-name">{{job.freelancer_full}}</p>
				</div>

				<div class="info" flex>
					<h4>Status</h4>
					<p>In progress</p>
				</div>
			</div>

			<div class="timer" flex>
				<h4>This job is worth</h4>
				<p>
					{{job.price|currency:'&#8358;':0}}
				</p>
			</div>
		</div>

		<div class="md-dialog-content">
			<p ng-bind-html="formatComment(job.description)"></p>
		</div>    	

	</md-dialog-content>	    
</md-dialog>