<div class="auth">
	<div class="container">

		<a href="/index.html" ng-click="goHome()">
			<img src="landing/assets/imgs/logo.png" class="logo" alt="">
		</a>

    <div class="alert-error" ng-show="error !== undefined && error.message !== ''">
      {{error.message}}
    </div>

		<!--Login Form -->
		<form name="changePasswordForm" ng-submit="doChangePassword(data)">

	    <md-input-container flex>
        	<label>Enter Your New Password</label>
        	<input type="password" ng-model="data.password">
      </md-input-container>

      <md-input-container flex>
        	<label>Confirm Your New Password</label>
        	<input type="password" ng-model="data.conf_password">
      </md-input-container>

			<button class="jumbo lg success mdl-js-button mdl-js-ripple-effect" type="submit">Change My Password</button>

			<md-progress-circular data-ng-if="isLoading" md-mode="indeterminate" class="primary center" md-diameter="50"></md-progress-circular>
		</form>

		<!--Option to Sign Up Instead-->
		<span class="footer-text">registered already? <a href="/login">sign in instead</a></span>
	</div>
</div>
