<div class="auth">
	<div class="container">

		<a href="/index.html" ng-click="goHome()">
			<img src="landing/assets/imgs/logo.png" class="logo" alt="">
		</a>

    <div class="alert-success" ng-show="success">
      <p>A link has been sent to your email,click the link to change your password.</p>
    </div>

    <div class="alert-error" ng-show="error !== undefined && error.message !== ''">
      {{error.message}}
    </div>

		<!--Login Form -->
		<form name="forgotPasswordForm" ng-submit="doForgotPassword(data)">

	    <md-input-container flex>
        	<label>What's Your Email Address?</label>
        	<input type="email" ng-model="data.email">
      </md-input-container>

			<button class="jumbo lg success mdl-js-button mdl-js-ripple-effect" type="submit">Change My Password</button>

			<md-progress-circular data-ng-if="isLoading" md-mode="indeterminate" class="primary center" md-diameter="50"></md-progress-circular>
		</form>

		<!--Option to Sign Up Instead-->
		<span class="footer-text">haven't registered yet? <a href="/signup">sign up instead</a></span>
	</div>
</div>
