<div class="auth">
	<div class="container">

		<a href="/index.html" ng-click="goHome()">
			<img src="landing/assets/imgs/logo.png" class="logo" alt="">
		</a>

		<!--
			<a class="social linkedin-bg" ng-click="socialSignin('linkedin')" href="#">
				<i class="fa fa-linkedin"></i> Sign in with linkedin
			</a>
		-->
		<!-- <a class="social facebook-bg" href="#"><i class="fa fa-facebook"></i> Sign in with facebook</a>		 -->
		<!-- <a class="social google-bg" href="#"><i class="fa fa-google"></i> Sign in with google</a> -->

			<!--divider-->
			<!-- <div class="divider">
				<div class="content"><p>OR</p></div>
			</div>
		-->

		<div class="alert-success" ng-if="successMessage">
      		<p>{{ successMessage }}</p>
    	</div>

		<div class="alert-error" ng-if="errorMessage">
      		<p>{{ errorMessage }}</p>
		</div>

		<!--Login Form -->
		<form name="loginForm" data-ng-submit="doLogin(params)">

			<md-input-container flex>
	          	<label>Email</label>
	          	<input type="email" ng-model="params.email">
	          	<!--
	          	<div ng-messages="user.email.$error">
		          	<div ng-message="required">This is required.</div>
		          	<div ng-message="email">This should be a valid email.</div>
		          	<div ng-message="auth">This email/password combination is incorrect.</div>
		        </div>
		        -->
	        </md-input-container>

	        <md-input-container flex>
	          	<label>Password</label>
	          	<input type="password" ng-model="params.password">
	          	<!--<div ng-messages="user.password.$error">
		          	<div ng-message="required">This is required.</div>
		        </div> -->
	        </md-input-container>

			<button class="jumbo lg success mdl-js-button mdl-js-ripple-effect" type="submit">login</button>

			<md-progress-circular data-ng-if="isLoading" md-mode="indeterminate" class="primary center spinner" md-diameter="50"></md-progress-circular>
		</form>

		<!--Option to Sign Up Instead-->
		<span class="footer-text">haven't registered yet? <a href="/signup">sign up instead</a></span>

		<span class="footer-text"><a href="/forgot-password">i forgot my password!</a></span>
	</div>
</div>
