<div class="auth">
	<div class="container" ng-if="!isSignupSuccessful">

		<a href="/index.html" ng-click="goHome()">
			<img src="landing/assets/imgs/logo.png" class="logo" alt="">
		</a>

		<!-- <a class="social linkedin-bg" href="#"><i class="fa fa-linkedin" ng-click="socialSignin('linkedin')"></i> Sign in with linkedin</a> -->
		<!-- <a class="social facebook-bg" href="#"><i class="fa fa-facebook"></i> Sign in with facebook</a>		 -->
		<!-- <a class="social google-bg" href="#"><i class="fa fa-google"></i> Sign in with google</a> -->

		<!--divider-->
		<!-- <div class="divider">
			<div class="content"><p>OR</p></div>
		</div> -->

		<!--Sign Up Form -->
		<form data-ng-submit="doSignup(params)">

			<md-input-container flex>
	          	<label>First Name</label>
	          	<input type="text" ng-model="params.firstname">
	        </md-input-container>

	        <md-input-container flex>
	          	<label>Last Name</label>
	          	<input type="text" ng-model="params.lastname">
	        </md-input-container>

			<md-input-container flex>
	          	<label>Email</label>
	          	<input type="email" ng-model="params.email">
	        </md-input-container>

	        <md-input-container flex>
	          	<label>Password</label>
	          	<input type="password" ng-model="params.password">
	        </md-input-container>

			<button class="jumbo lg success mdl-js-button mdl-js-ripple-effect">sign up</button>

			<md-progress-circular data-ng-if="isLoading" md-mode="indeterminate" class="primary center spinner" md-diameter="50"></md-progress-circular>
		</form>

		<!--Option to Sign In Instead-->
		<span class="footer-text">already on Hirefreehands? <a href="/login"> sign in instead</a></span>
	</div>

	<!--Once the user has successfully sugned up-->
	<div class="container no-data-placeholder medium center-text" ng-if="isSignupSuccessful">

		<h1 class="icon fa fa-check-circle-o"></h1>

		<h2>Nice! You are now on board.</h2>

		<p>
			We have sent an email to your mail to verify your account, please go to your mail and click the verification link.
			In the mean time, you can go on and check out new jobs or even create yours!
		</p>

		<button class="md-button jumbo success centered" ui-sref="app.jobs">Browse Jobs Now</button>
	</div>
</div>
