<!--Updates-->
<div class="updates column" flex-gt-sm="100">

	<!--Loading updates-->
	<div class="center" ng-if="isLoadingUpdates">
		<md-progress-circular md-mode="indeterminate" class="primary center" md-diameter="50">
		</md-progress-circular>
	</div>

	<!--No updates-->
	<div class="no-data-placeholder center-text update" ng-if="!isLoadingUpdates && updates.length === 0">
		<div class="detail">
			<h1 class="icon fa fa-hand-grab-o"></h1>

			<h2>You don't have any job updates!</h2>

			<p>
				Create and post or bid for jobs to get job updates
			</p>

			<button class="md-button jumbo success centered" ui-sref="app.createjob">
				Post A Job
			</button>
		</div>
	</div>

	<!--Job Status Update Template-->
	<div class="update" layout="row" ng-repeat="update in updates" ng-if="!isLoadingUpdates && update.type === 'STATUS_UPDATE'">
		<div class="profile-pic" style="background:url('public/dist/imgs/profile-icon.png') center;" title="hirefreehands largest freelancer site in Nigeria"></div>
		<div class="detail" flex>

			<!--Type of update and time-->
			<div class="summary" layout="row">
				<div flex><h2 class="event"><i class="fa fa-check-square-o"></i> job status update</h2></div>
				<div flex><p class="time right" am-time-ago="update.created"></p></div>
			</div>

			<!--More specific detail about the update-->
			<div class="event-detail">
				<span class="bold">{{update.firstname}} {{update.lastname}}</span> {{update.details}}
				<em ng-if="update.type === 'MILESTONE_UPDATE'">{{update.milestone_title}}</em> in the <a href="{{update.title|hyphenate}}">{{update.title}}</a> job
			</div>
		</div>
	</div>

	<!--Job Milestone Status Update Template-->
	<div class="update" layout="row" ng-repeat="update in updates" ng-if="!isLoadingUpdates && update.type === 'MILESTONE_UPDATE'">
		<div class="profile-pic" style="background:url('public/dist/imgs/profile-icon.png') center;" title="hirefreehands largest freelancer site in Nigeria"></div>
		<div class="detail" flex>

			<!--Type of update and time-->
			<div class="summary" layout="row">
				<div flex><h2 class="event"><i class="fa fa-check-square"></i> milestone status update</h2></div>
				<div flex><p class="time right" am-time-ago="update.created"></p></div>
			</div>

			<!--More specific detail about the update-->
			<div class="event-detail">
				<span class="bold">{{update.firstname}} {{update.lastname}}</span>

				{{update.details}} - <em>{{update.milestone_title}}</em> -

				in the <a href="{{update.title|hyphenate}}">{{update.title}}</a> job
			</div>
		</div>
	</div>

	<!--Attachment Added Template-->
	<div class="update" ng-repeat="update in updates" ng-if="!isLoadingUpdates && update.type === 'ATTACHMENT'" layout="row">
		<div class="profile-pic" style="background:url('public/dist/imgs/profile-icon.png');" title="hirefreehands largest freelancer site in Nigeria"></div>
		<div class="detail" flex>

			<!--Type of update and time-->
			<div class="summary" layout="row">
				<div flex>
					<h2 class="event"><i class="fa fa-paperclip"></i> file uploaded</h2>
				</div>
				<div flex><p class="time right" am-time-ago="update.created"></p></div>
			</div>

			<!--More specific detail about the update-->
			<div class="event-detail">
				<span class="bold">{{update.firstname}} {{update.lastname}}</span> uploaded attachments in the <a href="{{update.title|hyphenate}}">{{update.title}}</a> job
			</div>

			<!--Attachments-->
			<div class="attachments" layout="row">
				<a href="#" target="_blank" class="attachment" ng-repeat="attachment in update.details" ng-if="attachment.type === 'VIDEO'">
					<span style="fa fa-play"></span>
				</a>
				<a href="#" target="_blank" class="attachment" ng-repeat="attachment in update.details" ng-if="attachment.type === 'AUDIO'">
					<span style="fa fa-audio"></span>
				</a>
				<a href="{{imageUrl(attachment.url)}}" target="_blank" class="attachment" ng-repeat="attachment in update.details" ng-if="attachment.type === 'IMAGE'">
					<img style="background:url({{imageUrl(attachment.url)}}) center">
				</a>
			</div>
		</div>
	</div>
</div>