//generic accordion styles
.slab{
		
	.bar{
		background: #fff;
		width: 100%;
		height: 4rem;
		border-radius: 3px;
		padding: 10px;
	}
}

//milestones
.milestones{padding:20px;}

.milestone{

	position: relative;
	@extend .slab;

	margin-bottom: 10px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.1);

	.bar-detail{
		display:none;
		padding: 20px 50px;
		font-size: 0.9rem;
	}

	.weight{
		@extend .centralize-vertical;
		display: block;
		margin: 0 auto;
	}

	color: $color-grey-400;

	p{
		width: 100%;
		@extend .centralize-vertical;
		margin: 0;
		margin-top: -2px;
	    color: inherit;	   
	    font-size: 1rem;
	    text-overflow: ellipsis;
	    overflow: hidden;
	    white-space: nowrap;
	}

	&:hover{cursor:pointer;}
}

.accordion-list{
	
	li{list-style: none;}

	li{		
		background: #fff;
		border-top: 2px solid $color-grey-100;
		border-bottom: 0;
		padding: 20px;
		color: $color-grey-400;

		h4{margin: 0;color: inherit;}
		p{margin-bottom:0;}

		&:hover{cursor:pointer;}
	}	

	.body{
		display:none;
		margin-top: 20px;
		color: $color-grey-400;

		p{margin: 0;font-size: 0.9rem; line-height: 1.5rem;}
	}

	li:last-child{
		border-bottom: 2px solid $color-grey-100;
	}

	[icon]{transition: transform 300ms ease-in;}
}