.auth{

	position:fixed;
	top:0;left:0;
	z-index: 50;
	background: rgba(255,255,255,0.95);
	width: 100%;
	height:100%;

	.container{

		position: relative;
		top: 50%;
		width: 20rem;
		margin: 0 auto;
		transform: translateY(-50%);
	}

	//brand logo
	.logo{
		background: url('../imgs/logo.png');
		width: 185px;
		height: 40px;
		margin: 20px auto;
	}

	md-input-container{padding-bottom: 10px;}

	.close-auth-form{
		position: absolute;
		top: 60px;
		right: 20px;
		font-size: 3rem;
		color: $color-grey-300;
		font-weight: 100;
	}
	spinner {margin-top: 20px;}
}

.footer-text{
	display:block;
	color: $color-grey-500;
	font-size: 0.85rem;
	margin-top: 20px;
	text-transform: capitalize;
	text-align: center;

	a{color: $color-primary;}
	&:hover a{
		text-decoration: underline;
	}
}
