.btn{

	display: inline-block;
	padding: 10px 15px;
	font-size: 0.95rem;
	text-transform: uppercase;
	border-radius: 3px;
	box-sizing: border-box;
	border: 0;

	&.success{
		background: $color-primary;
		color: #fff;
	}

	&.hollow{
		border: 2px solid $color-grey-200;
		color: $color-grey-200;

		&:hover{font-weight:bold;}
	}

	&.large{padding: 10px 50px;}

	&.jumbo{
	    display: block;
	    width: 100%;
	    text-decoration: none;
	    border-radius: 3px;
	    padding: 1.0rem;
	    color: #fff;
	    text-transform: capitalize;
	    padding: 1rem 1.5rem;
	    margin: 0;
	    text-align: center;
	    height: auto;
	    font-size: 1.0rem;
	}
}

.md-button,.regular-btn {
    border-radius: 3px;
    box-sizing: border-box;
    color: currentColor;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    outline: none;
    border: 0;
    display: inline-block;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 6px;
    margin: 6px 8px;
    line-height: 36px;
    min-height: 36px;
    background: transparent;
    white-space: nowrap;
    min-width: 88px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    font-style: inherit;
    font-variant: inherit;
    font-family: inherit;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    transition: box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);

    &.success{
		background: $color-primary;
		color: #fff;
	}
}

.hire-me{
    width: 100%;
    padding: 5px;
    margin: 0;
}

.layout-align-center-center > *, .layout-align-start-center > *, .layout-align-end-center > *, .layout-align-space-between-center > *, .layout-align-space-around-center > * {
    max-width: 100%;
    box-sizing: border-box;
}
.md-button, .jumbo, .regular-btn {
    letter-spacing: 0.010em;
}
