//.categories{width: 100%;height: 230px;margin: 5rem 0;overflow:hidden;text-align:center}

.job-categories{
	width: 85%;
	margin: 0 auto;
	text-align:center;
	margin-top: 60px;

	@include xl-desktop{
		width: 80%;
	}
}

.job-category{

	position: relative;
	display: inline-block;
	width: 16.25rem;
	margin-bottom: 20px;

	.avatar{
		background-size: cover !important;
		background-repeat: no-repeat !important;
		height: 13rem;
	}

	.title{

		position: absolute;
		bottom: 0;
		left: 0;
		background: #fff;
		width: 100%;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		padding: 15px;
		box-sizing: border-box;
		text-align: center;

		p{
			text-transform: capitalize;color: $color-grey-300;margin:0;
			@include oneliner;
		}
	}

	&:hover{
		box-shadow: 5px 10px 10px rgba(0,0,0,0.2);
	}
}

.job-category-placeholder{
	@extend .job-category;

	background-size: cover !important;
	height: 13rem;

	.tint{
		position: absolute;
		top: 0;
		left: 0;
		background: $color-primary;
		width: 100%;
		height: 100%;
		opacity: 0.9;
		z-index: 10;
	}

	.content-area{

		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 20;
		color: #fff;
		padding-top: 50px;
		box-sizing: border-box;
	}

	.content{

		display: inline-block;
		margin: 0 auto;

		p{
			margin-bottom: 10px;
			margin-top: 30px;
			font-weight: 300;
			font-size: 1.0rem;
			text-align: left;
			text-transform: capitalize;
			color: #fff;
		}

		img{width: 60px;}
	}

	&:hover{cursor:default;box-shadow: none;}
}

.job-row{margin-bottom: 10px;}

.job{

	box-sizing: border-box;
	min-height: 8rem;
	padding: 20px;

	.content{
		background: #fff;
		padding: 15px;
	}
}

.alert{
	width: 100%;
	padding: 10px 15px;
	border-radius: 3px;
	box-sizing: border-box;
	margin-top: 10px;
	margin-bottom: 20px;

	p{margin: 0;}
}

.alert-error{
	@extend .alert;
	background: rgba(224,18,6,0.75);
	color: #A91209;

	p{color: #A91209;}
}

.alert-success{
	@extend .alert;
	background: #dff0d8;
	color: #3c763d;
	border-color: #d6e9c6;

	p{color: #3c763d;}
}

.project-row:not(:first-child){margin-top: 20px;}
.project-row{

}
.project{

	min-width: 33%;
	flex: 1 0 30%;

	&:first-child{margin-left: 1px;}
	&:not(:last-child){margin-right: 20px;}

	@include mobile{
		margin-left: auto !important;
		margin-right: auto !important;
		margin-bottom: 20px;
	}

	@include tablet{
		margin-left: auto !important;
		margin-right: auto !important;
		margin-bottom: 20px;
	}

	&:last-child{margin-right: 1px;}

	.banner-image{

		position: relative;
		background-size: cover !important;
		width: 100%;
		height: 6rem;
	}

	.tint{

		background: rgba(0,0,0,0.5);
		width: 100%;
		height: 100%;
	}

	md-card-content{ padding-bottom: 0; }

	.md-title{

		display: block;
		cursor: pointer;
		text-transform: capitalize;
		color: $color-grey-600;
		margin-top: 10px;
		margin-bottom: 15px;
		height: 25px;
		max-width: 250px;

		@include oneliner;
	}

	.category{

		background: $color-blue-500;
		width: 100%;
		padding: 10px;
		text-align: center;
		text-transform: lowercase;
		color: #fff;
		box-sizing: border-box;
		margin-bottom: 0;

		&:hover{box-shadow: none;}
	}

	.generic-badge{

		display: inline-block;
	 	padding: 5px 10px;
	 	border-radius: 5px;
	 	color: #fff;
	 	font-size: 0.85rem;
	}

	.amount{
		@extend .generic-badge;
		position: absolute;
		top: 16px;
		left: 16px;
		background-color: $color-red-500;
		box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
	}

	/**
	.duration{
		@extend .amount;
		position: absolute;
		top: 16px;
		right: 16px;
		left: initial;
		display:inline-block;
		background-color: $color-grey-300;
	}
	*/

	.duration{
		@extend .generic-badge;
		background-color: $color-grey-300;
		line-height: 1rem;
	}

	.posted-by{

		padding: 5px 0;
		color: $color-grey-300;
		font-size: 0.75rem;
		line-height: 2rem;
	}

	.avatar{

		background-size: cover !important;
		border-radius: 100%;
		width: 30px;
		height: 30px;
		margin-right: 15px;
		border: 1px solid rgb(76,175,80);
	}

	.posted-by a{color: $color-primary;}

	.flex-22{flex:0;}
}

.project-placeholder{
	width: 300px;
	flex: 1 0 30%;
	visibility: hidden;

	.md-title{cursor:initial;}
}

.projects-container{width: 100%;}
.page-jumbotron{

	//&.projects{margin: 0 8px 20px 8px;}

	h1{
		color: $color-grey-300;
		font-size: 1.5rem;
		text-align: center;
		margin-top: 20px;
		text-align: center;
		font-weight: 500;
	}

	.search{

		position: relative;
		width: 100%;

		input{
			width: 100%;
		    border-radius: 3px;
		    border: 2px solid #e7e7e7;
		    height: 2.5rem;
		    padding: 10px;
		    padding-left: 20px;
		    box-sizing: border-box;
		    color: $color-grey-500;
		}

		.icon{
			position: absolute;
			top: 12px;
			left: 10px;
			color: $color-grey-300;
		}
	}
}

.project-category{

	position: relative;
	background-size: cover  !important;
	border-radius: 3px;
	height: 8rem;

	.tint{
		background-color: rgba(0,0,0,0.2);
		width: 100%;
		height: 100%;
		padding: 10px;
		box-sizing: border-box;
		border-radius: inherit;
		transition: all 300ms ease-out;

		&:hover{

			background-color: rgba(0,0,0,0.45);
			transition: all 300ms ease-in;
			cursor: pointer;

			.caption{

				font-size: 1.3rem;
				transition: all 100ms ease-in;

				.underline{
					width: 30%;
					padding: 0;
					height: 2px;
					transition: all 100ms ease-in;
					font-weight: bold;
				}
			}
		}
	}

	.caption{

		display: block;
		margin-top: 30px;
		font-size: 1.2rem;
		font-weight: 500;
		color: #fff;
		transition: all 100ms ease-out;
		text-transform: capitalize;
		text-shadow: 1px 1px 1px rgba(0,0,0,.65);
		outline: none;
	}

	&.small{

		.caption{
			margin-top:25px;
			font-size: 1rem;
		}

		.tint:hover{
			.caption{

				font-size: 1.1rem;

				.underline{
					width: 40%;
					height: 2px;
				}
			}
		}
	}

	.underline{width: 0;background: #fff;margin-top: 5px;}
}

.freelancer-profile-pic{

	display: inline-block;
	background: #fff;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	box-sizing: border-box;
	margin-top: 25px;
	padding: 3px;

	.image{
		background-size: cover !important;
		background-repeat: no-repeat;
		width: 100%;
		height: 100%;
		border-radius: inherit;
	}
}

.freelancer{

		background-color: #fff;
    width: 100%;
    min-height: 15rem;
    border-radius: 3px;
    text-align: center;
    margin-right: 20px;
    flex: 0 0 30%;

    @include box-shadow;

    &:last-child{margin-right: 0;}

    .banner{

    	background-size: cover !important;
    	width: 100%;
    	height: 6rem;
    }

    .info{
    	padding: 10px;
    }

	.tint{

		background: rgba(0,0,0,0.5);
		width: 100%;
		height: 100%;
		transition: all 300ms ease-in-out;
		padding: 10px;
		box-sizing: border-box;

		&:hover{
			background: rgba(0,0,0,0.7);
			transition: all 300ms ease-in-out;
		}
	}

	.profile-pic{

		@extend .freelancer-profile-pic;
		margin-right: 0px;
	}

	.fullname,.caption{

		max-width: 100%;
		color: #fff;
		text-transform: capitalize;
		color: $color-grey-600;

		@include oneliner;
	}

	.fullname{

		font-size: 1.15rem;
		font-weight: 500;
		margin: 20px 0 0 0;
		cursor: pointer;
	}

	.caption{

		font-weight: 300;
		font-size: 0.85rem;
		margin-top: 10px;
		color: $color-grey-300;
	}

	.stats{margin: 15px 0;}

	.stat{
		display:inline-block;
		color: $color-grey-300;

		&.projects{

			float: right;
			margin-right: 10px;
			padding-right: 10px;
			border-right: 1px solid $color-grey-100;
		}

		&.reviews{
			float:left;
		}
	}
}
