md-progress-circular{
	margin: 0 auto;
	margin-top: 10px !important;
}

md-input-container{
	width: 100%;
	margin: 5px 0;
}

.uploader{

	background: #F9FCFF;
    border-radius: 3px;
    border: 2px dashed #E8F4FF;
    text-align: center;
    padding: 15px 10px;
    color: #ADADAD;
}

.link{
	font-size: 0.9rem;
	text-decoration: underline;
	margin-top: 10px;
	cursor: pointer;
	color: $color-primary;
}

.hint{

	display: inline-block;
	color: $color-grey-300;
	margin: 10px 0;
	font-size: 0.85rem;
}
