html,body,h1,h2,h3,h4,p,a,span,small{
	font-family: 'Palanquin', sans-serif;
	line-height:1;
}

h3,h4{color:$color-grey-400;}

p{
	color:$color-grey-300;
	line-height: 1.5rem;
}

.left{float: left;}
.right{float: right;}
.bold{font-weight: bold;}
.underline{text-decoration: underline;}
.italics{font-style: italics;}
.pad-20{padding:20px;}
.padding-bottom-100{padding-bottom: 100px;}
.pad-left-40{padding-left:40px;}
.no-margin-top{margin-top: 0!important;}
.margin-top-20{margin-top:20px;}

a{text-decoration: none;}
ul{margin:0;padding:0;li{list-style: none;}}

// img{width: 100%; height: auto;}

.center{margin:0 auto;}
.center-text{text-align:center;}
.centralize-vertical{
	position: absolute;
	top: 50%;
	transform: translateY(-50%)
}
.regular-bg{background: #f7f7f7;}

.rotate-180{

	transform: rotate(180deg);
	transition: transform 300ms ease-in;
}

md-progress-circular.primary{

	.md-inner .md-half-circle{
		border-top-color: $color-primary !important;
	}

	.md-inner .md-left .md-half-circle {
		border-left-color: $color-primary !important;
	}

	.md-inner .md-right .md-half-circle {
		border-right-color: $color-primary !important;
	}
}
