ul{
	&.styled-list{
		li{list-style-type: square;}
	}
}

ul,ol{
	ul,ol{margin-left:25px;}
	&.styled-list{
		li{color: $color-grey-300;&.header{font-size: 1.2rem;}p{font-size: 1rem;}}
	}
}

.how-it-works-list{
	
	.item{margin: 15px 0;}

	.icon-container{
		background: #E2E1E1;
	    width: 7rem;
	    height: 7rem;
	    border-radius: 50%;
	    border: 1px solid #C5C5C5;
	    box-sizing: border-box;	    
	    text-align: center;
	    margin-top: 15px;
	}

	.icon{

		background-size: cover !important;
		background-repeat: no-repeat !important;
		width: 5rem;
		height: 5rem;		
		display: inline-block;
		border-radius: 50%;
		margin-top: 15px;
	}
}