md-dialog{	

	&.large,&.small{
		max-width: none;
		max-height: none;
	}

	&.large{
	
		width: 70%;
		height: 90%;
	}
}

md-dialog-content.has-footer{margin-bottom: 80px;}

md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar){
	background: $color-primary;
}

md-dialog-actions{
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	background: #fff;
	padding: 20px;
	box-sizing: border-box;
	border-top: 1px solid $color-grey-160;
}

.price-selector{
	width: 50%;
	height: 4rem;
	margin: 0 auto;

	.le-prix{

		width: 100%;
		height: 100%;
		border: 1px solid $color-grey-100;
		border-radius: 3px;
		padding: 10px;
		font-size: 2rem;
		color: $color-primary;
		text-align: center;
	}

	.ctrl{

		display: inline-block;
		background: $color-primary;
		line-height: 0.8rem;
		font-size: 0.8rem;
		width: 10px;
		height: 10px;
		color: #fff;
		padding: 10px;
		margin-top: 15px;
		
		border-radius: 50%;
		
		@include box-shadow;
	}
}

#freelancer-profile{
	
	h4{color: $color-grey-500;}
	p{color: $color-grey-200;}

	.md-dialog-content{padding-top: 0;}
	.cover-image{
		
		background-size: cover!important;
		width: 100%;
		height: 12rem;

		.tint{

			background: rgba(0,0,0,0.35);
			width: 100%;
			height: 100%;
			transition: all 300ms ease-in-out;
			padding: 10px;
			box-sizing: border-box;
			text-align: center;
		}

		.profile-pic{
			@extend .freelancer-profile-pic;
		}

		.fullname,.caption{
	
			max-width: 100%;		
			color: #fff;
			text-transform: capitalize;
			
			@include oneliner;	
		}

		.fullname{
			
			font-size: 1.15rem;
			font-weight: 500;
			margin: 10px 0 0 0;		
			cursor: pointer;
		}

		.caption{

			font-weight: 300; 
			font-size: 0.85rem;			
			margin:0 0 10px 0;			
		}

		.title{@extend .fullname;}
		.sub-title{@extend .caption;}
	}

	.aside{
		background: $color-grey-100;
		padding: 10px;
		height: auto;
	}
	
	.stats{

		h4{
			text-transform: capitalize;			
		}

		.row{margin-bottom: 40px;}

		.stat{

			border: 2px solid $color-grey-500;
			text-align: center;
			padding: 8px;
			color: $color-grey-500;
			margin-right: 10px;
			height: 3.3rem;
			line-height: 2.1rem;

			&.active{

				color: green;
				border-color: green;
			}
		}

		.info-title{
			h4{margin-bottom: 0;}
		}

		.project-stats p{margin-top:0;}
		.project-stats p:last-child{margin-bottom:0;}

		.hfh-level{

			h4{margin-top: 0px;}
			text-align: center;
			p{margin-top:0;font-size: 0.85rem; text-transform: uppercase;}

			.bar{background: rgba(0,0,0,0.1);width: 100%;height: 20px}
			.bar-level{background:$color-primary-success;width: 60%;}
		}

		.project-stats{color: $color-grey-500;}		
	}
}