nav,.white-nav{

	width: 100%;
	height: 4rem;

	.logo{

		display:block;
		background-repeat: no-repeat;
		background-size: cover !important;
		width: 11.5rem;
		height: 2.5rem;
	}

	ul{margin: 12px;}

	.links{

		a{color: #fff;font-weight: 300;}

		@include mobile{
			display:none;
		}

		@include tablet{
			display:none;
		}
	}

	.signup,.login{
		display: inline-block;
		min-width: 50px;
		padding: 0 10px;
		color: #fff;

		a{
			color: inherit;
			font-weight: inherit;
		}
	}
	.signup{border-right: 1px solid #fff;font-weight: bold;}
	.login{font-weight: 300;}
}

.white-nav{

	position: fixed;
	top:0;
	left: 0;
	z-index: 50;
	height: auto !important;
	background: #fff;
	box-shadow: 1px 2px 3px rgba(0,0,0,0.25);
	.links{

		a{color: $color-grey-300;}
	}

	.signup,.login{

		a{color: $color-grey-300;}
	}
	.signup a{
		background: $color-primary;
		color: white;
		padding: .3em 1em;
		border-radius: 3px;
		&:hover{
			background: $color-primary;
			color: white;
		}
	}

	.login,.links{
		a:hover,a.active{
			color: $color-primary;
			border-bottom: 3px solid $color-primary;
			padding-bottom: 1px;
		}
	}

	.auth-links{
		margin-right:0;
		text-align:right;

		li.login{

			@include mobile{
				display: none !important;
			}
		}
	}

	.auth-dropdown{

		position: absolute;
		top: 60px;
		right: 70px;
		display:none;
		background: #fff;
		width: 300px;
		min-height: 100px;
		border-bottom-right-radius: 3px;
		border-bottom-left-radius: 3px;
		box-shadow: 1px 2px 3px rgba(0,0,0,0.25);

		.container{width: 100%;padding: 20px;}

		@include mobile{
			right: 5px;
		}

		@include tablet{
			right: 5px;
		}

		@include xl-desktop{
			right: 150px;
		}
	}
}

.dud-nav{width: 100%;height:$top-nav-height - 3px;}
