.pill{
	
	display:inline-block;
	margin: 0 2.5px 5px 0;
	padding: 5px 10px;
	text-transform: capitalize;
	color: $color-grey-300;
	border-radius: 3px;
	border: 1px solid $color-grey-300;
	font-size: 0.85rem;
	transition: all 300ms ease-in-out;

	/**
	&:hover{

		border-color: $color-primary !important;
		color: $color-primary-250;
		transition: all 300ms ease-in-out;
	}
	**/
}
