.info-pop{
	display: inline-block;
    width: 15px;
    height: 15px;       
    color: $color-grey-400;
    font-size: 0.85rem;
    line-height: 1.8rem;
    padding: 1px;
    font-weight: bold;
    font-style: italic;
    opacity: 0.35;
    transition: opacity 300ms ease-out;

    &:hover{opacity: 1;transition: opacity 300ms ease-in;cursor:pointer;color: $color-primary;}
}

popover-content{display:none;}
.popover{

	position: absolute;
	z-index: 150;
	background-color: $color-grey-180;
	min-width: 200px;
	max-width: 300px;
	min-height: 50px;
	border-radius: 3px;
	box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2), 0px 13px 19px 2px rgba(0, 0, 0, 0.14), 0px 5px 24px 4px rgba(0, 0, 0, 0.12);

	p{
		margin:0;
		font-size: 0.9rem;
		line-height: 1.3rem;
		color: $color-grey-400;
	}

	a{text-decoration: underline;}
}

.popover-container{padding: 20px;}