md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]){
	
	color: $color-primary-250;
	&.md-active{color: $color-primary-250;}		
}

md-toolbar.md-accent > md-tabs.md-default-theme, md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-ink-bar{
	color: $color-primary-250;
	background-color: $color-primary-250;
}

//simple tabs
.tabs.simple{
	
	&.projects-container{margin: 20px 8px 20px 8px;}

	.tab{
		padding: 10px 15px;
    	border-bottom: 1px solid $color-grey-150;
    	text-transform: capitalize;
    	a{color: $color-grey-200;}
	}

	.tab:hover,.tab.active{		
    	border-bottom: 1px solid $color-primary-250;    
    	a{color: $color-primary-250;}	
	}
}

.tab-container{
	& > div:not(:first-child){display:none;}
}
