.update{
	
	width: 100%;
	margin-bottom: 20px;	

	.detail{

		background: #fff;
		width: 100%;
		min-height: 3rem;
		border: 1px solid #E0E0E0;
		border-radius: 5px;
		padding: 20px;
		box-sizing: border-box;

		a{color: $color-primary-150;&:hover{text-decoration:underline !important;}}
	}

	.summary{

		width: 100%;
		border-bottom: 1px solid #E0E0E0;
		padding-bottom:10px;
		margin-bottom: 20px;

		.event{color: $color-primary-200;text-transform: uppercase;margin:0;font-size: 0.75rem;}
		.time{color: #a7a7a7;margin:0;font-size: 0.75rem;}		
	}

	.event-detail{

		color: #8c8c8c;
		font-size: 0.95rem;
		margin-bottom: 20px;
		line-height: 1.2rem;

		a,em{display: inline-block;}

		a{font-size:0.9rem;}
		em{font-weight: 700;}
	}

	.attachment{
		
		width: 120px;
		height: 150px;		
		margin-right: 10px;
		padding: 5px;
		float:left;
		border-radius: 5px;
		border: 1px solid #e3e3e3;

		img{
			
			background-size: cover !important;
			background-repeat: no-repeat;			
			width: 100%;
			height: 100%;			
			border-radius: inherit;
		}
	}
}

//comment
.comment{
	@extend .update;

	img{width: 100%; height: auto;}
	.event-detail{margin-bottom: 0;}	
	.summary{
		margin-bottom: 10px;
		.time{float:right;}
	}

	&.right{
		.profile-pic{    
			margin-right: 0;
    		margin-left: 10px;
    	}
	}

	.footer{
		
		margin-top: 10px;
		padding-top: 10px;		
		font-size: 0.85rem;

		p{margin: 0;}
	}
}