<md-dialog aria-label="Create Ticket" id="create-ticket" class="create-ticket" ng-cloak>
	<md-toolbar>
  	<div class="md-toolbar-tools">
      <h2>Compose Message</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="closeDialog()">
      	<md-icon class="fa fa-close" aria-label="Close dialog"></md-icon>
      </md-button>
  	</div>
	</md-toolbar>
	<md-dialog-content class="has-footer">
		<div class="md-dialog-content">
	    <form>

	      <!--The Subject/Title-->
	      <div layout="row">
	        <md-input-container class="md-block">
	          <label>Subject</label>
	          <textarea columns="1" ng-model="ticket.subject"></textarea>
	        </md-input-container>
	      </div>

	      <!--Type and priority-->
	      <div layout="row">

	        <!--Type-->
	        <div class="column" flex>
	          <md-input-container flex>
	            <label>What type of message is this?</label>
							<md-select ng-model="ticket.type">
	              <md-option ng-value="$index" ng-repeat="type in ticketTypes">{{type}}</md-option>
	            </md-select>
	          </md-input-container>
	        </div>

	        <!--How Urgent/Priority-->
	        <!--div class="column" flex>
	          <md-input-container flex>
	            <label>How urgent is this?</label>
	            <md-select ng-model="ticket.priority">
	              <md-option ng-value="1">Low</md-option>
	              <md-option ng-value="2">Medium</md-option>
	              <md-option ng-value="3">High</md-option>
	              <md-option ng-value="4">Urgent</md-option>
	            </md-select>
	          </md-input-container>
	        </div-->

	      </div>

	      <!--Description-->
	      <div class="row">
	        <md-input-container class="md-block" flex>
	          <label>Type your message here</label>
	          <textarea columns="1" ng-model="ticket.description"></textarea>
	        </md-input-container>
	      </div>

	    </form>
		</div>
  </md-dialog-content>
  <md-dialog-actions layout="row">

		<div class="left" ng-if="isCreatingTicket" flex>
			<md-progress-circular md-mode="indeterminate" md-diameter="20" class="primary"></md-progress-circular>
			<span>Please wait, while we send your message...</span>
	 	</div>

	 	<div flex>
	    <button class="regular-btn success right" ng-click="doCreateTicket(ticket)">
	        Send
	    </button>
		</div>
  </md-dialog-actions>
</md-dialog>
