<md-dialog aria-label="Edit Profile" id="edit-profile" class="medium" ng-cloak>  	
	<md-toolbar>
      	<div class="md-toolbar-tools">
	        <h2>Edit Profile</h2>
	        <span flex></span>
	        <md-button class="md-icon-button" ng-click="closeDialog()">
	        	<md-icon class="fa fa-close" aria-label="Close dialog"></md-icon>
	        </md-button>
      	</div>
	</md-toolbar>
	<md-dialog-content class="has-footer">

		<div class="md-dialog-content">

			<div layout="row">
				<div class="center profile-section">
					<div class="profile-pic">
						<div class="image" style="background: url({{imageUrl(user.image)}})"></div>
					</div>

					<button class="md-button grey" ngf-select="uploadProfilePhoto($file)" ngf-pattern="'image/*'" ngf-max-size="20MB">Upload Your Photo</button>

					<div class="progress-bar sucess" ng-if="showProgress">
						<div class="measure" ng-style="{width: uploadProgress}"></div>
					</div>
				</div>
			</div>

			<div layout="row">
				
				<!--Firstname-->
				<div class="column" flex>
					<md-input-container>
				        <label>*Your Firstname</label>
				        <input ng-model="user.firstname">
			        </md-input-container>
			    </div>

			    <!--Lastname-->
				<div class="column" flex>
					<md-input-container>
				        <label>*Your Lastname</label>
				        <input ng-model="user.lastname">
			        </md-input-container>
			    </div>			    
			</div>
			
			<div layout="row">
				
				<!--City-->
				<div class="column" flex>
					<md-input-container>
				        <label>What City Do You Live In?</label>
				        <input ng-model="user.city">
			        </md-input-container>
			    </div>

			    <!--State-->
				<div class="column" flex>
					<md-input-container>
				        <label>What State Do You Live In?</label>
				        <input ng-model="user.state">
			        </md-input-container>
			    </div>

			    <!--Country-->
				<!-- <div class="column" flex>
					<md-input-container>
				        <label>What Country Do You Live In?</label>
				        <input ng-model="user.country">
			        </md-input-container>
			    </div> -->
			</div>

			<div layout="row">
				
				<!--Address-->
				<div class="column" flex>
					<md-input-container>
				        <label>What is the address of your current location?</label>
				        <input ng-model="user.address">
			        </md-input-container>
			    </div>			   
			</div>

			<div layout="row">
				<!--Gender-->
				<div class="column" flex>
					<md-input-container>
				        <label>Are you male or female?</label>
			          	<md-select ng-model="user.gender">					          	
			           		<md-option value="m">Male</md-option>
			           		<md-option value="f">Female</md-option>
			           	</md-select>
			        </md-input-container>
			    </div>
			</div>

			<div layout="row">
				
				<!--Summary-->
				<div class="column" flex>
					<md-input-container>
				        <label>Write a brief summary about your awesome self!</label>
				        <input ng-model="user.summary">
			        </md-input-container>
			    </div>			   
			</div>

			<div layout="column">
				<md-input-container>
					<label>What relevant skills do you have?</label>
				</md-input-container>

				<md-chips ng-model="user.skills" md-max-chips="5" md-require-match="true">		 
					<md-autocomplete
			          	md-search-text="searchText"
			          	md-items="skill in querySkills(searchText)"
			          	md-item-text="skill.name"					          		         
			          	placeholder="Choose at most 5 skills"
			          	md-item-text="skill.name"
			          	md-min-length="0">
			        	<md-item-template>
				          <span md-highlight-text="searchText" md-highlight-flags="^i">
				          	{{skill.name}}
				          </span>
				        </md-item-template>
			      	</md-autocomplete>
					<md-chip-template>
				        <span>
				        	<strong>{{$chip.name}}</strong>					          
				        </span>
			      	</md-chip-template>						
				</md-chips>

				<md-chips ng-if="addMoreSkills"	ng-model="user.moreSkills" md-max-chips="5">
					<input placeholder="Choose additional skills that were not amongst those suggested above" type="text">
					<md-chip-template>
				        <span>
				        	<strong>{{$chip}}</strong>					          
				        </span>
			      	</md-chip-template>
				</md-chips>

			    <a class="link" ng-click="toggleAddMoreSkills()">Add More Skills</a>
			</div>
		</div>

	</md-dialog-content>
	<md-dialog-actions>
		<div class="section clearfix">

        	<button class="regular-btn success right" ng-click="saveUserProfile(user)">
		        Save
		    </button>

		    <div class="right" ng-if="isUpdatingProfile">
		        <md-progress-circular md-mode="indeterminate" md-diameter="20" class="primary"></md-progress-circular>
			    <span>Please wait, while we save your changes...</span>
			</div>
        </div>
	</md-dialog-actions>
</md-dialog>