<div layout="row">

	<div class="biodata" flex>
		<div class="cover-image" style="background: url('public/dist/imgs/kaleidoscope_bg.png') center">
			<div class="tint">

				<div class="row" ng-if="isOwner">
					<md-button ng-click="editProfile($event)" class="regular-btn right">
							<span ng-show="!activateEditProfile"><i class="fa fa-edit"></i> Edit Your Profile</span>
							<span ng-show="activateEditProfile"><i class="fa fa-check"></i>Done</span>
					</md-button>
				</div>
				<div class="clearfix"></div>
				<div ng-if="user.image && isOwner" class="profile-pic avatar">
					<div class="image" style="background: url({{imageUrl(user.image)}})">
						<span class="upload-photo fa fa-camera-retro" ngf-select="uploadProfilePhoto($file)" ngf-pattern="'image/*'" ngf-max-size="20MB" ng-if="isOwner && activateEditProfile"></span>
					</div>
				</div>
				<div ng-if="user.image && !isOwner" class="profile-pic">
					<div class="image" style="background: url({{imageUrl(user.image)}})">
						<span class="upload-photo fa fa-camera-retro" ngf-select="uploadProfilePhoto($file)" ngf-pattern="'image/*'" ngf-max-size="20MB" ng-if="isOwner && activateEditProfile"></span>
					</div>
				</div>
				<div ng-if="!user.image && user.firstname && user.lastname" class="profile-pic">
					<div class="image" ng-avatar  initials="{{getUserInitials(user.lastname, user.firstname)}}" bg-color="#fff" text-color="rgb(76,175,80)" round-shape="true" text-shadow="true" height="72" width="72">
					</div>
					<span class="upload-photo fa fa-camera-retro" ngf-select="uploadProfilePhoto($file)" ngf-pattern="'image/*'" ngf-max-size="20MB" ng-if="isOwner && activateEditProfile"></span>
				</div>
				<h4 class="fullname">{{user.name}}</h4>

				<!-- <p class="caption" ng-if="!isOwner">
					<span ng-if="user.gender === 'm'">Male</span>
					<span ng-if="user.gender === 'f'">Female</span>
					<span ng-if="user.gender === ''">Gender Not Specified</span>
					<span ng-if="user.city !== ''">, {{user.city}}</span>
				</p> -->

				<div layout="row" class="center full-width">

				<!--Include the ratings directive-->
						<div class="star-rating" star-rating ng-if="user.average_rating !== undefined" ng-model="user.average_rating" data-readonly="true"></div>
				</div>

				<div class="progress-bar sucess" ng-if="showProfilePicUploadProgress">
					<div class="measure" ng-style="{width: uploadProgress}"></div>
				</div>
			</div>
		</div>
      	<div class="md-dialog-content">
        	<form>
				<md-tabs md-dynamic-height md-border-bottom md-selected="selectedIndex">
			      	<md-tab label="Bio">
			        	<md-content class="md-padding bg-white">

			        		<!--Summary-->
			        		<section>
				        		<h4>Summary</h4>

				        		<div layout="row" edit-content active="activateEditProfile">

					        		<!--The edit content widget content-->
					        		<div layout="column" flex="90">

					        			<!--Read Mode-->
					        			<div read-mode flex>
							        		<p ng-if="user.summary !== ''">{{user.summary}}</p>
							        		<p ng-if="user.summary === ''">No summary available</p>
							        	</div>

							        	<!--Edit Mode-->
							        	<div edit-mode flex>
							        		<md-input-container>
							        			<input ng-model="user.summary" placeholder="Give a professional introduction of yourself, your work experience and talents. Tell the world what you can do. Max character limit is 200" type="text">
							        		</md-input-container>
							        		<div>
							        			<button class="regular-btn success" ng-click="saveUserProfile(user)" close-edit-content>save</button>
							        			<button class="md-button" close-edit-content>cancel</button>
							        			<md-progress-circular ng-if="isUpdatingProfile" md-mode="indeterminate" class="primary center inline-right" md-diameter="50"></md-progress-circular>
							        		</div>
							        	</div>
					        		</div>

					        		<!--Edit content trigger-->
					        		<div class="center-text" flex>
					        			<a class="trigger"><span class="fa fa-edit"></span></a>
					        		</div>
				        		</div>
				        	</section>

				        	<!--Gender/City-->
			        		<section layout="row" ng-if="isOwner">

			        			<div flex>
			        				<h4>Gender</h4>

			        				<div layout="row" edit-content active="activateEditProfile">

						        		<!--The edit content widget content-->
						        		<div layout="column" flex="80">

						        			<!--Read Mode-->
						        			<div read-mode flex>
								        		<p ng-if="user.gender === 'm'">Male</p>
								        		<p ng-if="user.gender === 'f'">Female</p>

								        		<p ng-if="user.gender === ''">N/A</p>
								        	</div>

								        	<!--Edit Mode-->
								        	<div edit-mode flex>
								        		<md-input-container>
										          	<md-select ng-model="user.gender">
										           		<md-option value="m">Male</md-option>
										           		<md-option value="f">Female</md-option>
										           	</md-select>
										        </md-input-container>

								        		<div>
								        			<button class="regular-btn success" ng-click="saveUserProfile(user)" close-edit-content>save</button>
								        			<button class="md-button" close-edit-content>cancel
								        			</button>
								        			<md-progress-circular ng-if="isUpdatingProfile" md-mode="indeterminate" class="primary center inline-right" md-diameter="50"></md-progress-circular>
								        		</div>
								        	</div>
						        		</div>

						        		<!--Edit content trigger-->
						        		<div class="center-text" flex>
						        			<a class="trigger"><span class="fa fa-edit"></span></a>
						        		</div>
					        		</div>
			        			</div>

			        			<!--City-->
			        			<div flex>
			        				<h4>City</h4>

			        				<div layout="row" edit-content active="activateEditProfile">

						        		<!--The edit content widget content-->
						        		<div layout="column" flex="80">

						        			<!--Read Mode-->
						        			<div read-mode flex>
								        		<p ng-if="user.city !== ''">{{user.city}}</p>
								        		<p ng-if="user.city === ''">N/A</p>
								        	</div>

								        	<!--Edit Mode-->
								        	<div edit-mode flex>
								        		<md-input-container>
											        <label>What City Do You Live In?</label>
											        <input ng-model="user.city">
										        </md-input-container>

								        		<div>
								        			<button class="regular-btn success" ng-click="saveUserProfile(user)" close-edit-content>save</button>
								        			<button class="md-button" close-edit-content>cancel
								        			</button>
								        			<md-progress-circular ng-if="isUpdatingProfile" md-mode="indeterminate" class="primary center inline-right" md-diameter="50"></md-progress-circular>
								        		</div>
								        	</div>
						        		</div>

						        		<!--Edit content trigger-->
						        		<div class="center-text" flex>
						        			<a class="trigger"><span class="fa fa-edit"></span></a>
						        		</div>
					        		</div>
			        			</div>
				        	</section>

				        	<!--Skills-->
			        		<section>
				        		<h4>Skills</h4>

				        		<div layout="row" edit-content active="activateEditProfile">

					        		<!--The edit content widget content-->
					        		<div layout="column" flex="90">

					        			<!--Read Mode-->
					        			<div read-mode flex>
							        		<md-chips ng-model="user.skills" md-max-chips="5" readonly="true">
														<md-chip-template>
											        <span>
											        	<strong>{{$chip.name}}</strong>
											        </span>
										      	</md-chip-template>
													</md-chips>
							        	</div>

							        	<!--Edit Mode-->
							        	<div edit-mode flex>
							        		<md-chips ng-model="user.skills" md-max-chips="5" md-require-match="true">
															<md-autocomplete
													          	md-search-text="searchText"
													          	md-items="skill in querySkills(searchText)"
													          	md-item-text="skill.name"
													          	placeholder="Choose applicable skills from our list"
													          	md-item-text="skill.name"
													          	md-min-length="0">
													        	<md-item-template>
														          <span md-highlight-text="searchText" md-highlight-flags="^i">
														          	{{skill.name}}
														          </span>
														        </md-item-template>
													    </md-autocomplete>
															<md-chip-template>
													        <span>
													        	<strong>{{$chip.name}}</strong>
													        </span>
										      		</md-chip-template>
													</md-chips>

							        		<div>
								        			<button class="regular-btn success" ng-click="saveUserProfile(user)" close-edit-content>save</button>
								        			<button class="md-button" close-edit-content>cancel
								        			</button>
								        			<md-progress-circular ng-if="isUpdatingProfile" md-mode="indeterminate" class="primary center inline-right" md-diameter="50"></md-progress-circular>
							        		</div>
							        	</div>
					        		</div>

					        		<!--Edit content trigger-->
					        		<div class="center-text" flex>
					        			<a class="trigger"><span class="fa fa-edit"></span></a>
					        		</div>
				        		</div>
										<!--Counts-->
										<div class="project-stats row">
											<h4 class="info-title">Freelancer Statistics</h4>
											<div layout="row">
												<div>
													<p><i class="fa fa-archive"></i> {{user.completed_jobs}} jobs completed</p>
												</div>
												<div class="margin-l">
													<p><i class="fa fa-comments"></i> {{user.reviews.length}} reviews</p>
												</div>
											</div>
										</div>
										
										<!--Add/View Linkedin profile-->
										<!-- <div layout="row">
											<button ng-if="!user.linkedin && isOwner" class="md-button success regular-btn add-linkedin-btn" ng-click="addLinkedin()">
												<span>Add LinkedIn</span> &nbsp;
												<md-progress-circular ng-if="isLoadingLinkedin" md-mode="indeterminate" class="add-linkedin-progress" md-diameter="20"></md-progress-circular>
											</button>

											<div ng-if="user.linkedin" flex>
												<a class="md-button success regular-btn" href="{{user.linkedin.url}}" target="_blank">
													<i class="fa fa-linkedin" aria-hidden="true"></i> &nbsp; <span>View LinkedIn Profile</span>
												</a>
											</div>
										</div> -->
				        	</section>


			        	</md-content>
			      	</md-tab>

							<!-- Prtfolio -->

							<md-tab label="Portfolio">

								<md-content class="md-padding bg-white">
									<section>
				        		<h4>Portfolio</h4>

				        		<div layout="row" edit-content active="activateEditProfile">

					        		<!--The edit content widget content-->
					        		<div layout="column" flex="90">

					        			<!--Read Mode-->
					        			<div read-mode flex>
							        		<p ng-if="user.portfolio.length === 0">N/A</p>


							        		<div class="portfolio-item" ng-if="user.portfolio !== null" ng-repeat="item in user.portfolio" new-tab-link url="{{ item.url }}">
												<div class="avatar" ng-if="item.type === 'IMAGE'" style="background: url({{imageUrl(item.url)}}) center;"></div>

												<div class="avatar" ng-if="item.type !== 'IMAGE' && item.extension === 'PDF'">
													<span class="fa fa-file-pdf-o"></span>
												</div>

												<div class="avatar" ng-if="item.type !== 'IMAGE' && (item.extension === 'DOC' || item.extension === 'DOCX')">
													<span class="fa fa-file"></span>
												</div>

												<div class="avatar" ng-if="item.extension === 'PPTX'">
													<span class="fa fa-file-powerpoint-o"></span>
												</div>

												<div class="title">
													<p>{{item.name}}</p>
												</div>
											</div>
							      		</div>

							        	<!--Edit Mode-->
							        	<div edit-mode flex>

						        		<!--Porfolio Samples-->
								        <div class="uploader form-row" flex>
													Describe and upload files from your previous projects or a portfolio. This can be in either document, image, audio or video format. Max file size is 5MB per file<br>

												<md-button ngf-select="uploadPortfolio($file)" ngf-max-size="5MB" class="md-raised md-primary">
													Upload
												</md-button>

												<div class="progress-bar sucess" ng-if="showPortfolioUploadProgress">
													<div class="measure" ng-style="{width: uploadProgress}"></div>
												</div>
											</div>

											<a class="portfolio-item" href="" ng-if="user.portfolio !== null" ng-click="viewPortfolio(item.url)" ng-repeat="item in user.portfolio">
												<div class="avatar" ng-if="item.type === 'IMAGE'" style="background: url({{imageUrl(item.url)}}) center;"></div>

												<div class="avatar" ng-if="item.type !== 'IMAGE' && item.extension === 'PDF'">
													<span class="fa fa-file-pdf-o"></span>
												</div>

												<div class="avatar" ng-if="item.type !== 'IMAGE' && (item.extension === 'DOC' || item.extension === 'DOCX')">
													<span class="fa fa-file"></span>
												</div>

												<div class="avatar" ng-if="item.extension === 'PPTX'">
													<span class="fa fa-file-powerpoint-o"></span>
												</div>

												<div class="title">
													<p>{{item.name}}</p>
												</div>
											</a>

							        		<div>
							        			<button class="regular-btn success" ng-click="saveUserProfile(user)" close-edit-content>save</button>
							        			<button class="md-button" close-edit-content>cancel
							        			</button>
							        			<md-progress-circular ng-if="isUpdatingProfile" md-mode="indeterminate" class="primary center inline-right" md-diameter="50"></md-progress-circular>
							        		</div>
							        	</div>
					        		</div>

					        		<!--Edit content trigger-->
					        		<div class="center-text" flex>
					        			<a class="trigger"><span class="fa fa-edit"></span></a>
					        		</div>
				        		</div>
				        	</section>
								</md-content>

							</md-tab>

			      	<md-tab label="Reviews">
			      		<md-content class="md-padding bg-white">

				          	<!--Freelancer Reviews-->
							<!--If a user is inspecting a freelancer's profile-->
		        			<div class="comment" ng-if="!isOwner && user.reviews.length === 0">
		        				<!--Detail about the review and there are no reviews-->
								<div class="event-detail">
									No client reviews available yet
								</div>
		        			</div>

		        			<!--If a user is inspecting a their profile and there are no reviews-->
		        			<div class="comment" ng-if="isOwner && user.reviews.length === 0">
		        				<!--Detail about the review-->
								<div class="event-detail">
									No reviews available, you need to bid for a job, get that job done to get reviews of your work from actual clients.
								</div>
		        			</div>

		        			<!--If there are reviews available-->
		        			<div class="comment" ng-repeat="review in user.reviews" layout="row">
								<div class="profile-pic" ng-if="review.image === ''" style="background:url({{imageUrl('profile-icon.png')}});">
								</div>
								<div class="profile-pic" ng-if="review.image !== ''" style="background:url({{imageUrl(review.image)}});">
								</div>
								<div class="detail" flex>

									<!--Type of update and time-->
									<div class="summary" layout="row">

										<div flex="50">
											<h2 class="event">
												<a href="#">
													{{review.firstname}} {{review.lastname}}
												</a>
											</h2>
										</div>
									</div>

									<!--More specific detail about the update-->
									<div class="event-detail">
										{{review.comment}}
									</div>

									<!--Related Job-->
									<div class="footer">
										<p class="italicize">Job title: {{review.title}}</p>
										<p class="italicize"><div class="star-rating small" star-rating ng-model="review.rating" data-readonly="true"></div></p>
									</div>
								</div>
							</div>

			        	</md-content>
			      	</md-tab>
							<!-- user stats -->
			    </md-tabs>
			</form>
      	</div>
    </div>

</div>
