<div class="full-width" layout="column">

	<!--Tabs-->
	<div class="tabs simple projects-container no-margin-l .no-margin-r" layout="row">

		<div class="center" layout="row" >
			<div class="tab" data-target="finance" tab>
				<a href="#">Banking Details</a>
			</div>
			<div class="tab" data-target="profile" tab>
				<a href="#">Personal</a>
			</div>
			<div class="tab active" data-target="password" tab>
				<a href="#">Change Password</a>
			</div>
		</div>
	</div>

	<div class="tabbed-content small-width center tab-container">

		<div id="password">
	      	<form layout="column">
				<div class="column" flex>
					<md-input-container>
				        <label>Current Password?</label>
				        <input type="password" ng-model="password.current">
			        </md-input-container>
				</div>
				<div class="column" flex>
					<md-input-container>
				        <label>New Password?</label>
				        <input type="password" ng-model="password.new">
			        </md-input-container>
				</div>
				<div class="column" flex>
					<md-input-container>
				        <label>Confirm New Nassword?</label>
				        <input type="password" ng-model="password.confirm">
			        </md-input-container>
				</div>
				<div class="column" flex>
					<md-input-container>
				        <button class="regular-btn success right" ng-click="updatePassword(password)">Save</button>
			        </md-input-container>
				</div>
			</form>
		</div>

		<div id="finance">

			<div class="alert-success">
				<p>
					Earnings from freelance jobs you complete will be transferred to the bank details you provide. 
					It could take up to 24 hours to verify and activate your new bank details
				</p>
			</div>

	      	<form layout="column">
				<div class="column" flex>
					<md-input-container>
				        <label>Enter account number</label>
				        <input ng-model="user.new_acc_number">
			        </md-input-container>
				</div>
				<div class="column" flex>
					<md-input-container>
				        <label>Select Bank?</label>
				        <md-select ng-model="user.bank" md-on-open="getAllBanks()">
				            <md-option ng-value="bank.name" ng-repeat="bank in banks">
				            	{{bank.name}}
				            </md-option>
				        </md-select>
			        </md-input-container>
				</div>
				<div class="column" flex>
					<md-input-container>
				        <button class="regular-btn success right" ng-click="updateFinance(user)">Save</button>
			        </md-input-container>
				</div>
			</form>
		</div>

		<div id="profile">

			<div class="alert-success">
				<p>Edit your personal details here</p>
			</div>

	      	<form layout="column">

				<!--Email-->
				<div class="column" flex>
					<md-input-container>
				        <label>Your Email Address</label>
				        <input ng-model="user.email">
			        </md-input-container>
			    </div>

			    <!--Phone-->
				<div class="column" flex>
					<md-input-container>
				        <label>Your Phone Number</label>
				        <input ng-model="user.phone">
			        </md-input-container>
			    </div>

				<div class="column" flex>
					<md-input-container>
				        <button class="regular-btn success right" ng-click="updateSettings(user)">
				        	Save
				        </button>
			        </md-input-container>
				</div>
			</form>
		</div>
	</div>

	<div class="center" ng-if="isLoading">
		<md-progress-circular md-mode="indeterminate" class="primary center" md-diameter="20"></md-progress-circular>
	</div>
</div>
