<md-dialog aria-label="Ticket Conversation Thread" id="ticket-conversations" class="large chat-window" ng-cloak>
    <md-dialog-content>
        <div layout="row" flex>

            <!--Ticket Details-->
            <div class="project-details" flex="30">

                <div class="job-cost">
                    <div class="title">Conversation Status</div>
                    <h3 class="white uppercase no-margin">{{getTicketStatus(ticket.status)}}</h3>
                </div>

                <md-list class="regular" class="regular" ng-cloak>

                    <md-list-item layout="column">

                        <div flex class="title"><h4>Conversation Subject</h4></div>
                        <div flex class="sub-title"><p class="name">{{ticket.subject}}</p></div>

                    </md-list-item>

                    <md-list-item layout="column">

                        <div class="title" flex><h4>Conversation Description</h4></div>
                        <div class="sub-title" flex><p class="name">{{ticket.description_text}}</p></div>

                    </md-list-item>

                    <md-list-item layout="column">

                        <div class="title" flex><h4>Conversation Type</h4></div>
                        <div class="sub-title" flex><p class="name">{{ticket.type}}</p></div>

                    </md-list-item>

                    <md-list-item layout="column">

                        <div class="title" flex><h4>Conversation Started</h4></div>
                        <div class="sub-title" flex><p class="name"><span am-time-ago="ticket.created_at"></span>
                            <p class="name"></div>

                    </md-list-item>

                </md-list>
            </div>

            <div class="bid-history display-flex" layout="column" flex>

                <div class="header" layout="row">
                    <div class="display-flex justify-center" layout="column" flex><h4>Conversation Thread</h4></div>
                    <div flex>
                        <md-button class="md-icon-button right" ng-click="closeDialog()">
                            <md-icon class="fa fa-close neutral" aria-label="Close dialog"></md-icon>
                        </md-button>
                    </div>
                </div>

                <div class="bid-section" scroll-to-bottom data-collection="conversations" flex>

                    <md-progress-circular ng-if="isLoading" md-mode="indeterminate" class="primary center"
                                          md-diameter="50"></md-progress-circular>

                    <div ng-class="{'comment bid':!ownsMessage(message),'comment bid right': ownsMessage(message)}"
                         layout="row" ng-if="!isLoading && conversations.length > 0"
                         ng-repeat="message in conversations track by $index">

                        <div class="profile-pic" ng-if="!ownsMessage(message)"
                             style="background:url('public/dist/imgs/hfh-admin.png');">
                        </div>

                        <div class="detail" flex>

                            <!--Type of update and time-->
                            <div class="summary" layout="row">

                                <div flex="70">
                                    <h2 class="event">
                                        <a href="#" ng-if="ownsMessage(message)">You</a>
                                        <a href="#" ng-if="!ownsMessage(message)">Hirefreehands Admin</a>
                                    </h2>
                                </div>
                                <div flex><p class="time" am-time-ago="message.created_at"></p></div>
                            </div>

                            <!--Message Body-->
                            <div class="event-detail">{{message.body_text}}</div>
                        </div>

                        <div class="profile-pic" ng-if="ownsMessage(message)"
                             style="background:url('public/dist/imgs/profile-icon.png');">
                        </div>
                    </div>

                    <!--If there is no thread-->
                    <div layout="column" ng-if="!isLoading  && conversations.length === 0">
                        <div class="alert-info" flex>
                            <i class="fa fa-info-circle"></i> &nbsp; Please be patient, one of our agents would responsd
                            to your message very soon
                        </div>
                    </div>
                </div>

                <div class="chat-box-section" layout="column">

                    <div class="chatbox" layout="row">

                        <div flex="85">
                            <textarea ng-model="reply.body" placeholder="Type your response here"></textarea>
                        </div>

                        <div flex>
                            <button class="md-button success pad-btn right" ng-if="!isSendingReply"
                                    ng-click="sendReply(reply)">
                                Send
                            </button>
                            <button class="md-button success pad-btn right" ng-if="isSendingReply" disabled="true">
                                Please Wait...
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </md-dialog-content>
</md-dialog>
