//generic accordion styles
.slab{

	.bar{
		background: #fff;
		width: 100%;
		height: 4rem;
		border-radius: 3px;
		padding: 10px;
		flex:1 1 75%;
	}
}

//milestones
.milestones{padding:20px;}

.milestone{

	position: relative;
	@extend .slab;

	margin-bottom: 10px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.1);

	.bar-detail{
		display:none;
		padding: 20px 50px;
		font-size: 0.9rem;
	}

	.weight{
		@extend .centralize-vertical;
		display: block;
		margin: 0 auto;
	}

	color: $color-grey-400;

	p{
		width: 100%;
		@extend .centralize-vertical;
		margin: 0;
		margin-top: -2px;
	    color: inherit;
	    font-size: 1rem;
	    text-overflow: ellipsis;
	    overflow: hidden;
	    white-space: nowrap;
	}

	&:hover{cursor:pointer;}
}

.project-summary{

	height: 5rem;
	background: white;
	margin-bottom: 10px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.1);

	@include mobile{
		height: auto;
	}

	.info{

		padding:10px;

		p{text-transform: capitalize;width: auto;height: auto;}

		.freelancer-name{color: $color-primary;}

	}

	.info:not(:last-child){

		border-right: 1px solid $color-grey-100;
		@include mobile{
			border: 0;
			border-bottom: 1px solid $color-grey-100;
		}
	}

	.title, .client, .status, .time{
		@include mobile{
			max-width: 100% !important;
		}
	}

	h4{color: $color-grey-500;text-transform: uppercase;margin:0;font-size: 0.9rem;}
	p{color: $color-grey-200;margin-top: 10px;font-size: 0.9rem;}

	.timer{
		background: $color-primary-success;
		padding: 10px;

		h4{font-size: 0.75rem;color: rgba(255,255,255,0.75) !important;}

		p{width: auto;color: #fff !important;}

		span{display:inline-block;}

		&.warning{background: $color-primary-danger;}
		.value{

			font-size: 1.5rem;
			&:not(:first-child){
				margin-left: 10px;
			}
		}

		.metric{
			position: relative;
			top: -10px;
			left: 3px;
			width: 35px;
			font-size: 0.75rem;
		}
	}
}

.faq-accordion {

	.faq-accordion-item {
		h4{margin: 0;color: inherit;}
		p{margin-bottom:0;}
		border-top: 2px solid $color-grey-100;
		padding: 20px;

		.faq-accordion-body {
			margin-top: 20px;
			p{margin: 0;font-size: 0.9rem; line-height: 1.5rem;}
		}

		&:last-child {
			border-bottom: 2px solid $color-grey-100;
		}
	}
}
