.auth{

	background: #fff;
	height: 100vh;

	.container{

		position: relative;
		top: 50%;
		width: 20rem;
		margin: 0 auto;
		transform: translateY(-50%);
	}

	//task me brand logo
	.logo{
		display: block;
		width: 185px;
		height: 40px;
		margin: 0px auto;
	}

	md-input-container{padding-bottom: 10px;}

	.spinner {margin-top: 20px;}
}

.divider{

	position: relative;
	background: #fff;
	width: 100%;
	margin: 3rem 0;
	margin-bottom:1rem;
	text-align:center;
	border-bottom: 1px solid #e3e3e3;

	.content{
		position: absolute;
		top: 100%;
		width: 100%;
		transform: translateY(-50%);
		text-align: center;
	}

	p{
		display: inline-block;
		background: #fff;
		color: #8C8B8B;
		font-weight: 700;
		font-style: italic;
		font-size: 1.0rem;
		padding: 0 1rem;
	}
}

.footer-text{
	display:block;
	color: $color-grey-500;
	font-size: 0.85rem;
	margin-top: 20px;
	text-transform: capitalize;
	text-align: center;

	a{color: $color-primary;}
	&:hover a{
		text-decoration: underline;
	}
}
