.md-button{

	&.centered{
		display: block;
		margin: 0 auto;
	}
	@include mobile{
		width: 100%;
		padding: .8em 0 !important;
	}

	&:disabled {
		background: $color-grey-400 !important;
	}
}

//button themes
.success{
	background-color: $color-primary !important;
	color: #fff !important;

	&:hover,&:active,&:focus:not(&:disabled) {
		background: $color-primary !important;
	}
}

.danger{
	background-color: $color-primary-danger !important;
	color: #fff !important;

	&:hover,&:active,&:focus:not(&:disabled) {
		background: unquote("rgb(#{$palette-red-500})") !important;
	}
}

.clear-btn{

	background-color: transparent;
	border: 2px solid white;
    border-radius: 3px;
    color: #fff;
    padding: 5px 10px;
    font-size: 1rem;
    transition: all 300ms ease-in-out;

    &:hover{

    	background-color: rgba(255,255,255,0.5);
    	color: rgba(0,0,0,0.8);
    	transition: all 300ms ease-in-out;
    }
}

.job-filter-trigger{
	@extend .clear-btn;

	width: 100%;
	height: 100%;
	margin-left: 9px;
	color: $color-grey-400;
	border-color: $color-grey-170;
	padding: 8px 14px;
	box-sizing: border-box;

	&:hover{background-color: $color-grey-170;}

	@include mobile {
		text-align: center;
		.filter-text{
			display: none;
		}
		.fa-filter{
			text-align: center;
		}
	}
}

//social signin buttons
.social{

    font-size: 1.0rem;
	margin-bottom: 10px;

	.fa{
		display: inline-block;
		border-right: 2px solid rgba(255,255,255,0.5);
		padding: .5rem;
		width: 25px;
    	margin-right: 1rem;
	}

	//.fa:not(.fa-linkedin){padding-right: 1.5rem;}
}

.jumbo,.social{
	display: block;
	text-decoration: none;
	border-radius: 3px;
	padding: 1.0rem;
	color:#fff;
	text-transform: capitalize;
}

.jumbo{

	@extend .md-button;
	padding: 0.5rem 1.5rem;
	margin: 0;
	text-align: center;
	height: auto;
	font-size: 1.0rem;

	&.lg{
		width: 100%;
	}

	&.condensed{
		font-size: 0.9rem;
		font-weight: 700;
	}
}

.regular-btn{
	@extend .jumbo;
	display:inline-block;
	padding: 0.2rem 10px;
	font-size: 0.9rem;
}

.pad-btn{padding: 0 20px;}

.cashout{margin-top:15px !important;}

.end-job{
	position:absolute;
	right: 10px;
	top: 0;
	z-index: 10;
}

.add-linkedin-btn{
	width: 67%;
	display: block;
}
