.job-categories{
	width: 95%;
	margin: 0 auto;

	@include xl-desktop{
		width: 90%;
	}
}

.job-category{

	position: relative;
	display: inline-block;
	width: 280px;
	margin-bottom: 20px;

	.avatar{
		background-size: cover !important;
		background-repeat: no-repeat !important;
		height: 140px;
	}

	.title{
		background: #fff;
		width: 100%;
		padding: 15px;
		box-sizing: border-box;
		text-align: center;

		p{
			text-transform: capitalize;color: $color-grey-300;margin:0;
			@include oneliner;
		}
	}

	&:hover{
		box-shadow: 0px 3px 10px rgba(0,0,0,0.1);
	}
	&.job-placeholder .title{
		background:none;
		border:1px solid $color-grey-100;
		border-top:none;
	}
	&.job-placeholder:hover{
		box-shadow: none;
	}
}

.portfolio-item,.job-sample{
	@extend .job-category;
	width: 15rem;

	&:nth-child(odd){margin-right: 20px;}
	.title{background: #f7f7f7;}

	.avatar {

		text-align: center;
		span {
			font-size: 4rem;
			line-height: 10rem;
		}
	}
}

.job-category-placeholder{

	@extend .job-category;
	background-size: cover !important;

	height: 180px;

	.tint{
		position: absolute;
		top: 0;
		left: 0;
		background: $color-primary;
		width: 100%;
		height: 100%;
		opacity: 0.9;
		z-index: 9;
	}

	.content-area{
		width: 100%;
		height: 100%;
		z-index: 9;
		color: #fff;
		padding-top: 40px;
		box-sizing: border-box;
	}

	.content{

		display: inline-block;
		margin: 0 auto;

		p{
			margin-bottom: 10px;
			margin-top: 30px;
			font-weight: 300;
			font-size: 1.0rem;
			text-align: left;
			text-transform: capitalize;
			color: #fff;
		}

		img{width: 60px;}
	}

	.launching-soon-tag {

		position: absolute;
		margin: -40px 0 0 150px;

		> img {
			height: 100px;
			width: 100px;
		}
	}

	&:hover{cursor:default;box-shadow: none;}
}

.project-row:not(:first-child){margin-top: 20px;}
.project{

	width: 265px;
	flex: 1 0 265px;
	transition: margin-top 250ms ease-in-out;

	&:hover{

		.tint{
			background: rgba(0,0,0,0.2);
		}
	}

	&:not(:last-child){ margin-right: 20px; }
	&:last-child{ margin-right: 0px; }

	@include mobile{

		width: 100%;
		margin-top: 2em !important;
	}

	.banner-image{

		position: relative;
		background-size: cover !important;
		width: 100%;
		height: 6rem;
	}

	.tint{

		background: rgba(0,0,0,0.5);
		width: 100%;
		height: 100%;
		transition: background 300ms ease-in-out;
	}

	md-card-content{ padding-bottom: 0; }

	.md-title{

		display: block;
		cursor: pointer;
		text-transform: capitalize;
		color: $color-grey-600;
		margin-top: 10px;
		margin-bottom: 15px;
		max-width: 250px;

		@include oneliner;
	}

	.category2{

		background: $color-blue-500;
		width: 100%;
		padding: 10px;
		text-align: center;
		text-transform: lowercase;
		color: #fff;
		box-sizing: border-box;
	}

	.generic-badge{

		display: inline-block;
	 	padding: 5px 10px;
	 	border-radius: 5px;
	 	color: #fff;
	 	font-size: 0.85rem;
	}

	.amount{
		@extend .generic-badge;
		position: absolute;
		top: 16px;
		left: 16px;
		background-color: $color-red-500;
		box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
	}

	/**
	.duration{
		@extend .amount;
		position: absolute;
		top: 16px;
		right: 16px;
		left: initial;
		display:inline-block;
		background-color: $color-grey-300;
	}
	*/

	.duration{
		@extend .generic-badge;
		background-color: $color-grey-300;
	}

	.posted-by{

		font-size: 0.75rem;
		line-height: 100%;
		width: 100%;
		color: $color-grey-300;
		display: flex;
		position: absolute;
		bottom: 80px;
		left: 20px;
		text-transform: capitalize;

		span {
			vertical-align: middle;
			padding: 10px 0 0 10px;
		}
		a{
			color: $color-grey-600;
		}
	}

	.avatar{

		background-size: cover !important;
		border-radius: 100%;
		border: 1px solid $color-grey-300;
	}
}

.badge{

	display: inline-block;
	border-radius: 3px;
	padding: 4px 8px;
	color: #fff;
	font-size: 0.85rem;

	&.danger{
		background-color: $color-red-500;
	}
	&.success{
		background-color: $color-primary;
	}
	&.neutral{
		background-color: $color-grey-300;
	}
	&.yellow{
		background-color: $color-yellow-500;
	}
}

.project-placeholder{
	width: 265px;
	flex: 1 0 265px;
	visibility: hidden;

	p{color: #fff;}
	&:last-child{margin-right: 0px;}
}
.project-category{

	position: relative;
	background-size: cover  !important;
	border-radius: 3px;
	height: 8rem;

	.tint{
		background-color: rgba(0,0,0,0.2);
		width: 100%;
		height: 100%;
		padding: 10px;
		box-sizing: border-box;
		border-radius: inherit;
		transition: all 300ms ease-out;

		&:hover{

			background-color: rgba(0,0,0,0.45);
			transition: all 300ms ease-in;
			cursor: pointer;

			.caption{

				font-size: 1.3rem;
				transition: all 100ms ease-in;

				.underline{
					width: 30%;
					padding: 0;
					height: 2px;
					transition: all 100ms ease-in;
					font-weight: bold;
				}
			}
		}
	}

	.caption{

		display: block;
		margin-top: 30px;
		font-size: 1.2rem;
		font-weight: 500;
		color: #fff;
		transition: all 100ms ease-out;
		text-transform: capitalize;
		text-shadow: 1px 1px 1px rgba(0,0,0,.65);
		outline: none;
	}

	&.small{

		.caption{
			margin-top:25px;
			font-size: 1rem;
		}

		.tint:hover{
			.caption{

					font-size: 1.1rem;

					.underline{
						width: 40%;
						height: 2px;
					}
			}
		}
	}

	.underline{width: 0;background: #fff;margin-top: 5px;}
}

.category-divider{

    color: #C7C7C7;
    text-transform: uppercase;
    text-align: center;
    font-size: 0.85rem;
    font-weight: 500;
    margin-bottom: 20px;
		margin-top: 20px;
}

.alert{

    width: 100%;
    position: relative;
    padding: 1.5rem;
    border: 2px solid #e8f4ff;
    border-radius: 3px;
    margin-bottom: 20px;
}

.alert-danger{
	@extend .alert;
	background-color: #f2dede;
	border-color: #ebccd1;
}

.alert-info{
	@extend .alert;
	background-color: #f9fcff;
	color: #A6B5C3;
}

.alert-success{
	@extend .alert;
	background-color: #dff0d8;
  	border-color: #d6e9c6;
}

.uploader{

	background: #F9FCFF;
    border-radius: 3px;
    border: 2px dashed #E8F4FF;
    text-align: center;
    padding: 15px 10px;
    color: #ADADAD;

    .uploads{margin: 20px 0;}

    .upload{

			background-size: cover !important;
			width: 200px;
			height: 120px;
			margin: 0 auto;

			span{

				color: $color-primary;
				font-size: 3rem;
				line-height: 8rem;
			}
    }

    .upload:not(:first-child){margin-left: 0;}
}

.freelancer-row{margin-bottom: 20px;}

.freelancer-profile-pic{

	display: inline-block;
	background: #fff;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	box-sizing: border-box;
	margin-top: 25px;
	padding: 3px;

	.image{
		background-size: cover !important;
		background-repeat: no-repeat;
		width: 100%;
		height: 100%;
		border-radius: inherit;
	}
}

.freelancer{

	background-color: #fff;
    width: 100%;
    min-height: 18rem;
    border-radius: 3px;
    text-align: center;
    margin-right: 20px;
    flex: 0 0 100%;

		@include mobile{
			flex: 0 0 100%;
		}




    &:last-child{margin-right: 0;}

    .banner{

    	background-size: cover !important;
    	width: 100%;
    	height: 6rem;
    }

    .info{
    	padding: 10px;
    }

	.tint{

		background: rgba(0,0,0,0.5);
		width: 100%;
		height: 100%;
		transition: all 300ms ease-in-out;
		padding: 10px;
		box-sizing: border-box;

		&:hover{
			background: rgba(0,0,0,0.7);
			transition: all 300ms ease-in-out;
		}
	}

	.profile-pic{

		@extend .freelancer-profile-pic;
		margin-right: 0px;
	}

	.fullname,.caption{

		max-width: 100%;
		color: #fff;
		text-transform: capitalize;
		color: $color-grey-600;

		@include oneliner;
	}

	.fullname{

		font-size: 1.15rem;
		font-weight: 500;
		margin: 20px 0 0 0;
		cursor: pointer;
	}

	.caption{

		font-weight: 300;
		font-size: 0.85rem;
		margin-top: 10px;
		color: $color-grey-300;
	}

	.stats{margin: 15px 0;}

	.stat{
		display:inline-block;
		color: $color-grey-300;

		&.projects{

			float: right;
			margin-right: 10px;
			padding-right: 10px;
			border-right: 1px solid $color-grey-100;
		}

		&.reviews{
			float:left;
		}
	}
}


// Card Test


.card{
  height: auto;
  background: white;
  border: 1px solid #ECEEF0;
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
	box-shadow: none !important;
	position: relative;
	margin-top: 0;
	top: 0;

  transition: all 200ms ease-in-out;
	&.card-lg{
		height: 360px;
	}

  &:hover{
		top: -5px;
		box-shadow: 0 3px 20px rgba(0,0,0,0.1) !important;
  }
  .cover{
    width: 100%;
    height: 150px;
	background-size: cover !important;
    background: #F2F3F4;
    .price{
      float: left;
      margin-top: 10px;
      margin-left: 10px;
      background: $color-primary;
      color: white;
      font-weight: 400;
      padding: 5px 15px;
      border-radius: 3px;
    }
		.options{
			display: none;
			float: right;
      margin-top: 10px;
      margin-right: 10px;
      color: white;
			font-size: 1.2rem;
		}
  }
  .content{
    padding: 20px;
    width: calc(100% - 40px);
    //letter-spacing: .5px;
    .title{
			padding: 3px 0;
      font-size: 18px;
      font-weight: 400;
      color: $color-grey-600;
      cursor: pointer;
			display: block;
			text-transform:capitalize;
    }
		.description{
			display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space:nowrap;
			max-width: 230px;
			padding: 0;
			margin: 5px 0;
			color: $color-grey-200;
		}
    .category{
      font-size:12px;
      color: $color-primary;
      cursor:pointer;
			text-transform: uppercase;
			padding-bottom: 10px;
    }
    .reads{
      @extend .category;
      float: right;
      color: $color-grey-170;
    }
  }
}
.bid{
	width: 100%;
	padding:10px 0;
	border-top: 1px solid #ECEEF0;
	color: $color-primary;
	font-weight: 400;
	text-align: center;
	position: absolute;
	cursor: pointer;
	bottom: 0;
	left: 0;
	margin: 0;
	border-radius: 0;
	&:hover{
		background-color: $color-primary !important;
		color: white;
		border-top: 0px;
	}
}
