@import "color-definitions";

//overide and set primary colors
$color-primary: #0AC775;
$color-primary-100: rgb(142,193,63);
$color-primary-150: rgb(89,146, 1);
$color-primary-200: rgb(119,183,66);
$color-primary-250: rgb(96,176,69);
$color-primary-300:	rgb(95,174,69);
$color-primary-400:	rgb(57,147,39);
$color-primary-500: rgb(76,175,80);
$color-primary-600: rgb(71,140,55);

$color-primary-contrast: unquote("rgb(#{$palette-red-400})");
$color-primary-danger: $color-primary-contrast;
$color-primary-success: unquote("rgb(#{$palette-green-500})");
$color-primary-ready: unquote("rgb(#{$palette-yellow-500})");

$color-primary-dark: #181162;

//green
$color-green-200: unquote("rgb(#{$palette-green-200})");
$color-green-300: unquote("rgb(#{$palette-green-300})");
$color-green-350: unquote("rgb(96,176,69)");
$color-green-400: unquote("rgb(#{$palette-green-400})");

//red
$color-red-200: unquote("rgb(#{$palette-red-200})");
$color-red-300: unquote("rgb(#{$palette-red-300})");
$color-red-400: unquote("rgb(#{$palette-red-400})");
$color-red-500: rgb(220, 43, 51);

//yellow
$color-yellow-200: unquote("rgb(#{$palette-yellow-200})");
$color-yellow-300: unquote("rgb(#{$palette-yellow-300})");
$color-yellow-400: unquote("rgb(#{$palette-yellow-400})");
$color-yellow-500: rgb(230,198,13);

//navy-blue
$color-blue-100: rgb(0,149,208);
$color-blue-200: rgb(0,135,194);
$color-blue-300: rgb(1,121,179);
$color-blue-400: rgb(1,96,145);
$color-blue-500: rgb(40,131,178);
$color-blue-600: rgb(38,104,159);

//grey
$color-grey-50: #E0E0E0;
$color-grey-100: #E3E3E3;
$color-grey-150: #DEDEDE;
$color-grey-160: #D7D7D7;
$color-grey-170: #E7E7E7;
$color-grey-180: #F7F7F7;
$color-grey-200: #a3a3a3;
$color-grey-300: #9A9999;
$color-grey-400: #8C8C8C;
$color-grey-500: #8D8D8D;
$color-grey-600: #5A5A5A;


//teal
$color-teal: #1DB7B7;
//social networks
$facebook: #2c4485;
$twitter: #1299ed;
$google: #c22c20;
$linkedin: #007BB6;
