.md-default-theme .md-calendar-date.md-calendar-selected-date .md-calendar-date-selection-indicator, .md-calendar-date.md-calendar-selected-date .md-calendar-date-selection-indicator, .md-default-theme .md-calendar-date.md-focus.md-calendar-selected-date .md-calendar-date-selection-indicator, .md-calendar-date.md-focus.md-calendar-selected-date .md-calendar-date-selection-indicator {
    background: rgb(16,108,200);
    color: rgba(255,255,255,0.87);
    border-color: transparent;
}

.md-default-theme .md-calendar-date-selection-indicator:hover, .md-calendar-date-selection-indicator:hover {
    background: rgb(224,224,224);
}

 .md-calendar-day-header {
    background: rgb(224,224,224);
    color: rgba(0,0,0,0.87);
}

md-datepicker.transparent{background:none;}