[edit-content]{
	
	[read-mode]{
		p{margin-top:0;}
	}

	[edit-mode]{
		display:none;
	}

	.trigger{

		display:none;
		width: 50px;
		height: 50px;
		text-align: center;
		font-size: 1.4rem;		
		color: $color-grey-400;

		&:hover{

			color: $color-primary;			
			cursor:pointer;
		}
	}
}