@import "input";

form .section{

	margin-bottom: 20px;

	.header{
		text-transform: uppercase;
		color: #828282;
		margin-bottom: 10px;
	}
}

.link{
	font-size: 0.9rem;
	text-decoration: underline;
	margin-top: 10px;
	cursor: pointer;
}

md-input-container{width: 100%;}

.md-toolbar-tools h2{color: white !important;}
