//Global Overides
body{
	font-family: 'Lato', 'Roboto', 'sans-serif';
	overflow-x: none;
}

h1,h2,h3,h4,p{color: $color-grey-400;}

a{
	text-decoration: none;
	color:$color-primary;

	&.inline:hover{text-decoration:underline !important;}
}

ul{margin: 0; padding: 0;}

//color helpers
.facebook-bg{background: $facebook;}
.twitter-bg{background: $twitter;}
.google-bg{background: $google;}
.linkedin-bg{background: $linkedin;}
.white-bg{background: #fff;}
.white{color: #fff !important;}
.primary,.green-primary{color: $color-primary;}
.danger{color: $color-primary-danger;}
.ready{color: $color-primary-ready;}
.neutral{color: $color-grey-300;}

//helpers
.bold{font-weight: bold;}
.capitalize{text-transform: capitalize;}
.italicize{font-style: italic;}
.left{float:left;}
.right{float:right;}
.uppercase{text-transform: uppercase;}
.full-width{width:100%;}
.med-width{width:60%;}
.small-width{width:40%;}
.middle-width{width:50%;}
.display-flex{
	display: -webkit-flex; /* Safari */
	display: flex;
}

.justify-left {
	-webkit-justify-content: flex-start; /* Safari 6.1+ */
	justify-content: flex-start;
}

.justify-top {
	@extend .justify-left;
	-webkit-align-items: flex-start; /* Safari 7.0+ */
	align-items: flex-start;
}

.justify-right {
	-webkit-justify-content: flex-end; /* Safari 6.1+ */
	justify-content: flex-end;
}

.justify-bottom {
	-webkit-align-items: flex-end; /* Safari 7.0+ */
	align-items: flex-end;
}

.justify-center-x {
	-webkit-justify-content: center; /* Safari 6.1+ */
	justify-content: center;
}

.justify-center-y {
	-webkit-align-items: center; /* Safari 7.0+ */
	align-items: center;
}

.underline{
	padding-bottom: 10px;
	border-bottom: 1px solid $color-grey-100;
}
.capitalize-text{text-transform: capitalize;}
.center-text{text-align:center;}
.center{margin: 0 auto;}
.centralize-vertical{
	position: absolute;
	top: 50%;
	transform: translateY(-50%)
}

.rotate-180{

	transform: rotate(180deg);
	transition: transform 250ms ease-in;
}

.min-screen-width{
	width: 70%;
	margin:0 auto;
}

.clearfix:after{

	content: " ";
	display: table;
	width: 100%;
}

.no-margin{margin:0 !important;}
.no-margin-l{margin-left:0 !important;}
.no-margin-r{margin-right:0 !important;}

.margin-r-10{margin-right: 10px;}
.margin-l-10{margin-left: 10px;}

.margin-r{margin-right: 20px;}
.margin-l{margin-left: 20px;}

.margin-t{margin-top: 20px;}

.text-align-center{text-align: center;}

.column:not(:last-child){margin-right: 20px;}
.full-width{width: 100%;}

.flex-11{flex:0 0 11%;}
.flex-22{flex:0 0 22%;}
.flex-33{flex:0 0 33%;}
.flex-44{flex:0 0 44%;}
.full-width{width:100%;}
//safari bug fix for freelancer row
.flex-gt-sm-30{
	flex-basis: 30% !important;
}

//generic styles
.pillar{
	width: 100%;
	height: 100vh;
}

.dynamic-content-area{
	width: 75%;
	padding: 25px 20px;
	max-width: 970px;
	position: relative;
	top: 50px;
	margin: auto;

	@include mobile{
		width: 100% !important;
	}
}

//enhance backdrop
md-backdrop{opacity: 0.48; transition: opacity 450ms;}

//container for the authenticated area of the app
.app{
	background: #F9F9F9;
	width: 100%;
	min-height: 100%;
	overflow-x: hidden;
}
.constraint-75{width: 75%; margin: 0 auto;}
.bg-white{
	background: white !important;
}