input{outline:none;}
inputdemoErrors .inputErrorsApp {min-height: 48px;}
.form-row{margin-bottom: 10px;}

md-input-container {
	.error { // Custom input error CSS class.
		padding-top: 5px;
		font-size: 12px;
		color: rgb(221,44,0);
		line-height: 16px;
		transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
	}
}

textarea{
	width: 100%;
	outline: none;
	resize:none;
	color: #8c8c8c;
	padding: 5px 10px;
	border:0;
	border-radius: 0;
	box-sizing: border-box;
}

.upload{

	background: $color-grey-160;
	width: 36px;
	height: 36px;
	text-align: center;
	line-height: 2.4rem;
	color: #fff;
	border-radius: 3px;
	margin-right: 10px;
	@include mobile{
		margin-top: -200px;
		float: left;
	}

	&:hover{
		background: $color-grey-200;
	}
}

.chatbox{

	background: #fff;
    width: 100%;
    border: 1px solid #E1D4EF;
    padding: 3px;
    // max-height: 44px;
    border-radius: 3px;

    .md-button{margin: 0;}
    textarea{min-height: 100px;}
}

.hint{

	display: inline-block;
	color: $color-grey-300;
	margin: 10px 0;
	font-size: 0.85rem;
}

md-radio-button .md-on,
md-radio-button:not([disabled]).md-primary .md-on,
md-radio-button:not([disabled]).md-primary.md-checked .md-off
md-radio-button:not([disabled]).md-primary.md-checked .md-on
{background-color: $color-primary;border-color: $color-primary;}

md-checkbox.md-checked .md-ink-ripple {color: $color-primary !important;}
md-checkbox.md-checked .md-icon {background-color: $color-primary !important;}
md-radio-button .md-container{
	top:10px !important;
	transform: translateX(5px) !important;
}
.radio-border{
	border: 1px solid #ececec;
	padding: 10px 0;
	border-radius: 10px;
}
