
.logged-in-as{
	text-align: center;
    margin: 0;
    text-transform: capitalize;
}

.filter-container{width: $side-nav-width;}
.filter{

    position: fixed;
    z-index: 10;
    top: 4rem;
    right: 0rem;
    background: rgba(255,255,255,0.9);
    width: 18rem;
    height: calc(100vh - 64px);
    overflow:auto;
    color: #8D8D8D;

		@include mobile{
			width: 100%;
			top: 0;
			height: 100%;
			background: rgba(255,255,255,1);
		}

    @include box-shadow;

	.control-input .column{margin-right: 5px;}

	.control-input input{
		width:100%;
		padding: 0px 10px 0 10px;
		box-sizing:border-box;
		border:none;
	}

	.header{

		background: #fff;
		border-bottom: 3px solid $color-grey-100;
		color: #828282;
		padding: 16px 0px 16px 16px;
	}

	md-list {padding-top: 0;}
	.md-subheader {margin-right: 0;}
	p{
		text-transform: capitalize;
		font-size: 0.9rem;
	}
}

.chat-list-container {

	.chat-list {

		.name{color: #000;font-weight: 500;font-size: 1.0rem;}

		md-list-item {

			height: 50px;
			padding: 10px;
			border-left: 5px solid #eee;
			transition: all 0.5s ease;
			-webkit-transition: all 0.5s ease;
		}

		md-list-item.active,md-list-item:hover{

			border-left: 5px solid $color-green-400;
			.name{color: darken(#000,10%);font-weight:bold;}
		}

		md-list-item:hover{cursor: pointer;}
	}
}

.regular{

	.title,
	.sub-title{

		width: 100%;

		p{color: darken(#ccc,10%);margin-top:0;}

		h4{
			margin: 10px 0;
			color: #828282;
		}
	}
}

.list-search-bar{

	width: 92.5%;
	padding: 10px;

	input{

		width: 100%;
		border-radius: 3px;
		border: 1px solid $color-grey-150;
		padding: 10px 15px;
		margin-bottom: 10px;
		box-sizing: border-box;
	}
}

.how-it-works-list{

	.item{margin: 15px 0;}

	.icon-container{
		background: #E2E1E1;
	    width: 7rem;
	    height: 7rem;
	    border-radius: 50%;
	    border: 1px solid #C5C5C5;
	    box-sizing: border-box;
	    text-align: center;
	    margin-top: 15px;
			@include mobile{
				display: none;
			}
	}

	.icon{

		background-size: cover !important;
		background-repeat: no-repeat !important;
		width: 5rem;
		height: 5rem;
		display: inline-block;
		border-radius: 50%;
		margin-top: 15px;
	}
}
