$mobile-width: 35.5rem;
$tablet-width: 48rem;
$desktop-width: 85rem;
$xl-desktop-width: 86rem;

@mixin mobile {
  @media screen and (max-width: #{$mobile-width}) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: #{$mobile-width}) and (max-width: #{$tablet-width}) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: #{$tablet-width}) and (max-width: #{$desktop-width}) {
    @content;
  }
}

@mixin xl-desktop {
  @media screen and (min-width: #{$xl-desktop-width}) {
    @content;
  }
}

@mixin box-shadow{
	
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 
	0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

@mixin oneliner{
		
	overflow:hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}