md-dialog{

	@include mobile{
		min-width: 100%;
		min-height: 100%;
		border-radius: 0;
	}

	&.large,&.small{
		max-width: none;
		max-height: none;
	}

	&.large{

		width: 70%;
		height: 90%;
	}

	&.medium{

		width: 60%;
		height: 85%;
	}

	&.small{

		width: 60%;
		height: 80%;
	}

	&.x-small {
		width: 20%;
		height: 25%;
	}

	&.confirm,&.client-review,&.create-ticket{

		width: 40%;
		height: initial;
		min-height: 30%;
	}

	&.slim{
		width: 30%;
	}

	&#verification-restriction {
		padding: 30px;
	}

	.aside{
		background: $color-grey-100;
		padding: 10px;
		height: auto;
	}
}

.client-review{

	h1,p,.ratings{text-align: center;margin: 0;color: $color-grey-400;}
	h1{font-size: 1.5rem;}
	textarea{border-radius: 3px;border: 1px solid $color-grey-100;padding: 10px;}
}

md-dialog.confirm{

	h1{color: $color-grey-200;margin: 0;font-size: 1.6rem;font-weight: 400;}
	p{color: $color-grey-400;line-height: 1.5rem;}
	.options{
		button{float: right;}
	}
}

md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar){
	background: $color-primary;
}

md-dialog-content.has-footer{margin-bottom: 100px;}

md-dialog-actions{

	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	background: #fff;
	padding: 20px;
	box-sizing: border-box;
	border-top: 1px solid $color-grey-160;
}

#freelancer-profile{

	h4{color: $color-grey-500;}
	p{color: $color-grey-200;}

	.md-dialog-content{
		padding: 0;
	}
	.cover-image{

		background-size: cover!important;
		width: 100%;
		height: 12rem;

		.tint{

			background: rgba(0,0,0,0.35);
			width: 100%;
			height: 100%;
			transition: all 300ms ease-in-out;
			padding: 10px;
			box-sizing: border-box;
			text-align: center;
		}

		.profile-pic{

			position: relative;
			@extend .freelancer-profile-pic;
			margin-right: 0;

			.upload-photo{

				position: absolute;
			    bottom: 0px;
			    right: 0px;
			    background: $color-primary;
			    width: 25px;
			    height: 25px;
			    color: #fff;
			    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
			    border-radius: 50%;
			    line-height: 1.7rem;
			    font-size: 0.9rem;

				&:hover{cursor:pointer;}
			}
		}

		.fullname,.caption{

			max-width: 100%;
			color: #fff;
			text-transform: capitalize;

			@include oneliner;
		}

		.fullname{

			font-size: 1.15rem;
			font-weight: 500;
			margin: 10px 0 0 0;
			cursor: pointer;
		}

		.caption{

			font-weight: 300;
			font-size: 0.85rem;
			margin:0 0 10px 0;
		}

		.title{@extend .fullname;}
		.sub-title{@extend .caption;}
	}

	.scroll{
		overflow-y: scroll;
	}

	.aside{
		@extend .scroll;
		background: white;
		padding: 10px;
	}

	.biodata{@extend .scroll;}

	.stats{

		h4{
			text-transform: capitalize;
		}

		.row{margin-bottom: 20px;}

		.stat{

			border: 2px solid $color-grey-500;
			text-align: center;
			padding: 8px;
			color: $color-grey-500;
			margin-right: 10px;
			height: 3.3rem;
			line-height: 2.1rem;

			&.active{

				color: $color-primary;
				border-color: $color-primary;
			}
		}

		.info-title{
			h4{margin-bottom: 0;}
		}

		.project-stats p{margin-top:0;}
		.project-stats p:last-child{margin-bottom:0;}

		.hfh-level{

			h4{margin-top: 0px;}
			text-align: center;
			p{margin-top:0;font-size: 0.85rem; text-transform: uppercase;}

			.bar{background: rgba(0,0,0,0.1);width: 100%;height: 20px}
			.bar-level{background:$color-primary-success;width: 60%;}
		}

		.project-stats{color: $color-grey-500;}
	}
}

#edit-profile{

	.profile-section{margin-bottom: 20px;}
	.profile-pic{
		display: block;
	    width: 80px;
	    height: 80px;
	    border-radius: 50%;
	    box-sizing: border-box;
	    margin-left: 50px;
	    margin-bottom: 5px;
	    padding: 3px;

	    :hover{cursor:pointer;}
	    .image{background-size: contain !important;width: 100%;height: 100%;border-radius: 50%;}
	}
}

#job-profile{

	@extend #freelancer-profile;

	.md-dialog-content{
		padding-top: 1px;
	}

	.total-bids-container{position: relative;margin-left: 20px;}
	.total-bids{

		position: absolute;
	    top: 50%;
	    left: 50%;
	    text-align: center;
	    transform: translate(-50%,-50%);

		h2{font-size: 5rem;color: $color-grey-400;}

		p{font-size: 1rem;text-transform: uppercase;color: $color-grey-200}

		h2,p{margin:0;}
	}

	textarea{
		min-height: 150px;
		margin-bottom: 20px;
		text-align: left;
		color: $color-grey-200;
	}
}

#post-job{

	.profile-pic{

		display: inline-block;
		margin-right: 0;

		.image{background-size: contain;height: 100%;border-radius: inherit;}
	}
}

.job-cost{

	@extend .wallet;
	width: 100%;
	color: #fff !important;
	padding: 15px 0;
	border-radius: 0 !important;

	.title{text-transform: uppercase; font-size: 0.85rem !important; text-align: center!important;}
	.content{font-size: 2rem !important;margin-bottom: 10px !important;}
}

.job-details {
	height: 80%;
	overflow-y: scroll;

	ul.padding {
		padding: 20px;
	}

	&::-webkit-scrollbar {
		display: none;
	}
}

#bid-history-container,.chat-window{

	md-chips.md-default-theme .md-chips, md-chips .md-chips{box-shadow: none;}
	md-dialog-content,md-dialog-content > div{height: 100%;overflow: hidden;
		.close-modal{
			background: $color-primary;
			color: white;
			padding: 20px;
			i{
				float: right;
			}
		}
		@include mobile{
				overflow: auto !important;
		}
	}

	.header{

		background: #fff;
		border-bottom: 3px solid $color-grey-100;
		color: #828282;
		padding: 16px 0px 16px 16px;

		h4{margin:0;}
	}

	md-list-item, md-list-item .md-list-item-inner{
		align-items: flex-start;

		ul{
			margin: 0;
			margin-left: 30px;
		}
	}

	.sub-title p{text-transform: capitalize;}

	.freelancers{

		background: #fff;
		width: 100%;
		min-height: 100%;
		border-right: 1px solid $color-grey-100;
	}

	.profile-pic{

		background-size: cover !important;
		background-repeat: no-repeat;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		margin-right: 10px;
		border: 1px solid $color-primary-500;
	}

	.bid-history,.chat-history-container{

		background:#F7F7F7;
		width: 100%;
		overflow-y: hidden;
		position: relative;

		@include mobile{
			padding-bottom: 100px;
		}

		&.right-toolbar{
			.header{padding: 10.5px;}
			.header h4{margin-top: 6px;}
		}
	}

	.bid-section,.chat-history-section{

		width: 100%;
		height: calc(100% - 280px);
		overflow-y: auto;
		padding: 10px;
		margin-bottom: 20px;
		box-sizing: border-box;

		&::-webkit-scrollbar {
			display: none;
		}
	}

	.chat-box-section{

		padding: 10px 20px;

		@include mobile{
				padding: 0;
		}
	}
}

#tnc-container{

	md-dialog-content{background: #F7F7F7;height: 100%;padding: 20px;}

	.content{
		background: #fff;
	    width: 100%;
	    min-height: 3rem;
		overflow: auto;
	    border: 1px solid #E0E0E0;
	    border-radius: 5px;
	    padding: 20px;
	    box-sizing: border-box;
	}

	.main-title{
		text-align: center;
	    border-bottom: 1px solid #e3e3e3;
	    padding-bottom: 10px;
	    color: $color-grey-500;
	}

	.body{color: $color-grey-400;}

	li > ul{margin-left: 30px;}
}

#verification-checklist,.slim-content{

	md-dialog-content{
		padding: 20px;
		padding-top: 0px;
	}

	p{
		font-size: 0.9rem;
		color: $color-grey-300;
		margin-top: 0;
	}

	h4{margin-bottom: 10px;color: $color-grey-400;}

	.md-button{margin-bottom: 10px;}
}
