//Variables
$side-nav-width: 20rem;
$top-nav-height: 64px;

.sidebar-overlay{

	position: fixed;
	top:0;
	left: 0;
	z-index: 100;
	display: none;
	width: 100vw;
	height: 100vh;

	.overlay{background: rgba(0,0,0,0.35);height: 100vh;opacity: 0.3;}

	.projects-nav{

		transform: translateX(-$side-nav-width);
		transition: all 300ms ease-in-out;
	}

	&.active{

		.projects-nav{

			transform: translateX(0rem);
			transition: all 300ms ease-in-out;
		}

		.overlay{opacity: 1;}
	}
}

.projects-nav{

	position:fixed;
	overflow-y: scroll;
	background: white;
    width: $side-nav-width;
    height: 100vh;

	@include mobile {
		width: 100%;
	}

	.link-mobile{
		font-size: 1rem;
		text-transform: capitalize;
		padding-left: 10px;
		color: $color-grey-600;
		i{
			color: $color-grey-200;
		}
	}

    .toggle-sidebar{

    	text-align: center;

    	a{
    		display: block;
			color: #fff;
			text-align: center;
		    font-size: 2rem;
		    margin-top: 11px;
		}
   	}

   	.sidebar-header > .close a{color: $color-primary !important;}

    .logo{

    	width: 100%;
    	height: $top-nav-height;
    	font-size: 1.2rem;
    	font-weight: 500;
    	color: #fff;
	    line-height: 4rem;
	    margin-left: 10px;
	    text-transform: uppercase;
	    color: rgba(255,255,255,0.5);

		img{

			display:block;
			width: 160px;
			height: auto;
			margin:0 auto;
			padding-top:15px;
		}
	}

    .add{padding: 10px;}

    .project-heading,.no-project .content{
		text-transform: uppercase;
		color: $color-primary;
		font-weight: 700;
		font-size: 0.9rem;
	}

    .no-project{

		padding: 0 10px;

		.content{
			//border: 1px dashed $color-grey-50;
			text-align: center;
			font-size: 0.75rem;
			box-sizing: border-box;

			@include mobile{
				width: 100%;
			}
		}
		.content > p{
			color: $color-grey-50;
		}
	}

	.projects {
		height: inherit;
		overflow: auto;

		@include mobile {
			height: 75%;
		}

		&::-webkit-scrollbar {
			display: none;
		}
	}

	.create-mobile a{
		width: 90%;
		background: $color-primary !important;
		color: white !important;
		padding: 1rem 0;
		display: none;
		font-size: 1.2rem;
		margin: 5%;


		@include mobile{
			display: block;
		}
	}

	.project-heading{
		margin: 30px 0 10px 0;
		padding: 10px;
		border-bottom: 1px solid $color-grey-50;
	}

    .project{

    	display:block;
    	width: 100%;
    	padding: 10px;
    	color:$color-grey-600;
    	text-transform: capitalize;
    	font-size: 1rem;
    	box-sizing: border-box;

    	&.active,&:hover{
    		font-weight: 700;
    		background: $color-primary;
    		color:#fff;
    	}
    }
}

#main-content{
	//width: 	calc(100vw - 64px); //sass variable wont work here
	//margin-left: $side-nav-width;
	width: 100vw;
}

nav{

	position: fixed;
	z-index: 10;

	.tray-mobile{
		text-align: right;
		margin-top: .5rem;
		font-size: 1.5rem;

		a{
			color: $color-primary !important;
		}
	}

	.logo-sidebar{

		position: absolute;
		top:0;
		left:0;
		background-color: white;
		width: 3rem;
		height: 64px;

		@include mobile{
			margin-left: 1rem;
		}

		img{
			position: absolute;
    		top: 50%;
    		transform: translateY(-50%);
    		width: 160px;
    		height:auto;
		}

		.toggle-sidebar{

			text-align: center;

			i{
				color: $color-primary;
				text-align: center;
			    font-size: 1.5rem;
			    margin-top: 20px;
			}
		}
	}

	#regular-menu-content{

		width: 100vw;
	}

	#tray-menu-content {
		position: absolute;
		top: 0;
		left: $mobile-width;
		right: 0;
		bottom: 0;
		padding-top: 12px;
		background-color: inherit;
		z-index: 1;
		height: $top-nav-height;
		width: $mobile-width;
		transition: left 250ms ease-out;

		#close-tray-menu {
			text-align: center;
		}

		&.active {
			left: 0;
		}
	}

	.container{padding: 0 20px;}

	[aria-label="menu"]{line-height: 1rem !important;color:$color-primary !important;}

	md-toolbar{
		background-color: #FFF !important;
		color: $color-primary !important;
		box-shadow: 0 1px 1px rgba(0,0,0,.1);
		min-height: $top-nav-height;
	}

.menu-utilities{
	@include mobile{
		flex: none !important;
	}
}

	ul{
		margin: 0;padding:0;
		li{
			list-style:none;
			float: left;
			margin-right: 20px;
			line-height:1rem;
			&:last-child{
				margin-right: 0;
			}
		}

	}

	.md-toolbar-tools a{color: #B1B1B1;}

	.menu-options{
		margin-left: 5rem;
	}

	.menu-options a{

		font-size: .95rem;
		font-weight: 700;
		padding-bottom: 5px;

		&:hover,&.active{
			color: $color-primary;
			border-bottom: 2px solid $color-primary;
		}
	}

	.profile-pic{
		display: block;
		background-size: cover !important;
		background-repeat: no-repeat;
		background: $color-primary;
		width:40px;
		height:40px;
		border-radius: 40px;
		border: 1px solid $color-grey-160;

		@include mobile{
			margin-top: 5px;
			width: 35px;
			height: 35px;
		}
	}

	.notifications{

		position: relative;

		.count{
			position:absolute;
			background: $color-primary-contrast;
			width: 25px;
			border-radius: 20px;
			padding: 0.8px;
		    color: #fff;
		    font-size: 0.65rem;
		    text-align: center;
		}

		a{
			font-size: 1.5rem;
			line-height: 2.5rem;
		}
	}

	.search{

		position: relative;
		background: #fafafa;
		width: 25px;
	    height: 25px;
		border-radius: 15px;
	    border: solid 1px #edeeee;
	    margin-top: 10px;
	    font-size: 14px;
	    outline: none;
	    z-index: 2;
	    transition: width 300ms ease-out;

	    i{position:absolute; left: 20%; bottom: 20%; color:#ccc;}

	    input{
	    	display: none;
		    background: transparent;
		    width: 85%;
		    border: 0;
		    padding-left: 10px;
		    text-align: center;
		    color: #666;
	    }

	    &:hover,&:focus{

	    	width: 250px;
	    	padding: 3px 10px 3px 26px;

	    	input{display: block;}
	    	i{left: 2%;}

	    	transition: width 300ms ease-in;
	    }
	}
	.logo{
		text-align: center;
		img{
			height: 35px !important;
		}
		@include mobile{
			margin-top: 1rem;
			margin-left: 3rem;
		}

		img{
			@include mobile{

			}
		}
	}
}

.logged-in-profile-pic{

	position: relative;
	width: 40px;
}

.utility-options{

	position: absolute;
	display: none;
	background: #fff;
	top: 50px;
	right: 0px;
	width: 200px;
	border-radius: 3px;
	@include box-shadow;

	li{
		display: block;
		width: 100%;
		padding: 10px 15px;
		border-bottom: 1px solid #e3e3e3;
		font-size: 0.9rem;

		&:last-child{
			background: #f7f7f7;
			border-bottom: 0px;
			border-radius: 3px;
		}

		a:hover{color:$color-primary;}
	}
}

.notification-list{
	@extend .utility-options;
	right: -95px;
	width: 400px;
	min-height: 50px;
	max-height: 70vh;
	overflow-y: auto;

	@include mobile{
		width: 300px;
	}

	.notification-msg:hover,.item:hover{cursor:pointer;}
	li{padding: 20px;}
	li:last-child{background: #fff;}
	li:hover{background: #f7f7f7;}
}

.search-results{

	@extend .notification-list;
	right: -55px;

	.header{
		text-align: center;
		padding: 10px 20px;
		border-bottom: 3px solid $color-grey-100;
		font-weight: bold;
	}
}


// Mobile Dock Feature

.mobile-dock{
	background: white;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: .5em 0;
	z-index: 200;

	box-shadow: 0 -1px 4px rgba(0,0,0,0.2);

	.md-button{
		width: 60% !important;
		margin-left: 10% !important;
		padding: .5em 1em !important;
	}
}
.hire-mobile{
	padding: 0 3px !important;
	width: auto !important;
	font-size: 12px;
}
