.pill{
	
	display:inline-block;
	margin: 0 2.5px 5px 0;
	padding: 5px 10px;
	text-transform: capitalize;
	color: $color-grey-300;
	border-radius: 3px;
	border: 1px solid $color-grey-300;
	font-size: 0.85rem;
	transition: all 300ms ease-in-out;

	/**
	&:hover{

		border-color: $color-primary !important;
		color: $color-primary-250;
		transition: all 300ms ease-in-out;
	}
	**/
}

.pin-group{
	margin: 10px;
}
.pin{
	
	display: inline-block;
	background: #E3E3E3;
	line-height: 2.8rem;
	list-style: none;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 1px solid $color-grey-160;
    color: #F9F9F9;
    font-size: 1.5rem;
    font-weight: bold;   
    margin: 0 5px;
    text-align: center;

    &:hover{cursor:pointer;}
    &.active{background: $color-primary-success;}

    &.small{
    	width: 1.8rem;
    	height: 1.8rem;
    	font-size: 1rem;
    	line-height: 1.8rem;
    }
}