md-progress-circular.primary {

	.md-inner .md-half-circle {
		border-top-color: $color-primary !important;
	}

	.md-inner .md-left .md-half-circle {
		border-left-color: $color-primary !important;
	}

	.md-inner .md-right .md-half-circle {
		border-right-color: $color-primary !important;
	}

	path {
		stroke: $color-primary;
	}
}

md-progress-circular.add-linkedin-progress {

	display: inline;
	margin-left: 2%;

	.md-inner .md-half-circle {
		border-top-color: #fff !important;
	}

	.md-inner .md-left .md-half-circle {
		border-left-color: #fff !important;
	}

	.md-inner .md-right .md-half-circle {
		border-right-color: #fff !important;
	}

	path {
		stroke: #fff;
	}
}

md-progress-circular.inline-right {
	display: inline-block;
  float: right;
}
