//Generic table

.table.alt-rows > .tbl-row:nth-child(odd){
	background: #fff;
}

.tbl-row{

	border-bottom: 1px solid $color-grey-100; 
	padding: 10px 15px;

	p{margin: 10px 0;color: $color-grey-200;}
}

.tbl-header{
	
	background: #fff;
	border-bottom: 3px solid $color-grey-100;
	color: #828282;
}

.status-column{
	padding: 10px;
}