md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]){

	color: $color-primary;
	&.md-active{color: $color-primary;}
}

md-toolbar.md-accent > md-tabs.md-default-theme, md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-ink-bar{
	color: $color-primary;
	background-color: $color-primary;
}

//tabs for projects comments and issues
.project-communique{

	position: relative;
	background: #f5f5f5;

	md-tabs-wrapper{background: #fff !important;}

	md-content{
		background:transparent !important;
		min-height: 90vh;
		overflow: hidden;
	}

	md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]){

		color: #a7a7a7;
		&.md-active{color: $color-primary;}
	}

	.comment-area{
		height: 40rem;
		overflow: auto;
	}
}

//simple tabs
.tabs.simple{

	&.projects-container{margin: 0 8px 20px 8px;}

	.tab{
		padding: 10px 15px;
    	border-bottom: 1px solid $color-grey-150;
    	text-transform: capitalize;
    	a{color: $color-grey-200;}
	}

	.tab:hover,.tab.active{
    	border-bottom: 1px solid $color-primary;
    	a{color: $color-primary;}
	}
}

.tab-container{

	> div:not(:first-child){display:none;}

	#domestic-services {

		margin-top: 40px;

		hr {
			border: 0;
			height: 1px;
			width: 30%;
			background-image: linear-gradient(to right, $color-grey-50, $color-grey-600, $color-grey-50);
		}
	}
}
