.profile-pic{

	background-size: cover !important;
	background-repeat: no-repeat;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-right: 20px;
	border: 1px solid $color-grey-160;

	&.avatar{
		margin-top: -20px !important;

		@include mobile{
			margin-top: -10px !important;
		}
	}
}

.update{

	width: 100%;
	margin-bottom: 20px;

	.detail{

		background: #fff;
		width: 100%;
		min-height: 3rem;
		border: 1px solid #E0E0E0;
		border-radius: 5px;
		padding: 20px;
		box-sizing: border-box;

		a{color: $color-primary;&:hover{text-decoration:underline !important;}}
	}

	.summary{

		width: 100%;
		border-bottom: 1px solid #E0E0E0;
		padding-bottom:10px;
		margin-bottom: 20px;

		.event{color: $color-primary;text-transform: uppercase;margin:0;font-size: 0.75rem;}
		.time{color: #a7a7a7;margin:0;font-size: 0.75rem;}
	}

	.event-detail{

		color: #8c8c8c;
		font-size: 0.95rem;
		margin-bottom: 20px;
		line-height: 1.2rem;

		a,em{display: inline-block;}

		a{font-size:0.9rem;}
		em{font-weight: 700;}

		.image-post{
			.image{width: 200px;}
			.content{padding: 20px;}
		}
	}

	.attachment{

		width: 150px;
		height: 150px;
		margin: 0 auto;
		//margin-right: 10px;
		padding: 5px;
		float:left;
		border-radius: 5px;
		border: 1px solid #e3e3e3;

		img{

			background-size: cover !important;
			background-repeat: no-repeat;
			width: 100%;
			height: 100%;
			border-radius: inherit;
		}
	}
}

.chat{@extend .update;}

.rating{

	color: $color-grey-300;
	&.active{color: gold;}
}

.statistic{

	background-color: #fff;
	border-radius: 3px;
    min-height: 2rem;
    margin-bottom: 20px;
    text-align: center;

    .title{
    	font-size: 1rem;
    	color: #fff;
    	padding: 10px 15px;
    	text-align: left;
    }

    .content{
    	position: relative;
    	display: inline-block;
    	font-size: 3rem;
	    margin: 0;
	    color: inherit;
    }

    .unit{

    	position: absolute;
    	font-size: 1.5rem;
	    display: inline-block;
	    left: -25px;
	    transform: translateY(1.0rem);
    }

    .footer{
    	text-align: center;
    	color: inherit;

    	.text{margin:0;padding-bottom:20px;text-transform: uppercase;color:inherit;font-size: 0.75rem;}
    	a{
    		display:inline-block;
    		border-bottom: 1px dotted #fff;
    		padding: 5px;
    		color: #fff;
    		margin-bottom: 10px;
    		font-size: 0.85rem;
    		transition: all 300ms ease-in;
    	}
    }
}

//comment
.comment{
	@extend .update;

	img{width: 100%; height: auto;}
	.event-detail{margin-bottom: 0;}
	.summary{
		margin-bottom: 10px;
		.time{float:right;}
	}

	&.right{
		.profile-pic{
			margin-right: 0;
    		margin-left: 10px;
    	}
	}

	.footer{

		margin-top: 10px;
		padding-top: 10px;
		font-size: 0.85rem;

		p{margin: 0;}
	}
}

.bid .detail{
	padding-bottom: 10px;
}

//themes for different statistics
.wallet {
	@extend .statistic;

	background-color: $color-primary;
	color: #fff !important;

	.title{
		color: rgba(255,255,255,0.5);
	}

	.content{font-size: 2rem;}
	.unit{transform: translateY(0.3rem);}
}

.ratings-widget{
	@extend .statistic;
	color: gold;

	.label{
		color: $color-grey-200;
		line-height: 2rem;
		font-size: 1rem;
	}

	.content{display: flex; font-size: 1.5rem;margin: 0 auto;padding: 10px}
}

.aside-header{

	color: $color-grey-300;
	font-size: 1rem;
	margin: 10px 0px;
	font-weight: bold;
}

.project-widget{

	margin-bottom: 10px;
	box-shadow: 0px 1px 1px rgba(0,0,0,0.3);

	.banner{
		background-size: cover !important;
		width: 100%;
		height: 6rem;
	}
	.content{background: #fff;padding: 10px;height: 6rem;}
	.amount{
		background-color: $color-red-500;
		display: inline-block;
	 	padding: 5px 10px;
	 	border-radius: 5px;
	 	color: #fff;
	 	font-size: 0.85rem;
	}

	.title{

		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		width: 100%;
		height: 2.375rem;
		overflow: hidden;
		text-overflow: ellipsis;
		text-transform: capitalize;
		color: $color-grey-500;
		margin: 0;
		margin-top: 10px;
		font-size: 0.9rem;
		font-weight: 500;
		line-height: 1.2rem;

		&:hover{
			color: $color-primary;
			text-decoration: underline;
		}
	}
}

//Canvas - backdrop for anything that aims to occupy as much space as possible
.canvas{

	background: #fff;
	width: 100%;
	min-height: calc(100vh - 44px);
	margin: 0;
	padding:20px;
	border-radius: 5px;
	border: 1px solid #E0E0E0;
}

//wallet-jumbotron for finance page
.wallet-jumbotron{

	background: $color-primary;
	width: 100%;
	text-align: center;
	height: auto;
	margin-bottom: 20px;
	border-radius: 5px;

	.container{

		position: relative;
		padding: 2rem 0;
		width: 80%;
		margin: 0 auto;

	}

	.label{
		color: rgba(255,255,255,0.5);
		text-transform: uppercase;
		margin: 0;
		font-size: 0.75rem;
		padding-top: 1rem;
	}
	.label:not(:first-child){
		padding-top: 1rem;
	}
	.amount{
		color: #fff;
		margin: 0;
		margin-top: 0.5rem;
		font-size: 2rem;
	}
}

.financial-history{

	.trans-type{display:block;margin-top: 15px;}
	.debit{color: $color-red-300;}
	.credit{color: $color-green-300;}

		.tbl-header{
			@include mobile{
				margin-top: 2rem;
			}
		}

		.tbl-header > .tbl-cell{
			@include mobile{
				display: none;
			}
		}
		.tbl-header > .tbl-mobile, .label-mobile{
			display: none;
			@include mobile{
				display: inline-block;
				text-align: center;
			}
		}

		.tbl-cell{
			@include mobile{
				max-width: 100% !important;
			}
		}
}

.financial-history-actions{
	h4{color: $color-grey-200;}
	button{margin: 0;}

}

//use this to give some gutter space btw the project filter & the project cards
.projects-container{

	width: 100%;
}

.page-jumbotron{

	&.projects{margin: 0 8px 20px 8px;}

	h1{
		color: $color-grey-300;
		font-size: 1.5rem;
		text-align: center;
		margin-top: 0;
		text-align: center;
		font-weight: 500;
	}

	.search{

		position: relative;
		width: 100%;

		input{
			width: 100%;
		    border-radius: 3px;
		    border: 2px solid #e7e7e7;
		    height: 2.5rem;
		    padding: 20px;
		    padding-left: 30px;
		    box-sizing: border-box;
		    color: $color-grey-500;
		}

		.icon{
			position: absolute;
			top: 12px;
			left: 10px;
			color: $color-grey-300;
		}
	}
}

.price-selector{
	width: 50%;
	height: 4rem;
	margin: 0 auto;
	@include mobile{
		width: 100%;
	}

	.le-prix{

		width: 100%;
		height: 100%;
		border: 1px solid $color-grey-100;
		border-radius: 3px;
		padding: 10px;
		font-size: 2rem;
		color: $color-primary;
		text-align: center;
	}

	.ctrl{

		display: inline-block;
		background: $color-primary;
		line-height: 0.8rem;
		font-size: 0.8rem;
		width: 10px;
		height: 10px;
		color: #fff;
		padding: 10px;
		margin-top: 15px;

		border-radius: 50%;

		@include box-shadow;
	}
}

.no-data-placeholder{

	h2{color: #666;}
	&.medium{
		width: 50%;
	}

	.icon{
		font-size: 3rem;
	}

	p{
		color: $color-grey-300;
	}

}

.progress-bar{

	background: $color-grey-100;
	width: 100%;
	height: 10px;
	border-radius: 3px;
	padding: 3px;
	box-sizing: border-box;
	margin: 10px 0;

	.measure{
		background: $color-primary-success;
		height: 100%;
		border-radius: inherit;
	}
}

.star-rating{
	margin: 3px auto;

	.fa-star{
		display: inline-block;
		font-size: 1.5rem;
		margin:3px;
		color: $color-grey-300;

		&.active{color: gold;cursor: pointer;}
	}

	&.small { font-size: 0.8rem; }
}

.alert{
	width: 100%;
	padding: 10px 15px;
	border-radius: 3px;
	box-sizing: border-box;
	margin-top: 10px;

	p{
		margin: 0;
		font-size: 0.9rem;
		line-height: 1.3rem;
	}
}

.alert-error{
	@extend .alert;
	background: rgba(224,18,6,0.55);
	color: #A91209;
	border-color: #ebccd1;
}

.alert-success{
	@extend .alert;
	background: #dff0d8;
	color: #3c763d;
	border-color: #d6e9c6;
}

.accordion {

	.accordion-item {
		background: #fff;
		border-bottom: 0;
		color: $color-grey-400;

		.accordion-body {
			display:none;
		}

		&:hover{ cursor:pointer; }
	}

	[icon]{ transition: transform 250ms ease-in; }
}
