/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@keyframes slideIn {
  from {
    margin-top: 70px;
    opacity: 0; }
  to {
    margin-top: 0px;
    opacity: 1; } }

@keyframes slideIn2 {
  from {
    margin-top: 50px;
    opacity: 0; }
  to {
    margin-top: 40px;
    opacity: 1; } }

@keyframes banner {
  from {
    margin-right: -30px;
    opacity: 0; }
  to {
    margin-top: 0px;
    opacity: 1; } }

h1 {
  color: #565656;
  font-size: 2.2em;
  font-weight: 400; }

.left {
  float: left; }

.right {
  float: right; }

.width-20 {
  width: 20%; }

.width-30 {
  width: 30%; }

.width-35 {
  width: 35%; }

.width-40 {
  width: 40%; }

.width-50 {
  width: 50%; }

.width-60 {
  width: 60%; }

.width-65 {
  width: 65%; }

.width-70 {
  width: 70%; }

.margin-10 {
  margin-top: 10px; }

.margin-20 {
  margin-top: 20px; }

.margin-50 {
  margin-top: 50px; }

.margin-100 {
  margin-top: 100px; }

.flex {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .flex.center {
    -ms-flex-pack: center;
        justify-content: center; }

.flex-1 {
  -ms-flex: 0 1 auto;
      flex: 0 1 auto; }

@media (max-width: 600px) {
  .column {
    width: 100%;
    margin-top: 3em;
    text-align: center; } }

.signin-form, .signup-form {
  opacity: 0;
  position: absolute;
  padding: 20px;
  border-radius: 10px;
  background: #fff;
  right: 0;
  top: 50px;
  z-index: 500;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
  transition: all 250ms ease-in-out 100ms;
  width: 320px; }
  @media (max-width: 600px) {
    .signin-form, .signup-form {
      width: 250px; } }
  .signin-form input[type="text"], .signup-form input[type="text"],
  .signin-form input[type="password"], .signup-form input[type="password"], .signin-form input[type="email"], .signup-form input[type="email"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #DEDEDE;
    outline: none;
    font-size: 1em;
    -webkit-appearance: none; }
    .signin-form input[type="text"]:focus, .signup-form input[type="text"]:focus,
    .signin-form input[type="password"]:focus, .signup-form input[type="password"]:focus, .signin-form input[type="email"]:focus, .signup-form input[type="email"]:focus {
      border-color: #929292; }
  .signin-form input[type="button"], .signup-form input[type="button"], .signin-form button[type="button"], .signup-form button[type="button"] {
    margin-top: 10px;
    border: none;
    font-size: 1em;
    font-family: 'Ubuntu', sans-serif;
    cursor: pointer;
    outline: none;
    -webkit-appearance: none; }
  .signin-form .forgot-pass, .signup-form .forgot-pass {
    margin-top: 10px;
    color: #9B9B9B;
    padding: 10px;
    display: inline-block;
    font-size: .8em; }
    .signin-form .forgot-pass:hover, .signup-form .forgot-pass:hover {
      color: #3DB773; }
  .signin-form.show, .show.signup-form {
    opacity: 1;
    top: 60px; }

.modal {
  width: 100%;
  height: 100vh;
  background: #3DB773;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: none; }
  .modal.show {
    display: -ms-flexbox;
    display: flex; }
  @media (max-width: 600px) {
    .modal {
      height: 100%;
      cursor: pointer; } }

.signup-form {
  position: relative;
  opacity: 0;
  width: 320px;
  margin: auto;
  background: white;
  transition: all 250ms ease-in-out; }
  .signup-form.show {
    opacity: 1;
    top: 0; }
  .signup-form p {
    margin-bottom: 20px; }
  @media (max-width: 600px) {
    .signup-form {
      width: 250px; } }
  .signup-form .have-acc {
    width: calc(100% - 40px);
    text-align: center;
    position: absolute;
    bottom: -30px;
    float: left;
    color: white;
    font-size: .8em; }

.form .logo {
  float: none;
  height: 2.5em;
  padding: 10px 0; }

@media (max-width: 600px) {
  .legal-nav {
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px 0;
    background: white;
    text-align: center; } }

.legal {
  float: left;
  width: 100%;
  margin-top: 50px; }
  .legal .side-nav {
    float: left;
    width: 200px;
    position: fixed; }
    @media (max-width: 600px) {
      .legal .side-nav {
        width: 100%;
        background: white;
        padding: 10px 0; } }
    .legal .side-nav .nav-link {
      color: #565656;
      text-decoration: none;
      padding: 10px 20px;
      border-radius: 5px;
      float: left; }
      .legal .side-nav .nav-link.active {
        background: #3DB773;
        color: white; }
  .legal .content {
    float: right;
    width: 790px;
    color: #9B9B9B;
    display: none; }
    @media (max-width: 600px) {
      .legal .content {
        width: 100%;
        margin-top: 80px;
        float: left; } }
    .legal .content.show {
      display: block; }
    .legal .content h1 {
      padding-bottom: 20px; }
    .legal .content strong {
      font-weight: bold;
      color: #565656; }
    .legal .content p {
      float: left;
      display: block; }
    .legal .content ul {
      float: left; }
    .legal .content li {
      list-style: square;
      float: left;
      padding: 10px; }
      .legal .content li.alpha {
        list-style: lower-alpha; }
      .legal .content li.decimal {
        list-style: decimal; }

body,
html {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.4;
  color: #9B9B9B;
  width: 100%; }
  body.no-scroll,
  html.no-scroll {
    overflow: hidden; }
  @media (max-width: 600px) {
    body,
    html {
      cursor: pointer;
      font-size: 0.8em; } }

.container {
  width: 1000px;
  margin: 0 auto; }
  @media (max-width: 600px) {
    .container {
      width: 80%; } }

.btn {
  background: #3DB773;
  padding: 10px 30px;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  color: white;
  font-weight: 400;
  transition: all 250ms ease-in-out;
  -webkit-appearance: none; }
  .btn:hover {
    background: #37a467; }
  .btn.alternate {
    background: none;
    border: 1px solid #DEDEDE;
    color: #565656; }
    .btn.alternate:hover, .btn.alternate.active {
      border-color: #3DB773;
      color: #3DB773; }

.signin {
  position: relative; }

.nav-bar {
  width: 100%;
  padding: 20px 0;
  height: 50px;
  float: left; }
  @media (max-width: 600px) {
    .nav-bar {
      padding-bottom: 5px; } }
  .nav-bar .logo {
    height: 35px; }
    @media (max-width: 600px) {
      .nav-bar .logo {
        height: 25px; } }

.section,
footer {
  width: 100%;
  float: left;
  padding: 70px 0; }
  @media (max-width: 600px) {
    .section,
    footer {
      padding: 40px 0; } }
  .section.banner,
  footer.banner {
    height: calc(100vh - 300px);
    margin-top: 6em; }
    @media (max-width: 600px) {
      .section.banner,
      footer.banner {
        margin-top: 0;
        padding-top: 0 !important;
        height: auto !important; } }
    .section.banner img,
    footer.banner img {
      width: 100%;
      margin-right: 0px;
      opacity: 0;
      animation: banner 300ms ease-in-out 800ms;
      animation-fill-mode: forwards; }
    .section.banner h1,
    footer.banner h1 {
      margin-top: 0px;
      opacity: 0;
      animation: slideIn 300ms ease-in-out 300ms;
      animation-fill-mode: forwards; }
    .section.banner p,
    footer.banner p {
      margin-top: 20px;
      opacity: 0;
      animation: slideIn2 300ms ease-in-out 500ms;
      animation-fill-mode: forwards; }
    .section.banner .signup-btn,
    footer.banner .signup-btn {
      margin-top: 20px;
      opacity: 0;
      animation: slideIn2 300ms ease-in-out 600ms;
      animation-fill-mode: forwards;
      z-index: 800; }
  .section.usp,
  footer.usp {
    text-align: center; }
    .section.usp img,
    footer.usp img {
      width: 70%; }
      @media (max-width: 600px) {
        .section.usp img,
        footer.usp img {
          width: 50%; } }
  .section.categories,
  footer.categories {
    background: #3DB773;
    color: white;
    text-align: center; }
    .section.categories h1,
    footer.categories h1 {
      color: white;
      font-size: 1.8em; }
    .section.categories img,
    footer.categories img {
      width: 100%; }
      @media (max-width: 600px) {
        .section.categories img.desktop,
        footer.categories img.desktop {
          display: none; } }
      .section.categories img.mobile,
      footer.categories img.mobile {
        display: none; }
        @media (max-width: 600px) {
          .section.categories img.mobile,
          footer.categories img.mobile {
            display: block; } }
    .section.categories .btn.white,
    footer.categories .btn.white {
      border-color: white;
      color: white; }
      .section.categories .btn.white:hover,
      footer.categories .btn.white:hover {
        background: white;
        color: #3DB773; }
  .section.reviews h1,
  footer.reviews h1 {
    font-size: 1.8em;
    text-align: center; }
  .section.reviews .cta,
  footer.reviews .cta {
    text-align: center; }
  .section.reviews > .review-cards,
  footer.reviews > .review-cards {
    width: 100%; }

.card {
  width: 430px;
  padding: 20px;
  margin: 10px;
  height: 150px;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #ececec; }
  @media (max-width: 600px) {
    .card {
      width: calc(100% - 20px);
      height: auto; } }
  .card .avatar {
    width: 75px;
    background: #333;
    display: block;
    border-radius: 80px;
    border: 0; }
    .card .avatar.border {
      border: 1px solid #ececec; }
    @media (max-width: 600px) {
      .card .avatar {
        width: 20%; } }
  .card .review {
    margin-left: 20px;
    width: 330px;
    color: #565656; }
    @media (max-width: 600px) {
      .card .review {
        width: calc(80% - 22px); } }
    .card .review .name {
      font-size: 1.2em;
      font-weight: 400; }
    .card .review .location {
      font-size: .9em;
      color: #9B9B9B; }

footer {
  border-top: 1px solid #DEDEDE;
  font-size: 0.9em; }
  @media (max-width: 600px) {
    footer {
      padding: 20px 0; } }
  footer .need {
    font-weight: 400;
    color: #565656; }
  footer .help-email {
    color: #3DB773; }
  footer .logo {
    height: 25px; }
  footer .copyright {
    font-size: .7em; }
  footer .social {
    float: right; }
    @media (max-width: 600px) {
      footer .social {
        float: none; } }
  footer .social img {
    height: 32px; }
  footer .foot-links {
    text-align: right; }
    @media (max-width: 600px) {
      footer .foot-links {
        text-align: center;
        width: 100%;
        float: left;
        margin-bottom: 20px; } }
    footer .foot-links .links {
      padding: 5px; }
    footer .foot-links .links a {
      text-decoration: none;
      color: #565656; }
      footer .foot-links .links a:hover {
        text-decoration: underline; }
  @media (max-width: 600px) {
    footer .hfh-info {
      display: none; } }
  footer .hfh-info-mobile {
    display: none; }
    @media (max-width: 600px) {
      footer .hfh-info-mobile {
        display: block; } }
