<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Hirefreehands - Affordable Top Quality Freelancers</title>

	<base href="https://hirefreehands.tech/">
	<!-- <base href="http://hirefreehands.tech/"> -->

	<!-- <meta property="api_url" content="http://api.hirefreehands.com/"> -->
	<meta property="api_url" content="https://api.hirefreehands.com/">

	<link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">

	<link rel="stylesheet" type="text/css" href="landing/new_assets/css/style.css">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" type="image/png" href="landing/new_assets/favicon.png" />
	<!-- Start of Async Drift Code -->
	<script>
	!function() {
	  var t;
	  if (t = window.driftt = window.drift = window.driftt || [], !t.init) return t.invoked ? void (window.console && console.error && console.error("Drift snippet included twice.")) : (t.invoked = !0,
	  t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ],
	  t.factory = function(e) {
	    return function() {
	      var n;
	      return n = Array.prototype.slice.call(arguments), n.unshift(e), t.push(n), t;
	    };
	  }, t.methods.forEach(function(e) {
	    t[e] = t.factory(e);
	  }), t.load = function(t) {
	    var e, n, o, i;
	    e = 3e5, i = Math.ceil(new Date() / e) * e, o = document.createElement("script"),
	    o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + i + "/" + t + ".js",
	    n = document.getElementsByTagName("script")[0], n.parentNode.insertBefore(o, n);
	  });
	}();
	drift.SNIPPET_VERSION = '0.3.1';
	drift.load('h84gahpav6ku');
	</script>
	<!-- End of Async Drift Code -->
</head>

<body ng-app="hfhApp" ng-controller="hfhAppCtrl">

	<!-- Nav Bar-->
	<nav class="nav-bar">
		<div class="container">
			<a href="/"><img src="landing/new_assets/img/HFH-Logo.svg" alt="Hirefreehands Logo" class="logo"></a>
		</div>
	</nav>
	<!-- Nav Bar End-->

	<!-- Banner Section -->
	<section class="section banner">
		<div class="container">
			<form class="form signup-form show" name="signupForm">
				<h1>Welcome back</h1>
				

					<div class="alert-error" ng-show="error !== undefined && error.message !== ''">
						{{ error.message }}
					</div>


					<input type="email" placeholder="Email" name="email" ng-model="signinFormParams.email" required>
					<input type="password" placeholder="Password" name="password" ng-model="signinFormParams.password" required>
					<a href="javascript:;" class="forgot-pass">Forgot Password?</a>
					<button type="button" class="btn btn-action right margin-10" ng-click="doLogin()" ng-disabled="signinForm.$invalid">

						 <span ng-if="!isLoading">
							Sign In
						 </span>
						 
						 <span ng-if="isLoading">
						 	<i class="fa fa-spinner fa-spin fa-2x"></i>
						 </span>

					</button>
					<a href="javascript:;" class="forgot-pass center">Don't have an account? Sign Up</a>
				</form>
				
		</div>
	</section>
	<!-- Banner Section End -->

	
	<footer class="footer">
		<div class="container">
			<div class="column width-50 left hfh-info">
				<p>
					<strong class="need">Need any help?</strong><br> Get in touch with us on
					<a href="mailto:help@hirefreehands.tech" class="help-email">help@hirefreehands.tech</a>
				</p>
				<img src="landing/new_assets/img/HFH-Mono@2x.png" alt="HFH Logo" class="logo margin-50">
				<p class="copyright">&copy; Hirefreehands 2017. All Rights Reserved</p>
			</div>
			<div class="column width-50 right">
				<ul class="foot-links">
					<li class="links"><a href="#">Blog</a></li>
					<li class="links"><a href="#">Terms of Service</a></li>
					<li class="links"><a href="#">Support</a></li>
				</ul>
				<div class="social margin-10">
					<a href="https://www.facebook.com/hirefreehands" target="_blank"><img src="landing/new_assets/img/fb-icon.png" alt="Facebook"></a>
					<a href="https://www.twitter.com/hirefreehands" target="_blank"><img src="landing/new_assets/img/tw-icon.png" alt="Twitter"></a>
					<a href="https://ng.linkedin.com/company/hirefreehands" target="_blank"><img src="landing/new_assets/img/linkedin-icon.png" alt="LinkedIn"></a>
				</div>
			</div>
			<div class="column width-50 left hfh-info-mobile">
				<p>
					<strong class="need">Need any help?</strong><br> Get in touch with us on
					<a href="mailto:help@hirefreehands.tech" class="help-email">help@hirefreehands.tech</a>
				</p>
				<img src="landing/new_assets/img/HFH-Mono@2x.png" alt="HFH Logo" class="logo margin-50">
				<p class="copyright">&copy; Hirefreehands 2017. All Rights Reserved</p>
			</div>
		</div>
	</footer>

	<script src="landing/new_assets/js/jquery.js" type="text/javascript"></script>
	<script src="landing/new_assets/js/angular.js" type="text/javascript"></script>
	<script src="landing/new_assets/js/ngStorage.js" type="text/javascript"></script>
	<script src="landing/new_assets/js/main.js" type="text/javascript"></script>
</body>

</html>
